<div class="fixed-top-right ml-10 mt-10 ml-3 mt-2">
	<p><strong><a href="{:url('software/php/index', 'template=php-word_press-index')}" target="_self">WordPress</a></strong></p>

	<ol>
		<li><a href="{:url('software/php/index', 'template=php-word_press-model')}" target="_self">AAA</a></li>
		<li><a href="{:url('software/php/index', 'template=php-word_press-view')}" target="_self">BBB</a></li>
		<li><a href="{:url('software/php/index', 'template=php-word_press-controller')}" target="_self">CCC</a></li>
	</ol>	

	<div class="fixed-bottom-right">
		<hr>
		<p>
			参考资料<br>
			<a href="https://codex.wordpress.org/Main_Page">WordPress官方文档</a><br>
		</p>
	</div>
</div>

