{include file="php/word_press/template/header" title="WordPress" /}

<div class="list list-number">
    <div class="title">主机要求</div>
    <div class="content closed">
		<p><a href="https://codex.wordpress.org/zh-cn:WordPress%E7%BD%91%E7%AB%99%E4%B8%BB%E6%9C%BA">服务器要求</a></p>
    </div>

    <div class="title">文档阅读</div>
    <div class="content closed">
		<P><a href="https://codex.wordpress.org/zh-cn:%E5%8D%9A%E5%AE%A2%E7%9A%84%E8%AE%BE%E8%AE%A1%E5%92%8C%E5%B8%83%E5%B1%80">博客设计和布局</a></P>
    </div>

	<div class="title">WordPress使用</div>
    <div class="content closed">

    </div>

	<div class="title">WordPress开发</div>
    <div class="content closed">

    </div>
</div>

{include file="php/word_press/template/footer" /}