{include file="php/tp5/template/header" title="TP5 Controller" /}

<div class="list list-number">
	<div class="title">定义控制器</div>
	<div class="content open">
		<pre class="prettyprint linenums lang-php">
<code>
&lt;?php
namespace app\index\controller;

class Index
{
    public function index()
    {
        return 'Hello,World！';
    }
}
</code>
		</pre>

		<div class="list list-none">
			<div class="title">带参数方法</div>
			<div class="content closed">
				<p>可以为操作方法定义参数, 例如：</p>
				<pre class="prettyprint linenums lang-php">
<code>
&lt;?php
namespace app\index\controller;

class Index
{
    public function index($name = 'World')
    {
        return 'Hello,' . $name . '！';
    }
}
</code>
				</pre>
				<p>当我们带name参数访问入口文件地址（例如 http://tp5.com?name=ThinkPHP）的时候, 在浏览器中可以看到如下输出：</p>
				<pre class="prettyprint linenums lang-php"><code>Hello,ThinkPHP!</code></pre>
			</div>

			<div class="title">private & protected方法</div>
			<div class="content closed">
				<p>控制器类可以包括多个操作方法, 但如果你的操作方法是protected或者private类型的话, 是无法直接通过URL访问到该操作的, 也就是说只有public类型的操作方法才是可以通过URL访问的.</p>
			</div>
		</div>
	</div>

	<div class="title">访问控制器</div>
	<div class="content closed">
		<p>localhost/tp5/public/index.php/模块/控制器/方法/参数名/参数值/参数名/参数值...</p>
		<p><strong>驼峰控制器</strong></p>
		<p>如果控制器的名字采用驼峰命名法, 例如控制器名为HelloWorld, 则URL中控制器名字要写为hello_world.</p>
		<p><strong>为什么访问路径是错的, 还可以访问?</strong></p>
		<p>因为public目录下有一个Apache的伪静态配置文件:</p>
		<div class="bg-light p-2">
			&lt;IfModule mod_rewrite.c>    # 如果mode_rewrite.c模块存在, 则执行以下命令 <br>
			Options +FollowSymlinks -Multiviews <br>
			RewriteEngine On    # 开启 rewriteEngine <br><br>

			RewriteCond %{REQUEST_FILENAME} !-d    # !-d 不是目录或目录不存在 <br>
			RewriteCond %{REQUEST_FILENAME} !-f    # !-f 不是文件或文件不存在 <br><br>

			# 转给index.php 处理. # [L] 这是最后一个匹配项, 不再往下匹配 <br>
			RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L] <br>
			&lt;/IfModule>
		</div>
	</div>

	<div class="title">请求</div>
	<div class="content open">
		<p>Request对象是从客户端向服务器发出的请求, 包括用户提交的信息以及客户端的一些信息.</p>
		<p>TP5的Request对象由think\Request类完成. Request对象的一个主要职责是统一和更安全地获取当前的请求信息, 你需要避免直接操作$_GET、$_POST、$_REQUEST、$_SESSION、$_COOKIE, 甚至$_FILES等全局变量, 而是统一使用Request对象提供的方法来获取请求变量.</p>

		<div class="list list-number">
			<div class="title">获取Request对象</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
&lt;?php
namespace app\index\controller;
use think\Request;

class Inex extends Controller
{
    // 1) 传统方法: 该用法主要是用来告诉大家Request对象是如何实例化的, 实际开发中很少选择这种方式调用.
    public function index()
    {
        $request = Request::instance();
        return $request->url();
    }

    // 2) 继承think\Controller: 如果控制器继承了think\Controller的话, 可以做如下简化调用.
    public function hello($name = 'World')
    {
        echo $this->request->url() . '&lt;br/>';
        return 'Hello,' . $name . '!';       
    }

    // 3) 自动注入请求对象: index方法的request参数是系统自动注入的, 而不需要通过URL请求传入. 这是系统建议的方式.
	public function index(Request $request) {
		return $request->url();
	}

    // 4) 使用助手函数
	public function index() {
		return request()->url();
	}
}
</code>
				</pre>
			</div>

			<div class="title">使用Request对象</div>
			<div class="content closed">
				<p>详见<a href="https://www.kancloud.cn/manual/thinkphp5/118042">手册</a></p>
			</div>
		</div>
	</div>

	<div class="title">响应</div>
    <div class="content open">
		<p>
			Response对象用于动态响应客户端请示，控制发送给用户的信息，并将动态生成响应。通常用于输出数据给客户端或者浏览器. <br>
			TP5的Response响应对象由think\Response类或者子类完成.
		</p>
		<div class="list list-number">
			<div class="title">自动输出</div>
			<div class="content closed">
				<p>大多数情况，我们不需要关注Response对象本身，只需要在控制器的操作方法中返回数据即可，系统会根据default_return_type和default_ajax_return配置决定响应输出的类型。</p>
				<pre class="prettyprint linenums">
<code>
&lt;?php
namespace app\index\controller;

class Index
{
    public function hello()
    {
        $data = ['name' => 'thinkphp', 'status' => '1'];
        return $data;
    }
}
</code>
				</pre>
				<p>由于默认是输出Html输出，所以访问页面输出结果为：</p>
				<pre class="prettyprint linenums">
<code>
variable type error： array
</code>
				</pre>

				<p>修改配置文件为json:</p>
				<pre class="prettyprint linenums">
<code>
// 默认输出类型
'default_return_type'    => 'json',
</code>
				</pre>
				<p>再次访问的输出结果为：</p>
				<pre class="prettyprint linenums">
<code>
{"name":"thinkphp","status":"1"}
</code>
				</pre>

				<p>修改输出类型为xml：</p>
				<pre class="prettyprint linenums">
<code>
// 默认输出类型
'default_return_type'    => 'xml',
</code>
				</pre>
				<p>则输出结果变成: </p>
				<pre class="prettyprint linenums">
<code>
&lt;think>
&lt;name>thinkphp&lt;/name>
&lt;status>1&lt;/status>
&lt;/think>
</code>
				</pre>
			</div>

			<div class="title">手动输出</div>
			<div class="content closed">
				<p>在必要的时候，可以手动控制输出类型和参数，这种方式较为灵活。如果需要指定输出类型，可以通过下面的方式：</p>
				<pre class="prettyprint linenums">
<code>
// html(默认输出)
public function hello()
{
    return '直接返回html信息';
}

// view(渲染模板输出)
public function hello()
{
    return $this->fetch('index/index2');
}

// json输出
public function hello()
{
    $data = ['name' => 'thinkphp', 'status' => '1'];
    return json($data);
}

// xml输出
public function hello()
{
    $data = ['name' => 'thinkphp', 'status' => '1'];
    return xml($data);
}
</code>
				</pre>
			</div>

			<div class="title">页面重定向</div>
			<div class="content closed">
				<p>如果需要进行一些简单的页面操作提示或者重定向，可以引入traits\controller\Jump，就可以使用相关页面跳转和重定向方法，下面举一个简单的例子</p>
				<pre class="prettyprint linenums">
<code>
namespace app\index\controller;

class Index
{
    // 引入了一个Jump trait, 这是PHP5.4版本的新特性, 如果你的控制器类是继承的\think\Controller的话, 系统已经自动为你引入了 \traits\controller\Jump, 无需再次引入.
    use \traits\controller\Jump;

    public function index($name='')
    {
        if ( $name == 'admin' ) {
            $this->success('欢迎使用ThinkPHP 5.0','hello');    // 跳转到成功页面

        } else if ( $name == 'error' ) {
            $this->error('错误的name','guest');                // 跳转到失败页面

        } else if ( $name == 'redirect' ) {
            $this->redirect('http://thinkphp.cn');             // 直接重定向
        }
    }

    public function hello()
    {
        return 'Hello, ThinkPHP!';
    }

    public function guest()
    {
        return 'Hello, Guest!';
    }
}
</code>
				</pre>
			</div>
		</div>
    </div>
</div>

{include file="php/tp5/template/footer" /}