<div class="fixed-top ml-10 mt-10 ml-3 mt-2" style="width: 128px;">
	<p><strong><a href="{:url('software/php/index', 'template=php-tp5-index')}" target="_self">Think PHP</a></strong></p>

	<ol>
		<li><a href="{:url('software/php/index', 'template=php-tp5-model')}" target="_self">Model</a></li>
		<li><a href="{:url('software/php/index', 'template=php-tp5-view')}" target="_self">View</a></li>
		<li><a href="{:url('software/php/index', 'template=php-tp5-controller')}" target="_self">Controller</a></li>
		<li><a href="{:url('software/php/index', 'template=php-tp5-database_programming')}" target="_self">数据库编程</a></li>
	</ol>	

	<br><br><br>
	<hr>
	<div>
		<a href="https://www.kancloud.cn/thinkphp/thinkphp5_quickstart/147278">TP5快速入门</a><br>
		<a href="https://www.kancloud.cn/manual/thinkphp5/118003">TP5.0完全开发手册</a>
	</div>
</div>

