{include file="php/tp5/template/header" title="TP5 数据库编程" /}

<div class="list list-number">
	<!--准备工作-->
    <div class="title">准备工作</div>
    <div class="content closed">
		<p class="text-strong">数据库配置</p>
		<p>
			全局数据库配置: appliation/database.php <br>
			模块数据库配置: application/某个模块/database.php. 只需要配置和全局数据库配置差异的部分.
		</p>
		<p class="text-strong">编写控制器</p>
		<p>
			在进行数据库查询之前, 首先必须先创建一个控制器类, 以及一个操作方法用于测试, 类似于：
		</p>
		<pre class="prettyprint linenums">
<code>
&lt;?php
namespace app\index\controller;

use think\Db;    // 引入Db类

class Index
{
    public function index()
    {
        // 后面的数据库查询代码都放在这个位置.
    }
}
</code>
		</pre>
    </div>

	<!--原生SQL查询-->
    <div class="title">原生SQL查询( Db::query & Db::execute)</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">query & execute</div>
			<div class="content closed">
				<p>
					原生的SQL查询操作, 包括query和execute两个方法: <br>
					1) query方法用于查询, 默认情况下返回的是二维数组; <br>
					2) execute方法用于写操作, 返回值是影响的记录数.
				</p>
				<pre class="prettyprint linenums">
<code>
$result = Db::query('select * from think_data where id = 5');
$result = Db::query('show tables from demo');

$result = Db::execute('insert into think_data (id, name ,status) values (5, "thinkphp",1)');
$result = Db::execute('update think_data set name = "framework" where id = 5 ');
$result = Db::execute('delete from think_data where id = 5 ');
$result = Db::execute('TRUNCATE table think_data');
</code>
				</pre>
			</div>

			<div class="title">切换数据库</div>
			<div class="content closed">
				<p>在进行数据库查询的时候, 支持切换数据库进行查询, 可以使用Db::connect()</p>
				<pre class="prettyprint linenums">
<code>
$result = Db::connect([
    'type' => 'mysql',            // 数据库类型
    'hostname' => '127.0.0.1',    // 服务器地址
    'database' => 'thinkphp',     // 数据库名
    'username' => 'root',         // 数据库用户名
    'password' => '123456',       // 数据库密码
    'hostport' => '',             // 数据库连接端口
    'params' => [],               // 数据库连接参数
    'charset' => 'utf8',          // 数据库编码默认采用utf8
    'prefix' => 'think_',         // 数据库表前缀
])->query('select * from think_data');
</code>
				</pre>

				<p>或者采用字符串方式定义（字符串方式无法定义数据表前缀和连接参数）, 如下：</p>
				<pre class="prettyprint linenums">
<code>
$result = Db::connect('mysql://root:123456@127.0.0.1:3306/thinkphp#utf8')
    ->query('select * from think_data where id = 1');
</code>
				</pre>

				<p>为了简化代码, 推荐的做法是事先在配置文件中定义好多个数据库的连接配置, 例如, 我们在应用配置文件（application/config.php）中添加配置如下：</p>
				<pre class="prettyprint linenums">
<code>
// 数据库配置1
'db1' => [
    ....
],

// 数据库配置2
'db2' => [
    ...
],

$result = Db::connect('db1')->query('select * from think_data where id = 1');
$result = Db::connect('db2')->query('select * from think_data where id = 1');
</code>
				</pre>

				<p>connect方法中的配置参数需要完整定义, 并且仅仅对当此查询有效, 下次调用Db类的时候还是使用默认的数据库连接. 如果需要多次切换数据库查询, 可以使用：</p>
				<pre class="prettyprint linenums">
<code>
$db1 = Db::connect('db1');
$db2 = Db::connect('db2');
$db1->query('select * from think_data where id = 1');
$db2->query('select * from think_data where id = 1');
</code>
				</pre>
			</div>

			<div class="title">使用占位符</div>
			<div class="content closed">
				<p>?占位符</p>
				<pre class="prettyprint linenums">
<code>
Db::execute('insert into think_data (id, name ,status) values (?, ?, ?)', [8, 'thinkphp', 1]);    // 数字索引数组
</code>
				</pre>

				<p>:占位符</p>
				<pre class="prettyprint linenums">
<code>
Db::execute('insert into think_data (id, name , status) values (:id, :name, :status)', ['id' => 10, 'name' => 'thinkphp', 'status' => 1]);    // 字符串索引数组
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">查询构造器</div>
	<div class="content open">
		<div class="list list-number">

			<!--table(), name() & db()-->
			<div class="title">table(), name() & db()</div>
			<div class="content closed">
				<p>
					查询构造器基于PDO实现, 对不同的数据库驱动都是统一的语法. <br>
					TP5的查询构造器使用PDO参数绑定, 以保护应用程序免于SQL注入, 因此传入的参数不需额外转义特殊字符.
				</p>
				<p class="text-strong">Db::table()</p>
				<pre class="prettyprint linenums">
<code>
// 插入
Db::table('think_data')
    ->insert(['id' => 18, 'name' => 'thinkphp', 'status' => 1]);

// 更新
Db::table('think_data')
    ->where('id', 18)
    ->update(['name' => "hello"]);

// 查询
$list = Db::table('think_data')
    ->where('id', 18)
    ->select();

// 删除
Db::table('think_data')
    ->where('id', 18)
    ->delete();
</code>
				</pre>

				<p class="text-strong">Db:name()</p>
				<p>不需要表前缀, 其他同Db:table()</p>

				<p class="text-strong">db()助手函数</p>
				<p>使用助手函数db则可以进一步简化查询代码：</p>
				<pre class="prettyprint linenums">
<code>
$table = db('data');

// 插入记录
$table->insert(['id' => 20, 'name' => 'thinkphp']);

// 更新记录
$table->where('id', 20)
   ->update(['name' => "framework"]);

// 查询数据
$list = $db->where('id', 20)
           ->select();

// 删除数据
$table->where('id', 20)
   ->delete();
</code>
				</pre>
				<p class="text-danger">备注: db助手函数默认会每次重新连接数据库, 因此应当尽量避免多次调用.</p>
			</div>

			<div class="title">查询方法</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">select</div>
					<div class="content closed">
						<p>
							返回满足条件的所有记录. <br>
							如果查询成功, 返回的是一个二维数组; 否则, 返回空数组（也支持设置是否需要抛出异常）.
						</p>
					</div>

					<div class="title">find</div>
					<div class="content closed">
						<p>
							返回满足条件的第1条记录. <br>
							如果查询成功, 返回的是一个一维数组, 否则, 返回null（也支持设置是否抛出异常）.
						</p>
					</div>

					<div class="title">insert</div>
					<div class="content closed">

					</div>

					<div class="title">update</div>
					<div class="content closed">

					</div>

					<div class="title">delete</div>
					<div class="content closed">

					</div>

					<div class="title">value</div>
					<div class="content closed">
						<p>返回满足条件的第一笔记录中某个字段的值. 例如: </p>
						<pre class="prettyprint linenums">
<code>
$name = Db::name('data')
    ->where('id', 8)
    ->value('name');
</code>
						</pre>
					</div>

					<div class="title">column</div>
					<div class="content closed">
						<p>
							返回满条件的所有记录中某个字段的值. <br>
							如果查询成功, 返回的是一个一维数组; 否则, 返回空数组（也支持设置是否需要抛出异常）
						</p>

						<p class="text-strong">获取name列的值</p>
						<pre class="prettyprint linenums">
<code>
$list = Db::name('data')
    ->where('status', 1)
    ->column('name');
</code>
						</pre>
						<p>返回的结果类似下面:</p>
						<pre class="prettyprint linenums">
<code>
array (size=5)
    0 => string 'thinkphp' 
    1 => string 'onethink' 
    2 => string 'topthink'
    3 => string 'kancloud'
</code>
						</pre>

						<p class="text-strong">获取name列的值, 索引是id</p>
						<pre class="prettyprint linenums">
<code>
$list = Db::name('data')
    ->where('status', 1)
    ->column('name', 'id');
</code>
						</pre>	
						<p>返回的结果类似下面:</p>
						<pre class="prettyprint linenums">
<code>
array (size=5)
    1 => string 'thinkphp' 
    2 => string 'onethink' 
    3 => string 'topthink' 
    4 => string 'kancloud'
</code>
						</pre>

						<p class="text-strong">获取所有列的值, 索引是id</p>
						<pre class="prettyprint linenums">
<code>
$list = Db::name('data')
    ->where('status', 1)
    ->column('*', 'id');
</code>
						</pre>	
						<p>返回的结果类似下面:</p>
						<pre class="prettyprint linenums">
<code>
array (size=5)
    1 => array (size=3)
        'id' => int 1
        'name' => string 'thinkphp'
        'status'=> int 1
    2 => array (size=3) 
        'id' => int 1
        'name' => string 'onethink'
        'status'=> int 1 
    3 => array (size=3) 
        'id' => int 1
        'name' => string 'topthink'
        'status'=> int 1 
    4 => array (size=3) 
        'id' => int 1
        'name' => string 'kancloud'
        'status'=> int 1
</code>
						</pre>	
					</div>

					<div class="title">chunk</div>
					<div class="content closed">
						<p>分块查询</p>
					</div>

					<div class="title">count</div>
					<div class="content closed">
						<p>聚合函数</p>
					</div>
				</div>
			</div>

			<div class="title">查询条件</div>
			<div class="content closed">
				<p>使用表达式查询的时候, where方法的参数依次为：where(字段名,  条件表达式, 查询值).</p>
				<p>ThinkPHP支持的查询表达式包括:</p>
				<table class="table table-bordered table-sm">
					<tbody>
						<tr>
							<th>表达式</th>
							<th>范例</th>
							<th>备注</th>
						</tr>
						<tr>
							<td>EQ, =</td>
							<td>where('id', '=', 1)</td>
							<td></td>
						</tr>
						<tr>
							<td>NEQ, <></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>GT, ></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>EGT, >=</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>LT, <</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>ELT, <=</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>LIKE</td>
							<td>where('name', 'like', '%think%')</td>
							<td></td>
						</tr>
						<tr>
							<td>[NOT] BETWEEN</td>
							<td>where('id', 'between', [1,3])</td>
							<td></td>
						</tr>
						<tr>
							<td>[NOT] IN</td>
							<td>where('id', 'in', [1,2,3])</td>
							<td></td>
						</tr>
						<tr>
							<td>[NOT] NULL</td>
							<td>where('id', 'null')</td>
							<td></td>
						</tr>
						<tr>
							<td>[NOT] EXISTS</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>EXP</td>
							<td>where('id', 'exp', '>=1')</td>
							<td>exp查询的条件不会被当成字符串，所以后面的查询条件可以使用任何SQL支持的语法，包括使用函数和字段名称。where('id', 'exp', '>=1') = where('id', '>', 1)</td>
						</tr>
					</tbody>
				</table>	
				<p class="text-danger">备注: 条件表达式不区分大小写</p>

				<div class="list list-number">
					<div class="title">多条件查询</div>
					<div class="content closed">
						<p class="text-strong">在一个where函数中使用多个查询表达式</p>
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->where('id', ['in', [1, 2, 3]], ['between', '5,8'], 'or')
    ->select();
</code>
						</pre>

						<p class="text-strong">多个where函数之间是and关系</p>
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->where('id', 'between', [1, 3])
    ->where('name', 'like', '%think%')
    ->select();
</code>
						</pre>

						<p class="text-strong">快捷查询</p>
						<p>如果你有多个字段需要使用相同的查询条件，可以使用快捷查询. 例如, 我们要查询id和status都大于0的数据, 可以使用：</p>
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->where('id&status', '>', 0)
    ->select();
</code>
						</pre>
						<p>也可以使用or方式查询, 例如:</p>
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->where('id|status', '>', 0)
    ->select();
</code>
						</pre>
					</div>

					<div class="title">原生字符串查询</div>
					<div class="content closed">
						<p>在必要的时候, 仍然可以使用原生的字符串查询, 但建议是配合参数绑定一起使用, 可以避免注入问题, 例如：</p>
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->where('id > :id AND name IS NOT NULL', ['id' => 10])
    ->select();
</code>
						</pre>
					</div>

					<div class="title">时间（日期）查询</div>
					<div class="content closed">
						<pre class="prettyprint linenums">
<code>
$result = Db::name('data')
    ->whereTime('create_time', '>', '2016-1-1')    // 大于某天
    ->select();

$result = Db::name('data')
    ->whereTime('create_time', 'between', ['2016-1-1', '2016-7-1'])    // 位于某段时间内
    ->select();

$result = Db::name('data')
    ->whereTime('create_time', '>', '-2 days')    // 最近两天添加的数据
    ->select();

$result = Db::name('data')
    ->whereTime('create_time', 'yesterday')    // 昨天
    ->select();

$result = Db::name('data')
    ->whereTime('create_time', 'today')    // 今天
    ->select();

$result = Db::name('data')
    ->whereTime('create_time', 'last week')    // 上周
    ->select()

$result = Db::name('data')
    ->whereTime('create_time', 'this week')    // 本周
    ->select();
</code>
						</pre>
					</div>
				</div>
			</div>

			<div class="title">视图查询</div>
			<div class="content closed">
				tbd...
			</div>
		</div>
	</div>

	<div class="title">模型的对象化查询</div>
	<div class="content open">

	</div>

	<div class="title">事物支持</div>
	<div class="content open">

	</div>
</div>

{include file="php/tp5/template/footer" /}