{include file="php/tp5/template/header" title="XX XX" /}
<p>
	ThinkPHP是一个快速、简单的基于MVC和面向对象的轻量级PHP开发框架，遵循Apache2开源协议发布.
</p>

<p>
	TP5基于PHP5.4设计(完美支持PHP7).
</p>

<p>                
	TP5安装&设置 <br>
	TP5运行环境要求 <br>
	PHP >= 5.4.0 （完美支持PHP7） <br>
	PDO PHP Extension <br>
	MBstring PHP Extension <br>
	CURL PHP Extension <br>
	配置Apache(以phpStudy为例) <br>
	修改hosts文件(C:\Windows\System32\drivers\hosts) <br>
	127.0.0.1 tp5.com<br> 
	修改httpd.conf文件(C:\phpStudy\Apache\conf) <br>
	# Virtual hosts<br> 
	Include conf/extra/httpd-vhosts.conf <br>
	修改httpd-vhosts.conf文件(C:\phpStudy\Apache\conf\extra)<br>
	127.0.0.1 tp5.com <br>
	修改httpd.conf文件(C:\phpStudy\Apache\conf) <br>
	# Virtual hosts <br>
	Include conf/extra/httpd-vhosts.conf <br>
	修改httpd-vhosts.conf文件(C:\phpStudy\Apache\conf\extra)<br>
	127.0.0.1 tp5.com <br>
	修改httpd.conf文件(C:\phpStudy\Apache\conf) <br>
	# Virtual hosts <br>
	Include conf/extra/httpd-vhosts.conf <br>
	修改httpd-vhosts.conf文件(C:\phpStudy\Apache\conf\extra)<br>
</p> 
{include file="php/tp5/template/footer" /}