		</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__STATIC__/jquery/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/bootstrap/js/bootstrap.js"></script>
<!-- 折叠内容 -->
<script src="__ROOT__/static/jack/fold/fold.js"></script>
<script src="__ROOT__/static/jack/collapse/collapse.js"></script>
<!-- 代码着色 -->
<script src="__ROOT__/static/prettify/prettify.js"></script>
</body>

</html>