<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

		<link rel="shortcut icon" href="__ROOT__/static/image/note.ico">
		<title>[title]</title>

		<base target="_blank">

		<!-- Bootstrap -->
		<link href="__ROOT__/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->

		<!-- Jack的默认自定义样式 -->
		<link href="__ROOT__/static/jack/css/default.css" rel="stylesheet">

		<!-- 折叠样式 -->
		<link href="__ROOT__/static/jack/fold/fold.css" rel="stylesheet">
        <link href="__ROOT__/static/jack/collapse/collapse.css" rel="stylesheet">

		<!-- 代码着色Prettify样式 -->
		<link href="__ROOT__/static/prettify/prettify.css" rel="stylesheet">
	</head>

	<body onload="prettyPrint()">

		{include file="php/tp5/content" /}

		<div class="container-fluid">
			<div class="row">
				<div class="col-1">
				</div>
				<div class="col-11">
