{include file="template/header" title="PHP 数据" /}

<div class="list list-number">
    <div class="title">常用数据类型</div>
    <div class="content open">
        <div class="container ml-0">
            <div class="row">
                <div class="col-1">
                    <strong>基本类型</strong>
                </div>
                <div class="col-1">
                    <a href="{:url('software/php/index', 'template=php-data-string')}">字符串</a>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <strong>复杂类型</strong>
                </div>
                <div class="col-1">
                    <a href="{:url('software/php/index', 'template=php-data-array')}">数组</a>
                </div>
                <div class="col-1">

                </div>
                <div class="col-1">
                    <a href="{:url('software/php/index', 'template=php-data-null')}">null</a>
                </div>
                <div class="col-1">
                    <a href="{:url('software/php/index', 'template=php-data-resource')}">resource</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rm">
    <p>
        备注:<br>
    </p>
</div>
{include file="template/footer" /}