{include file="template/header" title="PHP 日期" /}
<ol>
    <li>DateTime类型</li>
    <div>
        <a href="http://php.net/manual/zh/class.datetime.php" target="_blank">DateTime</a>
    </div>
    <li>Unix时间戳</li>
    <div>
        <a title="格式化时间戳" href="http://php.net/manual/zh/function.date.php" target="_blank">date()</a>,
        <a title="返回Unix时间戳" href="http://php.net/manual/zh/function.time.php" taget="_blank">time()</a>,
        <a title="返回指定日期的时间戳" href="http://php.net/manual/zh/function.mktime.php" target="_blank">mktime()</a>,
        <a title="把字符串时间转成时间戳" href="http://php.net/manual/zh/function.strtotime.php" target="_blank">strtotime()</a>
    </div>
</ol>
{include file="template/footer" /}