{include file="template/header" title="PHP 开发环境" /}
<div class="list list-number">
    <div class="title">开发环境</div>
    <div class="content closed">
        <p><strong>常用集成开发环境: </strong></p>
        <p><a href="http://www.phpstudy.net/">phpStudy</a></p>
        <p><strong>设置DocumentRoot</strong></p>
        <p>配置http.conf文件, 然后重启Apache.</p>
        <pre class="prettyprint linenums lang-php">
<code>#
# DocumentRoot: The directory out of which you will serve your
# documents. By default, all requests are taken from this directory, but
# symbolic links and aliases may be used to point to other locations.
#
DocumentRoot "C:/Program Files/Apache Software Foundation/Apache2.2/htdocs" ==> DocumentRoot "C:/htdocs"
# This should be changed to whatever you set DocumentRoot to.
#
&lt;Directory "C:/Program Files/Apache Software Foundation/Apache2.2/htdocs"&gt; ==> &lt;Directory "C:/htdocs"&gt;</code></pre>
    </div>

    <div class="title">开发工具</div>
    <div class="content closed">
        <div class="list list-number">
            <div class="title">推荐</div>
            <div class="content open">
                Net Beans(免费), PhpStorm(收费)
            </div>

            <div class="title">安装XDebug</div>
            <div class="content open">
                <p><a href="https://www.cnblogs.com/feichengwulai/articles/6252039.html">php断点调试工具------NetBeans+Xdebug调试php方法（测试成功）</a></p>
            </div>
        </div>
    </div>

    <div class="title">调试</div>
    <div class="content closed">
        <div class="list list-number">
            <div class="title">输出调试信息</div>
            <div class="content closed">
                <pre class="prettyprint linenums lang-php">
<code>
$colors = array('red', 'blue', 'green', 'yellow');
print_r($colors);
var_dump($colors);
echo $colors;
</code>
                </pre>               

                <p>
                    输出结果如下：<br>
                    Array ( [0] => red [1] => blue [2] => green [3] => yellow ) <br>
                    array(4) { [0]=> string(3) "red" [1]=> string(4) "blue" [2]=> string(5) "green" [3]=> string(6) "yellow" } <br>
                    Array <br>
                </p>

                <p>
                    var_dump可以使用任何变量, 此函数显示关于一个或多个表达式的结构信息, 包括表达式的类型与值. 数组将递归展开值, 通过缩进显示其结构.<br>
                    void var_dump ( mixed expression [, mixed expression [, ...]] ) <br>
                </p>
                <p>
                    print_r()显示关于一个变量的易于理解的信息. 如果给出的是string, integer或float, 将打印变量值本身. 如果给出的是array, 将会按照一定格式显示键和元素. object 与数组类似.<br>
                    记住，print_r() 将把数组的指针移到最后边. <br>
                    print_r和var_dump都能输出数组和对象, 但print_r对布尔型的输出不太明显; var_dump输出比较详细, 一般调试时用得多. <br>
                </p>
                <p>
                    echo是语法结构, 也就是关键字, 不是函数. 使用的时候不用加括号, 加上也可以. <br>
                    只支持基本类型, 布尔型除外, echo true的时候显示1, echo false的时候啥都没有.<br>
                    显示多个值的时候可以用逗号隔开. 
                </p>
            </div>

            <div class="title">显示智能提示</div>
            <div class="content closed">
                <p>Ctrl + \</p>
            </div>

            <div class="title">查看Apache日志</div>
            <div class="content closed">
                <p>
                    访问日志文件：/var/log/httpd/access_log
                    错误日志文件：/var/log/httpd/error_log
                </p>
            </div>
        </div>
    </div>

    <div class="title">上传网站</div>
    <div class="content closed">
        <p>
            如果你的开发服务器上的软件和实际府服务器上的软件是兼容, 那么上传网站是很简单的, 步骤如下:<br>
            1) 从开发服务器将PHP文件上传到实际服务器的Web目录. 保证文件结构不变, 确保没有漏掉之前可能创建的文件夹.<br>
            2) 完成数据库转储(使用MySQLdump程序), 得到创建数据库表所需的MySQL语句, 以及将数据从开发服务器上的表移植到实际服务器上的表所需的INSERT语句.<br>
            3) 登录到实际数据库, 运行CREATE和INSERT MySQL语句将数据从你的本地网站移植到实际网站.<br>
            4) 修改PHP文件中的数据库连接代码, 指向实际数据库服务器.<br>
        </p>
    </div>

    <div class="title">常见错误</div>
    <div class="content closed">
        <div class="list list-number">
            <div class="title">Warning: mysqli_fetch_array() expects parameter 1 to be mysqli_result, boolean given in c:\program files\apache group\Apache\htdocs\headfirstphpmysql\ch05\index.php on line 21</div>
            <div class="content closed">
                <p>可能是SQL语句写的有问题!</p>
            </div>

        </div>
    </div>
</div>

{include file="template/footer" /}