{include file="template/header" title="PHP 流程控制" /}

<div class="list list-number">
	<!--条件-->
    <div class="title">条件</div>
    <div class="content open">
        <div class="containter">
            <div class="row">
                <div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>
// if
if (条件) {                            
    ...
}
</code>
					</pre>
                </div>

				<div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>
// else
if (条件) {                            
    ...
} else {
    ...
}
</code>
					</pre>
                </div>

				<div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>
// else if
if (条件1) {                            
    ...
} else if (条件2) {
    ...
}
</code>
					</pre>
                </div>

                <div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>switch (条件) {    // 条件只能是: 整型, 字符串或浮点型
    case 条件值1:
        ...
        break;
    case 条件值2:
        ...
        break;
    default:
        ...
        break;
}</code></pre>
                </div>
            </div> 

            <div class="row">
                <div class="col-12">
                    <p>备注: 条件语句一定要把情况考虑清楚, 不要忘了else情况和default情况, 不一定在代码上体现出来, 但是心里一定要默默考虑到!</p>
                </div>
            </div>
        </div>
    </div>

	<!--循环-->
    <div class="title">循环</div>
    <div class="content open">
        <div class="container-fluid ml-0">
            <div class="row">
                <div class="col-2">
                    while循环
                </div>
                <div class="col-2">
                    do while循环
                </div>
                <div class="col-2">
                    for循环
                </div>
                <div class="col-3">
                    foreach循环
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <pre class="prettyprint linenums lang-php">
<code>while (条件) {    
    ...
}</code></pre>
                </div>
                <div class="col-2">
                    <pre class="prettyprint linenums lang-php">
<code>do {    
    ...
} while(条件)</code></pre>
                </div>
                <div class="col-2">
                    <pre class="prettyprint linenums lang-php">
<code>for (初始化; 条件; 更新) {    
    ...
}</code></pre>
                </div>
                <div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>foreach ($array as $item) {    
    // 可同时用于索引数组和关联数组
}</code></pre>
                </div>
                <div class="col-3">
                    <pre class="prettyprint linenums lang-php">
<code>foreach ($array as $key => $value) {    
    // 可同时用于索引数组和关联数组
}</code></pre>
                </div>
            </div>
        </div>
    </div>

	<!--跳转-->
    <div class="title">跳转</div>
    <div class="content open">
        <p>break; &emsp; continue; &emsp; return; &emsp; <a title="输出一个消息并且退出当前脚本" href="http://php.net/manual/zh/function.exit.php">exit()</a></p>
    </div>

	<!--异常处理-->
    <div class="title">异常处理</div>
    <div class="content closed">
		<p class="text-strong">设置错误报告级别: error_reporting (PHP4)</p>
		<pre class="prettyprint linenums">
<code>
int error_reporting ([ int $level ] )
</code>
		</pre>
		<p>
			PHP 有诸多错误级别，使用该函数可以设置在脚本运行时的级别。 如果没有设置可选参数 level， error_reporting() 仅会返回当前的错误报告级别。
		</p>

		<p class="text-strong">设置错误处理方法: set_error_handler (PHP4)</p>
		<pre class="prettyprint linenums">
<code>
mixed set_error_handler ( callable $error_handler [, int $error_types = E_ALL | E_STRICT ] )
</code>
		</pre>
		<p>
			对于php4版本，我们可以使用set_error_handler来注册自己的错误处理方法来代替php的标准错误处理方式（输出到页面或者记录到日志），但是一些严重错误是无法通过这种方式来处理的，具体我们来看手册对该方法的介绍.
		</p>

		<p class="text-strong">处理未catch的异常: set_exception_handler (PHP5)</p>
		<p>set_exception_handler - 设置默认的异常处理程序，用于没有用 try/catch 块来捕获的异常。 在 exception_handler 调用后异常会中止。</p>

		<p class="text-strong">try catch (PHP7)</p>
        <pre class="prettyprint linenums lang-php">
<code>
// 抛异常
throw new Exception('message',code);   

// 捕获异常
try {
    // 这段代码可能会抛异常
} catch(Exception $e) {
    // 异常处理
}
</code>
		</pre>

		<p class="text-strong">错误抑制符</p>
		<p>可以在任何PHP函数前加上@来抑制其错误报告!</p>
    </div>

	<!--declare结构-->
    <div class="title">decalre结构</div>
    <div class="content closed">
        <p>declare 结构用来设定一段代码的执行指令。declare 的语法和其它流程控制结构相似：</p>

        <pre class="prettyprint linenums lang-php">
<code>declare (directive)
    statement</code></pre>

        <p>directive 部分允许设定 declare 代码段的行为. 目前只认识两个指令: ticks（更多信息见下面 ticks 指令）以及 encoding（更多信息见下面 encoding 指令）.</p>
        <p>declare 结构也可用于全局范围，影响到其后的所有代码（但如果有 declare 结构的文件被其它文件包含，则对包含它的父文件不起作用）.</p>

        <p><strong>ticks</strong></p>
        <p>Tick（时钟周期）是一个在 declare 代码段中解释器每执行 N 条可计时的低级语句就会发生的事件。N 的值是在 declare 中的 directive 部分用 ticks=N 来指定的。</P>
        <p>不是所有语句都可计时。通常条件表达式和参数表达式都不可计时。</p>
        <p>在每个 tick 中出现的事件是由 register_tick_function() 来指定的。更多细节见下面的例子。注意每个 tick 中可以出现多个事件。</p>
        <p><strong>Ticks用法范例</strong></p>
        <pre class="prettyprint linenums lang-php">
<code>declare(ticks=1);

// A function called on each tick event
function tick_handler()
{
    echo "tick_handler() called\n";
}

register_tick_function('tick_handler');

$a = 1;

if ($a > 0) {
    $a += 2;
    print($a);
}</code></pre>

        <p><strong>Encoding</strong></p>
        <p>可以用 encoding 指令来对每段脚本指定其编码方式.</p>
        <pre class="prettyprint linenums lang-php">
<code>declare(encoding='ISO-8859-1');
// code here</code></pre>

    </div>

	<div class="title">各种跳转函数</div>
	<div class="content closed">
		<p>
			<a href="...">__callStatic</a><br>
			<a href="http://php.net/manual/zh/function.register-shutdown-function.php">register_shutdown_function</a>
		</p>	
	</div>
</div>

<hr>
<p>
	参考: <br>
	<a href="https://blog.csdn.net/zhang197093/article/details/75094816">PHP7的异常处理机制，set_error_handler和set_exception_handler方法介绍</a><br>
</p>
{include file="template/footer" /}