{include file="template/header" title="Java 数据" /}

<div class="list list-number">
    <div class="title">数据类型</div>
    <div class="content open">
		<div class="container ml-0">
			<div class="row">
				<div class="col-1"><strong>基本类型:</strong></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-object')}">Object</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-boolean')}">Boolean</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-string')}">字符串</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-int')}">整数</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-double')}">浮点数</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-date')}">日期</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-enum')}">枚举</a></div>
				<div class="col-2"><a href="{:url('software/java/index', 'template=java-data-integer')}">(值类型包装类)</a></div>
			</div>
			<div class="row">
				<div class="col-1"><strong>数据结构:</strong></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-class')}">类</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-interface')}">接口</a></div>
				<div class="col-1"><a href="{:url('software/java/index', 'template=java-data-container')}">容器类</a></div>
			</div>
			<div class="row">
				<div class="col-1"><strong>容器类:</strong></div>
			</div>
		</div>

		<div class="list list-square">
			<div class="title">值类型&引用类型</div>
			<div class="content open">
				<p>
					1) 值类型: 变量中存储的就是数据, 赋值的时候传递的是拷贝. 值类型只有4类8种, 包括boolean, char, byte, short, int, long, float, double. <br>
					2) 引用类型: 变量中存储的是"地址", 这个"地址"指向对应的数据(也可以赋值为 不指向任何数据, 即赋值为null), 赋值的时候传递的是引用.
				</p>
			</div>

			<div class="title">装箱&拆箱</div>
			<div class="content open">

			</div>
		</div>	
    </div>

    <div class="title">变量/常量</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">常量</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
final double MAX_LINES = 10;
</code>
				</pre>
			</div>

			<div class="title">变量</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
int weight = 180;    // primitive类型
Dog myDog = new Dog( );    // 引用类型: 声明对象和赋值有3个步骤: ① 声明引用变量 ② 创建对象实例(位于堆上) ③ 连接对象和引用; 可以给引用类型变量赋null值, 表示不指向任何对象!
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">作用域: 局部/全局</div>
    <div class="content closed">
		<p>
			局部变量(local variable): 声明在方法中, 进入方法时建立, 退出方法时销毁, 只能在这个方法中使用. <br>
			成员变量(instance variable):	声明在类中(方法外), 构造对象时建立, 如果对象的唯一引用死了, 对象就会被垃圾收集器在某个时刻回收. 只能在这个对象中使用. <br>
			注意: 尽量使用局部变量
		</p>
    </div>

    <div class="title">访问权限控制: private, protected, default, public</div>
    <div class="content open">

    </div>

	<div class="title">Package</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">把类放入Package中</div>
			<div class="content open">
				<p>包可以防止名称冲突, 但这只会在包名称不重复的情况下起作用, 所以最好的方式是在前面加上公司域名, 如: com.headfirstjava.Book, 其中Book为类名的名称.</p>
				<pre class="prettyprint linenums">
<code>
package com.headfirstjava    // 这必须是程序源文件的一个语句
</code>
				</pre>
				<p class="text-remark">
					只是把包指令加入源文件是不够的, 类不会真的被加入包中, 除非类也在相对应的目录结构中. 也就是说假设完整类名是com.headfirstjava.PackgeExericse, 则你必须把PackageExercise源文件放在名为headfirstjava的目录下, 此目录必须在com目录下.
				</p>
			</div>

			<div class="title">引用包中的类</div>
			<div class="content open">
				<p>提前引用包中的类之后, 使用时, 可以不需要写出类的全名! 引用方法如下:</p>
				<pre class="prettyprint linenums">
<code>
import java.util.ArrayList;  // 引用单个类
import java.util.*;          // 引用所有类
</code>
				</pre>	
				<p class="text-remark">为什么我们不必import进String类或System类? 因为java.lang是个经常会用到的基础包, 所以系统会预先引用的这个包.</p>
			</div>
		</div>
    </div>

    <div class="title">类型判断</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">instanceof</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
obj instanceof SomeClass;    // 如果obj是SomeClass类型, 表达式的值为true, 否则为false.
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">类型相等判断</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">引用类型比较</div>
			<div class="content open">
				<p>
					引用到堆上同一个对象的两个引用是相等的. 对这两个引用调用hashCode(), 会得到相同的结果. 这是因为hashCode()默认的行为会返回每个对象特有的序号(大部分的Java版本是依据内存位置计算次序号, 所以不会有相同的hashcode). 
					如果想知道两个引用是否相等, 可以使用==来比较变量上的字节组合. 如果引用到相同的对象, 字节组合也会一样.
				</p>
			</div>
		</div>
    </div>

    <div class="title">类型转换</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">隐式转换</div>
			<div class="content open">
				<div class="list list-number">
					<div class="title">数值</div>
					<div class="content open">
						<p>
							整型, 字符型, 浮点型的数据在混合运算中相互转换, 转换时遵循以下原则: <br>
							不同类型的数据进行计算时, 系统首先自动将所有数据转换成容量最大的那一种数据类型, 然后再进行计算. <br>
							数据类型按容量大小排序为: <br>
							1) byte, short, char -> int -> long -> float -> double <br>
							2) byte和或short和或char进行运算时, 首先会转换为int型. ( byte byte3 = byte1 - byte2编译时会出错! ) <br>
							容量大的数据类型转换为容量小的数据类型时, 一般要加上强制类型转换, 但可能会造成精度降低或者溢出, 使用时要格外注意!
						</p>
					</div>
				</div>
			</div>

			<div class="title">显式转换</div>
			<div class="content open">
				<div class="list list-number">
					<div class="title">cast运算符</div>
					<div class="content open">
						<pre class="prettyprint linenums">
<code>
(int) doubleValue;    // 转换之后的值可能是不确定的!!! 而且可能抛出ClassCastException异常
</code>
						</pre>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}