{include file="template/header" title="Java 数据" /}

<div class="list list-number">
    <div class="title">数据类型</div>
    <div class="content open">

    </div>

    <div class="title">变量/常量</div>
    <div class="content open">

    </div>

	<div class="title">作用域: 局部/全局</div>
    <div class="content open">

    </div>

    <div class="title">访问权限控制: private, protected, default, public</div>
    <div class="content open">

    </div>

	<div class="title">Package</div>
    <div class="content open">

    </div>

    <div class="title">类型判断</div>
    <div class="content open">

    </div>

    <div class="title">类型转换</div>
    <div class="content open">

    </div>
</div>

{include file="template/footer" /}