{include file="template/header" title="Java 流程" /}
<ol dynamicoutline="" initcollapsed="">
	<li>条件<ul>
			<li>
				<table border="1" id="table1" bordercolor="#CCE8CF" width="95%">
					<tbody><tr>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>单路if语句</b></p>
								<p style="margin-top: 0; margin-bottom: 0">if(条件成立){<br>&nbsp;&nbsp;&nbsp; ...<br>}</p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>双路if语句</b></p>
								<p style="margin-top: 0; margin-bottom: 0">if(条件成立){<br>&nbsp;&nbsp;&nbsp; ...<br>}else{<br>&nbsp;&nbsp;&nbsp; ...<br>}</p>
								<p style="margin-top: 0; margin-bottom: 0">　</p>
								<p style="margin-top: 0; margin-bottom: 0">也可使用条件运算</p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>多路if语句</b></p>
								<p style="margin-top: 0; margin-bottom: 0">if (条件1成立){<br>&nbsp;&nbsp;&nbsp; ...<br>}else if (条件2成立){<br>&nbsp;&nbsp; ...<br>}else if (条件3成立){<br>&nbsp;&nbsp;&nbsp; ...<br>}else{<br>&nbsp;&nbsp;&nbsp; ...<br>}</p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>switch语句</b></p>
								<p style="margin-top: 0; margin-bottom: 0">switch (&lt;testVar&gt;){&nbsp; 
									// &lt;testVar&gt;必须是整数类型, &lt;comparsionValX&gt;必须是一个常量, 
									不能是变量或表达式<br>&nbsp;&nbsp;&nbsp; case &lt;comparisonVal1&gt;:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; // 当testVar的值为comparisonVal1时<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;<br>&nbsp;&nbsp;&nbsp; case &lt;comparisonVal2&gt;: 
									<br>
									&nbsp;&nbsp;&nbsp; case &lt;comparisonVal3&gt;:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; // 当testVar的值为comparisonVal2或comparisonVal3时<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;<br>&nbsp;&nbsp;&nbsp; default:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
									// 其他情况<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;<br>}</p></td>
						</tr>
					</tbody></table></li>
		</ul>
	</li>
	<li>循环<ul>
			<li>
				<table border="1" id="table2" bordercolor="#CCE8CF" width="95%">
					<tbody><tr>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>for循环</b></p>
								<p style="margin-top: 0; margin-bottom: 0">for (初始化; 条件; 更新){<br>&nbsp;&nbsp;&nbsp; // code to be looped<br>}</p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>while循环</b></p>
								<p style="margin-top: 0; margin-bottom: 0">while(条件){<br>&nbsp;&nbsp; // code to be looped<br>}</p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>do循环</b></p>
								<p style="margin-top: 0; margin-bottom: 0">do{<br>
									&nbsp;&nbsp; // code to be looped<br>
									}while(条件)<font color="#FF0000">;</font></p></td>
							<td valign="top">
								<p style="margin-top: 0; margin-bottom: 0"><b>加强版for循环</b></p>
								<p style="margin-top: 0; margin-bottom: 0">for ( String item : array ) {<br>
									&nbsp;&nbsp;&nbsp; // 遍历array数组<br>
									}</p></td>
						</tr>
					</tbody></table></li>
		</ul>
	</li>
	<li>跳转 
		<ul style="DISPLAY: none">
			<li>
				<table id="table3" bordercolor="#cce8cf" width="80%" border="1">
					<tbody><tr>
							<td width="221">
								<p style="margin-top: 0; margin-bottom: 0">break;</p></td>
							<td>
								<p style="margin-top: 0; margin-bottom: 0">立即跳出循环或select语句.</p></td>
						</tr>
						<tr>
							<td width="221">
								<p style="margin-top: 0; margin-bottom: 0">continue;</p></td>
							<td>
								<p style="margin-top: 0; margin-bottom: 0">立即终止当前的循环, 继续执行下一次循环.</p></td>
						</tr>
						<tr>
							<td width="221">
								<p style="margin-top: 0; margin-bottom: 0">return;</p></td>
							<td>
								<p style="margin-top: 0; margin-bottom: 0">跳出函数.</p></td>
						</tr>
						<tr>
							<td width="221">
								<a href="http://php.net/manual/zh/function.register-shutdown-function.php">
									register_shutdown_function:</a></td>
							<td>
								注册一个 callback ，它会在脚本执行完成或者 exit() 后被调用。</td>
						</tr>
					</tbody></table>
			</li>
		</ul>
	</li>
	<li>注释<ul>
			<li>// 单行注释</li>
			<li>/* <br>
				&nbsp;&nbsp; 多行注释<br>
				*/</li>
			<li>/**<br>
				&nbsp;&nbsp; Java doc文档注释<br>
				*/</li>
		</ul>
	</li>
</ol>
{include file="template/footer" /}