{include file="template/header" title="SQLite" /}

<div class="list list-number">
    <div class="title">下载</div>
    <div class="content closed">
		<p>
			官网下载地址：http://system.data.sqlite.org/index.html/doc/trunk/www/downloads.wiki<br>
			下载注意事项：<br>
			1、对应.net平台<br>
			2、对应操作系统平台选择32-bit(x86)/64-bit(x64)<br>
			3、最容易忽视的带bundle的和不带bundle的区别<br>
			带bundle的：表示动态库是按混合模式编译的，在使用的时候只需要System.Data.SQLite.dll就可以了。<br>
			没bundle的：而不带bundle的则是将非托管部分和托管部分分别编译，System.Data.SQLite.dll不能独立使用，还需要有SQLite.Interop.dll才能使用。<br>
			解决方法：手工复制SQLite.Interop.dll和exe放一块(不能用引用)，要么换成引用bundle包中的System.Data.SQLite.dll。<br>
			否则在VS引用new SQLiteConnection会产生如下图错误<br>
			<img src="__ROOT__/static/image/SQLite/SQLite.Interop.Exception.dll.gif" />	
		</p>
    </div>

    <div class="title">数据库管理工具</div>
    <div class="content closed">
		<p>SQLiteStudio(开源)</p>
    </div>
</div>

{include file="template/footer" /}