{include file="template/header" title="PHP 邮件编程" /}

<div class="list list-number">
    <div class="title">内置mail函数</div>
    <div class="content open">
		<p>
			PHP内置mail()函数, 它会基于你提供的信息发送一个消息.<br>
			mail($to, $subject, $msg);<br>
			指定发件人<br>
			mail($to, $subject, $msg, 'From:' . $email);<br>
			还可以采用指定"from"发送者同样的方式指定"copy"(抄送)和"blind copy"(密送)接收者 -- 只需要使用'Cc:'或'Bcc', 而不是'From'. 
			如果希望同时指定"From"发送者和"copy"接收者, 必须用一个回车换行符组合(\r\n)将其分开.<br>
			没有发送成功啊!!!
		</p> 
    </div>

    <div class="title">XXX</div>
    <div class="content open">

    </div>
</div>


{include file="template/footer" /}