{include file="template/header" title="PHP 图像编程" /}
<table>
    <tbody>
        <tr>
            <td>imagecreatetruecolor()</td>
            <td>在内存中创建一个空图像, 准备由其他GD函数在它之上进行绘制</td>
        </tr>
        <tr>
            <td>imagecolorallocate()</td>
            <td>分配一个颜色</td>
        </tr>
        <tr>
            <td>imagesetpixel()</td>
            <td>绘制一个像素</td>
        </tr>
        <tr>
            <td>imageline()</td>
            <td>绘制一条线</td>
        </tr>
        <tr>
            <td>imagerectangle()</td>
            <td>绘制一个矩形</td>
        </tr>
        <tr>
            <td>imagefilledrectangle()</td>
            <td>绘制一个矩形, 内部填充了颜色</td>
        </tr>
        <tr>
            <td>imageellipse()</td>
            <td>绘制一个椭圆(或圆)</td>
        </tr>
        <tr>
            <td>imagefilledellipse()</td>
            <td>绘制一个椭圆(或圆), 内部填充了颜色</td>
        </tr>
        <tr>
            <td>imagestring()</td>
            <td>绘制一个字符串, 使用PHP内置字体</td>
        </tr>
        <tr>
            <td>imagestringup()</td>
            <td>同imagestring(), 只是字符串是垂直的</td>
        </tr>            
        <tr>
            <td>imagettftext()</td>
            <td>绘制一个字符串, 可以指定字体</td>
        </tr>
        <tr>
            <td>imagepng()</td>
            <td>生产图形, 保存在内存或文件中</td>
        </tr>
        <tr>
            <td>imagedestroy()</td>
            <td>销毁图像相关资源</td>
        </tr>
    </tbody>
</table>
{include file="template/footer" /}