{include file="template/header" title="PHP 正则表达式" /}

<div class="list list-number">
    <div class="title">元字符</div>
    <div class="content open">
        <table>
            <tbody>
                <tr>
                    <td>^</td>
                    <td>表示从字符串的开始处开始匹配</td>
                </tr>
                <tr>
                    <td>$</td>
                    <td>表示字符串必须结束</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>表示任意一个字符(除换行符以外)</td>
                </tr>
                <tr>
                    <td>\d</td>
                    <td>表示一个数字</td>
                </tr>
                <tr>
                    <td>\w</td>
                    <td>表示一个字母或数字</td>
                </tr>
                <tr>
                    <td>\s</td>
                    <td>表示一个空白字符(空格, 制表符, 换行符或回车符)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="title">字符类</div>
    <div class="content open">
        <table>
            <tbody>
                <tr>
                    <td>[0-2]</td>
                    <td>范围匹配, 匹配0, 1或者2</td>
                </tr>
                <tr>
                    <td>[A-D]</td>
                    <td>范围匹配, 匹配A, B, C或者D</td>
                </tr>                
                <tr>
                    <td>[^b-f]</td>
                    <td>排除匹配, 匹配除b, c, d, e或者f以外的所有字符</td>
                </tr>
                <tr>
                    <td>[aeiou]</td>
                    <td>列举匹配: 匹配a, e, i, o或者u</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="title">量词</div>
    <div class="content open">
        <table>
            <tbody>
                <tr>
                    <td>{n}</td>
                    <td>表示前面的字符或元字符出现的次数为 n</td>
                </tr>
                <tr>
                    <td>{min, max}</td>
                    <td>表示前面的字符或元字符出现的次数为 min~max</td>
                </tr>
                <tr>
                    <td>+</td>
                    <td>表示前面的字符或元字符出现的次数 >= 1</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>表示前面的字符或元字符出现的次数 >= 0</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>表示前面的字符或元字符出现的次数为 0或1</td>
                </tr>                
            </tbody>
        </table>        
    </div>

    <div class="title">括号的使用</div>
    <div class="content open">
        <p>"/(hello)+/": 将匹配文本串中一个或多个连续的单词"hello"</p>
    </div>

    <div class="title">正则或</div>
    <div class="content open">
        <p>"/(ketchup|catsup|catchup)/": 将匹配3个单词中的任意一个.</p>
    </div>

    <div class="title">保留字符</div>
    <div class="content">
        <p>
            在正则表达式中, 有些字符用来表示元字符, 量词和字符类. 这包括: 点号(.), 问好(?), 加号(+), 开始中括号([), 开始和结束小括号, 补字号(^), 美元符($), 竖线字符(|), 反斜线(\), 前斜线(/)和星号(*).<br>
            如果希望在正则表达式中使用这些字符来表示它们的原义, 需要在它们前面加一个反斜线对它们"转义".
        </p>
    </div>

    <div class="title">正则应用</div>
    <div class="content closed">
        <p><strong>正则匹配</strong></p>
        <p>
            preg_match($regex, $my_string)    &nbsp;&nbsp;&nbsp;&nbsp;// 如果匹配, 范围true; 否则, 返回false<br>
        </p>
        <p>
            例子: 检查电话号码格式<br>
            preg_match('/^\d{3}-\d{2}-\d{4}$/', '555-02-9983');
        </p>

        <p><strong>正则替换</strong></p>
        <p>
            preg_replace($pattern, $repalcement, $my_string)            
        </p>
        <p>
            例子: 去除不想要的字符:<br>
            $new_phone = preg_replace('/[\(\)\-\s]/', '', $phone);
        </p>        
    </div>

    <div class="title">检查email格式</div>
    <div class="content closed">
        <p>匹配email地址的LocalName部分(@符号之前的部分):</p>
        <p>/^[a-zA-Z0-9][a-zA-Z0-9\.\-$!?=#]*/</p>

        <p>域名部分可以使用PHP函数checkdnsrr()检查email地址的域部分. 这个函数链接到域名系统或DNS, 并检查域的合法性.</p>
        <p>checkdnsrr('headfirstlabs.com');</p>
        <p>如果这是一个真实的域, 返回1; 否则, 返回0.</p>

        <p>如果在一个Windows服务器上运行PHP, 这个命令将不起作用. 这这种情况下, 可以使用一下代码:</p>
        <pre class="prettyprint linenums lang-php">
<code>function win_checkdnsrr($domain, $recType = '') {
    if (!empty($domain)) {
        if ($recType == '') $recType = "MX";
        exec("nslookup -type=$recType $domain", $output);
        foreach($output as $line) {
            if (preg_match("/^$domain/", $line) {
                return true;
            }
        }
        return false;
    }
    return false;  
}</code></pre>
    </div>
</div>

{include file="template/footer" /}