{include file="template/header" title="JavaScript 数据" /}
<div class="list list-number">
    <div class="title">数据类型</div>
    <div class="content open">
		<div class="container ml-0">
			<div class="row">
				<div class="col-1"><strong>基本类型:</strong></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-boolean')}">Boolean</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-number')}">Number</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-string')}">String</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-date')}">Date</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-object')}">类</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-interface')}">接口</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-structor')}">结构体</a></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-function')}">Function</a></div>

				<div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-data-undefined+null')}">Undefined & Null</a></div>
			</div>
			<div class="row">
				<div class="col-1"><strong>容器类型:</strong></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-array')}">Array</a></div>
			</div>
			<div class="row">
				<div class="col-1"><strong>其他类型:</strong></div>
				<div class="col-1"><a href="{:url('software/java_script/index', 'template=java_script-data-element')}">Element</a></div>
			</div>
		</div> 
		<div class="list list-square pl-3">
			<div class="title">值类型&引用类型</div>
			<div class="content open">
				<p>JS只有5种值类型: Nuber, Boolean, String, Undefined & Null, 其他都是引用类型!</p>
			</div>

			<div class="title">装箱&拆箱</div>
			<div class="content open">

			</div>
		</div>	
    </div>

    <div class="title">变量 / 常量</div>
    <div class="content open">

    </div>

    <div class="title">XXX</div>
    <div class="content open">

    </div>
</div>
{include file="template/footer" /}