{include file="template/header" title="JS 开发环境" /}

<div class="list list-number">
    <div class="title">调试</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">输出调试信息</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
console.log("我是调试信息!");
</code>
				</pre>
			</div>

			<div class="title">时间计算</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
console.time("名字1");
...
console.timeEnd("名字1");
</code>
				</pre>
			</div>

			<div class="title">Displaying Error Messages in Internet Explorer</div>
			<div class="content closed">
				<p>
					Microsoft Internet Explorer 4.0 and later do not display JavaScript error messages by default. While this can make browsing poorly-written pages a more pleasant experience,
					it can be frustrating to JavaScript programmers. To enable the display of error messages in Internet Explorer, select Internet Options from the Tools menu. Select the Advanced tab. In the list under browsing, deselect the “Disable script debugging” option and enable the “Display a notification about every script error” option.
					If you haven’t enabled the display of error messages, Internet Explorer still displays an error icon on the status line when an error occurs. You can double-click this icon to display the error message.
				</p>
			</div>

			<div class="title">Using the onerror Property</div>
			<div class="content closed">
				<p>
					You can set up an error handler by assigning a function to the onerror property of the
					window object. When an error occurs in a script in the document, the browser calls the
					function you specify instead of the normal error dialog. For example, these statements
					set up a function that displays a simple message when an error occurs:
				</p>
				<pre class="prettyprint linenums">
<code>
function errmsg(message,url,line) {
    alert(“There wasn’t an error. Nothing to see here.”);
    return true;
}
</code>
				</pre>
				<p>
					window.onerror=errmsg;These statements define a function, errmsg, that handles errors by displaying a simple
					dialog. The last statement assigns the errmsg function to the window.onerror property.
					The return true; statement tells the browser that this function has handled the error,
					and prevents the standard error dialog from being displayed. If you use return false;
					instead, the standard error dialog will be displayed after your function exits.				
				</p>
			</div>

			<div class="title">使用Chrome反压缩JS代码</div>
			<div class="content closed">
				<a href="https://jingyan.baidu.com/article/574c521928928f6c8c9dc145.html">Chrome反压缩JS代码：Pretty Print显示可读代码</a>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}