{include file="template/header" title="JS 流程" /}

<div class="list list-number">
	<div class="title">脚本使用位置</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">在head元素中的Script标签: 在页面加载之前就执行了.</div>
			<div class="content open">
				<p>Scripts in the header can’t create output within the HTML document, but can be referred to by other scripts. The header is often used for functions.</p>
			</div>

			<div class="title">在body元素中的Script标签: 读到即执行，写在事件触发里除外。</div>
			<div class="content open">
				<p>In this case, the script’s output is displayed as part of the HTML document when the browser loads the page.</p>
			</div>

			<div class="title">在HTML tag中: 事件处理</div>
			<div class="content open">
				<p>This is called an event handler and allows the script to work with HTML elements. When using JavaScript in Event handlers, you don’t need to use the &lt;script> tag.
				</p>
				<pre class="prettyprint linenums">
<code>
&lt;img SRC="button.gif" onMouseOver="highlight();">
</code>
				</pre>
			</div>

			<p>补充一下, 还有两种情况: ① 一种是加了defer属性的在文档加载后执行，可以理解为放在html最底部; ② 另外，html5 增加了 async 属性，相当于异步执行，与文档加载同时进行;</p>
		</div>
	</div>

    <div class="title">条件</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">
					<pre class="prettyprint linenums">
<code>
if (条件) {
    语句;
} else if (条件) {
    语句;
} else {
    语句;
}
</code>
					</pre>
				</div>
				<div class="col-2">
					<pre class="prettyprint linenums">
<code>
switch (表达式) {
    case 整型常量1:
        statement;
        break;
    case 整型常量2:
        statement;
        break;       
    defult:
        statement;
        break;
}
</code>
					</pre>
				</div>
			</div>	
		</div>
    </div>

    <div class="title">循环</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">
					<pre class="prettyprint linenums">
<code>
while (condition) {
    statement; 
} 
</code>
					</pre>
				</div>
				<div class="col-2">
					<pre class="prettyprint linenums">
<code>
do {
    statement;
} while (condition)
</code>
					</pre>
				</div>
				<div class="col-3">
					<pre class="prettyprint linenums">
<code>
for (init-statement; condition; expression) {
    statement;
}
</code>
					</pre>
				</div>
				<div class="col-e">
					<pre class="prettyprint linenums">
<code>
for (i in navigator) {
    document.write(property: “ + i);
    document.write( value: “+     navigator[i] + “&lt;br>”);
}
</code>
					</pre>	
				</div>
			</div>	
		</div>
    </div>

	<div class="title">跳转</div>
    <div class="content open">
		<p>break, continue & return</p>
    </div>
</div>

{include file="template/footer" /}