{include file="template/header" title="JavaScript HTML 标签" /}

<div class="list list-number">
    <div class="title">HTML5 标签</div>
    <div class="content open">
		<div class="container ml-0">
			<div class="row">
				<div class="col-12 text-strong">HTML文档</div>
				<div class="col-1">
					<a title="根元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/html">html</a>
				</div>
				<div class="col-1">
					<a title="head元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/head">head</a>
				</div>
				<div class="col-1">
					<a title="网页标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/title">title</a>
				</div>
				<div class="col-1">
					<a title="body元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/body">body</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Document Metadata</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<a title="设置相对链接的基准URL, 和超链接的默认target" href="https://www.w3.org/community/webed/wiki/HTML/Elements/base">base</a>
				</div>
				<div class="col-1">
					<a title="各种元素据..." href="https://www.w3.org/community/webed/wiki/HTML/Elements/meta">meta</a>
				</div>
				<div class="col-1">
					<a title="链接一个外部样式表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/link">link</a>
				</div>
				<div class="col-1">
					<a title="样式表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/style">style</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Scripting</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<a title="脚本元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/script">script</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Sections</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<a title="..." href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/main">main</a>
				</div>
				<div class="col-1">
					<a title="..." href="https://www.w3.org/community/webed/wiki/HTML/Elements/section">section</a>
				</div>
				<div class="col-1">
					<a title="导航部分" href="https://www.w3.org/community/webed/wiki/HTML/Elements/nav">nav</a>
				</div>
				<div class="col-1">
					<a title="表示一片文章" href="https://www.w3.org/community/webed/wiki/HTML/Elements/article">article</a>
				</div>
				<div class="col-3">
					<a title="表示标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/h1,_h2,_h3,_h4,_h5,_and_h6">h1, h2, h3, h4, h5, h6, </a>
					<a title="表示标题组" href="https://www.w3.org/community/webed/wiki/HTML/Elements/hgroup">hgroup</a>
				</div>
				<div class="col-1">
					<a title="表示头部" href="https://www.w3.org/community/webed/wiki/HTML/Elements/header">header</a>
				</div>
				<div class="col-1">
					<a title="表示尾部" href="https://www.w3.org/community/webed/wiki/HTML/Elements/footer">footer</a>
				</div>
				<div class="col-1">
					<a title="表示地址部分" href="https://www.w3.org/community/webed/wiki/HTML/Elements/address">address</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<strong>Grouping content</strong>
				</div>
			</div>

			<div class="row">
				<div class="col-1">
					<a title="表示一个段落" href="https://www.w3.org/community/webed/wiki/HTML/Elements/p">p</a>
				</div>
				<div class="col-1">
					<a title="表示一条水平线" href="https://www.w3.org/community/webed/wiki/HTML/Elements/hr">hr</a>
				</div>
				<div class="col-1">
					<a title="定义预格式化的文本" href="https://www.w3.org/community/webed/wiki/HTML/Elements/pre">pre</a>
				</div>
				<div class="col-1">
					<a title="表示块引用" href="https://www.w3.org/community/webed/wiki/HTML/Elements/blockquote">blockquote</a>
				</div>
				<div class="col-3">
					<a title="表示有序列表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/ol">ol</a>,
					<a title="表示无序列表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/ul">ul</a>,
					<a title="表示列表项" href="https://www.w3.org/community/webed/wiki/HTML/Elements/li">li</a>,
					<a title="表示自定义列表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/dl">dl</a>,
					<a title="表示自定义列表的标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/dt">dt</a>,
					<a title="表示自定义列表的内容" href="https://www.w3.org/community/webed/wiki/HTML/Elements/dd">dd</a>
				</div>
				<div class="col-2">
					<a title="表示流内容(图片, 代码...)" href="https://www.w3.org/community/webed/wiki/HTML/Elements/figure">figure</a>,
					<a title="表示流内容的标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/figcaption">figcaption</a>
				</div>
				<div class="col-1">
					<a title="表示一个通用块元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/div">div</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<strong>Text-level semantics</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<a title="斜体强调" href="https://www.w3.org/community/webed/wiki/HTML/Elements/em">em</a>,
					<a title="粗体强调" href="https://www.w3.org/community/webed/wiki/HTML/Elements/strong">strong</a>,
					<a title="黄色强调" href="https://www.w3.org/community/webed/wiki/HTML/Elements/mark">mark</a>
				</div>
				<div class="col-4">
					<a title="显示粗体文字效果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/b">b</a>,
					<a title="显示斜体文字效果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/i">i</a>,
					<a title="显示缩小文字效果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/samp">small</a>,
					<a title="显示为下标效果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/sub">sub</a>,
					<a title="显示为上标效果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/sup">sup</a>,
					<a title="设置文字显示方向, 从左到右,或从右到左" href="https://www.w3.org/community/webed/wiki/HTML/Elements/bdo">bdo</a>
				</div>
			</div>

			<div class="row">
				<div class="col-1">
					<a title="表示通用内联元素" href="https://www.w3.org/community/webed/wiki/HTML/Elements/span">span</a>
				</div>
				<div class="col-1">
					<a title="表示超链接" href="https://www.w3.org/community/webed/wiki/HTML/Elements/a">a</a>
				</div>
				<div class="col-2">
					<a title="表示缩写" href="https://www.w3.org/community/webed/wiki/HTML/Elements/abbr">abbr</a>,
					<a title="表示定义" href="https://www.w3.org/community/webed/wiki/HTML/Elements/dfn">dfn</a>
				</div>
				<div class="col-1">
					<a title="表示作品（比如书籍、歌曲、电影、电视节目、绘画、雕塑等等）的标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/cite">cite</a>
				</div>
				<div class="col-1">
					<a title="表示一段代码" href="https://www.w3.org/community/webed/wiki/HTML/Elements/code">code</a>
				</div>
				<div class="col-1">
					<a title="表示用户输入" href="https://www.w3.org/community/webed/wiki/HTML/Elements/kbd">kbd</a>
				</div>
				<div class="col-1">
					<a title="表示短引用" href="https://www.w3.org/community/webed/wiki/HTML/Elements/q">q</a>
				</div>
				<div class="col-1">
					<a title="表示中文注音" href="https://www.w3.org/community/webed/wiki/HTML/Elements/ruby">ruby</a>
				</div>
				<div class="col-1">
					<a title="表示不再正确的文字" href="https://www.w3.org/community/webed/wiki/HTML/Elements/s">s</a>
				</div>
				<div class="col-1">
					<a title="表示程序输出的内容" href="https://www.w3.org/community/webed/wiki/HTML/Elements/samp">samp</a>
				</div>
				<div class="col-1">
					<a title="表示时间" href="https://www.w3.org/community/webed/wiki/HTML/Elements/time">time</a>
				</div>
				<div class="col-1">
					<a title="表示变量" href="https://www.w3.org/community/webed/wiki/HTML/Elements/time">var</a>
				</div>

				<div class="col-1">
					<a title="表示单词换行时机" href="https://www.w3.org/community/webed/wiki/HTML/Elements/wbr">wbr</a>
				</div>
				<div class="col-1">
					<a title="换行" href="https://www.w3.org/community/webed/wiki/HTML/Elements/br">br</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Edits</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<a title="表示已经插入文档中的文本" href="https://www.w3.org/community/webed/wiki/HTML/Elements/ins">ins</a>
				</div>
				<div class="col-1">
					<a title="表示文档中已被删除的文本" href="https://www.w3.org/community/webed/wiki/HTML/Elements/del">del</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Embedden content</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<a title="表示一张图片" href="https://www.w3.org/community/webed/wiki/HTML/Elements/img">img</a>,
					<a title="在图片中定义一个超链接" href="https://www.w3.org/community/webed/wiki/HTML/Elements/map">map</a>
				</div>
				<div class="col-1">
					<a title="表示一个内联框架" href="https://www.w3.org/community/webed/wiki/HTML/Elements/iframe">iframe</a>
				</div>
				<div class="col-1">
					<a titile="一般表示一个非HTML文档" href="https://www.w3.org/community/webed/wiki/HTML/Elements/embed">embed</a>
				</div>
				<div class="col-2">
					<a title="用于包含对象，比如图像、音频、视频、Java applets、ActiveX、PDF 以及 Flash" href="https://www.w3.org/community/webed/wiki/HTML/Elements/object">object</a>
				</div>
				<div class="col-3">
					<a title="表示一个视频" href="https://www.w3.org/community/webed/wiki/HTML/Elements/video">video</a>,
					<a title="表示一段音频" href="https://www.w3.org/community/webed/wiki/HTML/Elements/audio">audio</a>,
					<a title="为audio/video提供一组源, 供浏览器选择" href="https://www.w3.org/community/webed/wiki/HTML/Elements/source">source</a>,
					<a title="为video提供一组字幕, 供浏览器选择" href="https://www.w3.org/community/webed/wiki/HTML/Elements/track">track</a>
				</div>
				<div class="col-2">
					<a title="表示一块画布" href="https://www.w3.org/community/webed/wiki/HTML/Elements/canvas">canvas</a>,
					<a title="用来绘制矢量图形" href="https://www.w3.org/community/webed/wiki/HTML/Elements/svg">svg</a>
				</div>
				<div class="col-1">
					<a title="表示数学公式" href="https://www.w3.org/community/webed/wiki/HTML/Elements/math">math</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>表格</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<a title="表示一个表格" href="https://www.w3.org/community/webed/wiki/HTML/Elements/table">table</a>,
					<a title="表示表格的标题" href="https://www.w3.org/community/webed/wiki/HTML/Elements/caption">caption</a>,
					<a title="表示表格的头部" href="https://www.w3.org/community/webed/wiki/HTML/Elements/thead">thead</a>,
					<a title="表示表格的身体" href="https://www.w3.org/community/webed/wiki/HTML/Elements/tbody">tbody</a>,
					<a title="表示表格的尾部" href="https://www.w3.org/community/webed/wiki/HTML/Elements/tfoot">tfoot</a>
				</div>
				<div class="col-2">
					<a title="表示表格中的一行" href="https://www.w3.org/community/webed/wiki/HTML/Elements/tr">tr</a>,
					<a title="表示表格中标题单元格" href="https://www.w3.org/community/webed/wiki/HTML/Elements/th">th</a>,
					<a title="表示表格中的数据单元格" href="https://www.w3.org/community/webed/wiki/HTML/Elements/td">td</a>
				</div>
				<div class="col-1">
					<a title="表示表格列形成的组" href="https://www.w3.org/community/webed/wiki/HTML/Elements/colgroup">colgroup</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>表单</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<a title="表示一张表单" href="https://www.w3.org/community/webed/wiki/HTML/Elements/form">form</a>
				</div>
				<div class="col-1">
					<a title="表示一个标签" href="https://www.w3.org/community/webed/wiki/HTML/Elements/label">label</a>
				</div>
				<div class="col-1">
					<a title="表示一个输入组件, 如文本框, checkbox..." href="https://www.w3.org/community/webed/wiki/HTML/Elements/input">input</a>
				</div>
				<div class="col-1">
					<a title="表示一个按钮" href="https://www.w3.org/community/webed/wiki/HTML/Elements/button">button</a>
				</div>
				<div class="col-1">
					<a title="表示一个下拉列表" href="https://www.w3.org/community/webed/wiki/HTML/Elements/select">select</a>
				</div>
				<div class="col-1">
					<a title="表示一个多行文本框" href="https://www.w3.org/community/webed/wiki/HTML/Elements/textarea">textarea</a>
				</div>
				<div class="col-1">
					<a title="显示计算结果" href="https://www.w3.org/community/webed/wiki/HTML/Elements/output">output</a>
				</div>
				<div class="col-1">
					<a title="表示进度条" href="https://www.w3.org/community/webed/wiki/HTML/Elements/progress">progress</a>
				</div>
				<div class="col-1">
					<a title="用图形来表示数值" href="https://www.w3.org/community/webed/wiki/HTML/Elements/meter">meter</a>
				</div>
				<div class="col-1">
					<a title="为其他表单组件提供了预定义的值" href="https://www.w3.org/community/webed/wiki/HTML/Elements/datalist">datalist</a>
				</div>
				<div class="col-2">
					<a title="表示<select>, <datalist>或<optgroup>中的一个选项" href="https://www.w3.org/community/webed/wiki/HTML/Elements/option">option</a>,
					<a title="表示一个option群组" href="https://www.w3.org/community/webed/wiki/HTML/Elements/optgroup">optgroup</a>
				</div>
				<div class="col-1">
					<a title="增强表单安全性" href="https://www.w3.org/community/webed/wiki/HTML/Elements/keygen">keygen</a>
				</div>
				<div class="col-1">
					<a title="表示表单元素组成的群组" href="https://www.w3.org/community/webed/wiki/HTML/Elements/fieldset">fieldset</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Interactive</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<a title="summary & details" href="https://www.w3.org/community/webed/wiki/HTML/Elements/summary">summary</a>,
					<a title="summary & details" href="https://www.w3.org/community/webed/wiki/HTML/Elements/details">details</a>
				</div>
				<div class="col-1">
					<a title="表示一个command, checkbox或者radio" href="https://www.w3.org/community/webed/wiki/HTML/Elements/command">command</a>
				</div>
				<div class="col-1">
					<a title="表示context, toolbar或者list" href="https://www.w3.org/community/webed/wiki/HTML/Elements/menu">menu</a>
				</div>
			</div>
		</div>
    </div>

    <div class="title">HTML5 模板</div>
    <div class="content closed">

    </div>
</div>

<hr>
<div>
	<div class="list list-none">
		<div class="title">参考资料</div>
		<div class="content closed">
			<p>
				<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element">HTML标签(官方)</a><br>	
				<a href="http://www.runoob.com/csspack">CSS格式化&压缩</a>
			</p>
		</div>
	</div>
</div>

{include file="template/footer" /}