{include file="template/header" title="JavaScript HTML 标签" /}

<div class="list list-number">
	<p class="text-center text-strong">高级应用</p>

	<div class="title">布局</div>
	<div class="content closed">
		<div class="list list-number">
			<div class="title">流体布局</div>
			<div class="content open">
				<p>默认情况下, 我们将浏览器调整到多大的宽度, 布局就会扩展, 填满整个浏览器, 使得用户能够充分利用他们的屏幕空间, 这种布局称为流体布局.</p>
			</div>

			<div class="title">冻结布局</div>
			<div class="content open">
				<p>内容的宽度是固定的, 不会随着浏览器窗口扩展或收缩.</p>
				<pre class="prettyprint linenums">
<code>
#allcontent {
    width: 800px;
}
</code>
				</pre>
			</div>

			<div class="title">凝胶布局</div>
			<div class="content open">
				<p>凝胶布局是指, 其中内容宽度是固定的, 但是外边距会随着浏览器窗口扩展或收缩.</p>
				<pre class="prettyprint linenums">
<code>
#allcontent {
    width: 800px;
    /* 外边距为auto时, 浏览器会确定正确的外边距是多少, */
    /* 另外还会确保左和右外边距相同, 所以内容会居中. */
    margin-left: auto;    
    margin-right: auto;
}
</code>
				</pre>
			</div>
		</div>
	</div>

	<div class="title">字体图标</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">Font Awesome</div>
			<div class="content open">
				<p><a href="https://fontawesome.com/">官网</a></p>
				<div class="list list-number">
					<div class="title">4.7</div>
					<div class="content open">
						<div class="list list-number">
							<div class="title">结合before伪元素</div>
							<div class="content closed">
								<pre class="prettyprint linenums">
<code>
&lt;link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</code>
								</pre>
								<pre class="prettyprint linenums">
<code>
li.open::before {
    content: "\f0d7";	/* book */
    font-family: FontAwesome;
}
</code>
								</pre>
							</div>
						</div>
					</div>
					<div class="title">5.5</div>
					<div class="content open">
						<div class="list list-number">
							<div class="title">一般使用</div>
							<div class="content closed">
								<p class="text-strong">Set up on Your Site</p>
								<p>Copy this code into the &lt;head> of each template or page where you want to use Font Awesome.</p>
								<pre class="prettyprint linenums">
<code>
&lt;link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</code>
								</pre>
								<p class="text-strong">Set up on Your Site</p>
								<p>Start placing icons in your HTML's &lt;body>.</p>
								<pre class="prettyprint linenums">
<code>
&lt;i class="fas fa-stroopwafel">&lt;/i> &lt;!-- this icon's 1) style prefix == fas and 2) icon name == stroopwafel -->
&lt;i class="fas fa-stroopwafel">&lt;/i> &lt;!-- using an &lt;i> element to reference the icon -->
&lt;span class="fas fa-stroopwafel">&lt;/span> &lt;!-- using a &lt;span> element to reference the icon -->
</code>
								</pre>

								<p class="text-strong">Set up on Your Site</p>
								<p>Easily change <a href="https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons">size</a>, <a href="https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use#with-your-styling">color</a>, and tons more. Then get advanced with our all-new <a href="https://fontawesome.com/how-to-use/on-the-web/styling/power-transforms">power transforms</a>.</p>
							</div>

							<div class="title">结合before伪元素</div>
							<div class="content closed">
								<p>
									5.5相较于4.7复杂一点, 因为图标被分为三种类型: SOLID, REGULAR, LIGHT
								</p>
								<pre class="prettyprint linenums">
<code>
.element1, .element2, .element3 {
    position: relative;
}
 
.element1::before {
	font-family: "Font Awesome 5 Solid";   content: "\f007";
}
 
.element2::before {
	font-family: "Font Awesome 5 Regular"; content: "\f1ea";
}
 
.element3::before {
	font-family: "Font Awesome 5 Brands";  content: "\f099";
}
</code>
								</pre>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<hr>
<div>
	<div class="list list-none">
		<div class="title">参考资料</div>
		<div class="content closed">
			<p>
				<a href="https://www.w3.org/html/">W3C HTML</a><br>
				<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element">HTML标签(官方)</a><br>	
				<a href="http://www.runoob.com/csspack">CSS格式化&压缩</a><br>
				<a href="https://www.cnblogs.com/joeychou/p/5244478.html">ID & 类选择器</a>
			</p>
		</div>
	</div>
</div>

{include file="template/footer" /}