{include file="template/header" title="C# 接口" /}

<div class="container-fluid">
	<div class="row">
		<div class="col-5">
			<pre class="prettyprint linenums">
<code>
public interface IMyInterface                     // 支持泛型, 支持"接口继承"
{
    void DoSomething();                           // 只是"框架", 不能有任何实现
    void DoSomethingElse();
}
 
public class MyClass : IMyInterface
{
    void IMyInterface.DoSomething()                      // 显式实现
    {
        Console.WriteLine("显式实现");
    }
 
    public void DoSomethingElse()                        // 隐式实现
    {
        Console.WriteLine("隐式实现");
    }
}
　
class Program
{
    static void Main(string[] args)
    {
        MyClass myObj = new MyClass();            // 声明为类: 只能调用隐式实现的方法
        myObj.DoSomethingElse();
 
        IMyInterface myObj2 = new MyClass();      // 声明为接口: 可以调用隐式&显式实现的方法
        myObj2.DoSomething();
        myObj2.DoSomethingElse();
    }
}
</code>
			</pre>	
		</div>
		<div class="col-7">
			<p>接口可以理解为一个抽象的框架, 具体实现只能在实现接口的类中完成的. 接口可以包含<span class="text-danger">方法, 属性, 索引器, 或者事件</span>的签名, 但不能有构造函数或字段. 例如：</p>

			<p class="text-strong">实现接口的类:</p>
			<p>
				1) 必须实现该接口所有的成员, <br>
				2) 必须匹配指定的签名(包括匹配指定的get和set块) <br>
				3) 并且必须是公共的.
			</p>

			<p class="text-danger">注意, ① 接口不能实例化. ② 接口不能包含实现其成员的任何代码, 而只能定义成员本身. 实现过程必须在实现接口的类中实现.</p>
		</div>
	</div>
</div>

<div class="list list-number">
    <div class="title">接口 vs 类</div>
    <div class="content closed">
		<p class="text-strong">面向接口编程 > 面向类编码???</p>

		<p>
			1) 定义接口时: 接口不能继承类, 但是可以继承多个接口 <br>
			2) 定义类时: 类只能从一个类 继承, 但是可以实现多个接口. <br>
			3) 继承类时: 继承一个实现了某个接口的基类, 就意味着派生类隐式的支持这个接口. 
		</p>

		<p class="text-danger">
			注意: 如果在定义属性的接口中包含set块, 就可以给类中的属性添加get块, 反之亦然. 但是, 只有添加的访问器的可访问修饰符比接口中定义的访问器的可访问修饰符更严格时, 才能这么做. 因为按照定义, 接口定义的访问器是公共的, 所以只能添加非公共的访问器.
		</p>
    </div>

    <div class="title">常用接口</div>
    <div class="content closed">
		<p>
			IDisposable <br>
			INotifyPropertyChanged
		</p>
    </div>
</div>
{include file="template/footer" /}