{include file="template/header" title="C# List&lt;T>" /}
<p>使用这个泛型的集合类型会更快捷, 更简单, 而不是像上一章那样, 从CollectionBase中派生一个类, 实现需要的方法. 它的另一个好处是正常情况下需要实现的许多方法(例如Add())已经自动实现了. 详见MSDN.</p>

<div class="list list-number">
	<div class="title">定义</div>
	<div class="content open">
		<pre class="prettyprint linenums">
<code>
List&lt;int> myCollection = new List&lt;int>();
List&lt;int> myCollection = new List&lt;int>() { 1, 2, 3 };
</code>
		</pre>      
	</div>

	<div class="title">常用操作</div>
	<div class="content open">
		<p class="text-strong">访问元素</p>
		<pre class="prettyprint linenums">
<code>
T itemAtIndex2 = myCollectionOfT[2];
</code>
		</pre>

		<p class="text-strong">排序</p>
		<pre class="prettyprint linenums">
<code>
public void Sort (Comparison&lt;T> comparison
</code>
		</pre>

		<p class="text-strong">搜索</p>
		<pre class="prettyprint linenums">
<code>
public List&lt;T> FindAll (Predicate&lt;T> match
</code>
		</pre>

		<p class="text-strong">枚举</p>
		<pre class="prettyprint linenums">
<code>
public Enumerator GetEnumerator ();    // 返回循环访问 List 的枚举数。

[SerializableAttribute] 
public struct Enumerator : IEnumerator&lt;T>, IDisposable, IEnumerator
</code>
		</pre>

		<p class="text-strong">转成Array</p>
		<pre class="prettyprint linenums">
<code>
public T[] ToArray ()
</code>
		</pre>

		<p class="text-strong">删除元素</p>
		<pre class="prettyprint linenums">
<code>
public bool Remove(T item)
</code>
		</pre>
		<p>
			This method determines equality using the default equality comparer EqualityComparer<T>.Default for T, the type of values in the list.
			</p>

			<p>
				The Default property checks whether type T implements the System.IEquatable generic interface and if so returns an EqualityComparer that uses that implementation. Otherwise it returns an EqualityComparer that uses the overrides of Object.Equals and Object.GetHashCode provided by T.
			</p>
	</div>
</div>
{include file="template/footer" /}