{include file="template/header" title="C# 可空类型" /}
<p>Nullable&lt;T>表示可分配null的值类型.T 可以是包括 struct 在内的任何值类型；但不能是引用类型。</p>
<div class="list list-number">
    <div class="title">定义变量</div>
    <div class="content open">
        <pre class="prettyprint linenums lang-php">
<code>
Nullable&lt;int> nullableInt;
int? nullableInt;    // 简写
</code>
		</pre>
    </div>

    <div class="title">常用操作</div>
    <div class="content open">
        <div class="list list-number">
            <div class="title">Value</div>
            <div class="content open">
                <p>如果变量为null, 访问Value属性会抛出System.InvalidOperationException类型的异常.</p>
            </div>

            <div class="title">.HasValue</div>
            <div class="content open">
                <p>如果HasValue是false, 就说明变量被赋予了null.</p>
            </div>

            <div class="title">表达式</div>
            <div class="content open">
                <p>通常可空类型与一元或二元元算符一起使用时, 如果其中一个操作数或两个操作数都是null, 其结果就是null. 但是, 在比较可空类型时, 只要有一个操作数是null, 比较的结果就是false.</p>
            </div>

            <div class="title">??运算</div>
            <div class="content open">
                <p>
                    当运算式中的一个或两个的值是null时, 对于除了bool?之外的所有简单可空类型, 该操作的结果是null, 可以把它理解为"不能计算". <br>
                    实际编程时建议先手动计算一下各种情况, 或者使用??运算符. <br>
                    int? op1 = null; <br>
                    int result = op1 * 2 ?? 5;    // 因为op1是null, 所以op1*2也是null. 但是, ??运算符检测到这个情况, 并把值5赋予result. <br>
                </p>
            </div>

            <div class="title">op_Implicit</div>
            <div class="content open">
                <p>T值可以隐式转换为Nullable<T>, 但是Nullable<T>不能隐式转换为T.</p>
						</div>

						<div class="title">op_Explicit</div>
						<div class="content open">
							<p>显式转换.</p>
						</div>
						</div>
						</div>
						</div>
						{include file="template/footer" /}