{include file="template/header" title="C# 整数" /}

<div class="list list-number">
    <div class="title">整数</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">整数分类</div>
			<div class="content open">
				<table class="w-50">
					<tbody>
						<tr>
							<th>类型</th>
							<th>含义</th>
							<th>字面值</th>
						</tr>
						<tr>
							<td>sbyte</td>
							<td>单字节, 有符号整数, 表示范围: -128 ~ 127</td>
							<td>100</td>
						</tr>
						<tr>
							<td>byte</td>
							<td>单字节, 无符号整数, 表示范围: 0 ~ 255</td>
							<td>100</td>
						</tr>
						<tr>
							<td>short</td>
							<td>双字节, 有符号整数, 表示范围: -32768 ~ 32767</td>
							<td>100</td>
						</tr>
						<tr>
							<td>ushort</td>
							<td>双字节, 无符号整数, 表示范围: 0 ~ 65535</td>
							<td>100</td>
						</tr>
						<tr>
							<td>int</td>
							<td>4字节, 有符号整数, 表示范围: -21亿多 ~ 21亿多</td>
							<td>100(默认)</td>
						</tr>
						<tr>
							<td>uint</td>
							<td>4字节, 无符号整数, 表示范围: 0 ~ 42亿多</td>
							<td>100U</td>
						</tr>
						<tr>
							<td>long</td>
							<td>8字节, 有符号整数</td>
							<td>100L</td>
						</tr>
						<tr>
							<td>ulong</td>
							<td>8字节, 无符号整数</td>
							<td>100UL</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="title">16进制表示</div>
			<div class="content closed">
				<p>前面添加"0x", 例如: 0xFF.</p>
			</div>

			<div class="title">数据转换</div>
			<div class="content closed">
				<p>
					Convert.ToInt32(); // 将指定的值转换为int<br>            
					int.Parse(); & int.TryParse(); <br>
					255.ToString("X4");    // 结果为: "00FF" <br>
				</p>
			</div>

			<div class="title">格式化</div>
			<div class="content closed">
				<p>
					255.ToString("X4");    // 结果为: "00FF"
				</p>
			</div>
		</div> 
    </div>

    <div class="title">浮点数</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">浮点数种类</div>
			<div class="content open">
				<table class="w-50">
					<tbody>
						<tr>
							<th>类型</th>
							<th>含义</th>
							<th>为数</th>
							<th>字面值</th>
							<th>备注</th>
						</tr>
						<tr>
							<td>float</td>
							<td>4字节, 单精度浮点数, 大致表示范围: ±1.5×10-45 ~ ±3.4×1038</td>
							<td>7</td>
							<td>3.14F</td>
							<td>精度低, 范围小</td>
						</tr>
						<tr>
							<td>double</td>
							<td>8字节, 双精度浮点数, 大致表示范围: ±5.0×10-324 ~ ±1.7×10308</td>
							<td>15/16</td>
							<td>3.14(默认), 3.14D</td>
							<td>精度中, 范围大</td>
						</tr>
						<tr>
							<td>decimal</td>
							<td>16字节高精度浮点数, 大致表示范围: ±1.0×10-28  ~ ±7.9×1028</td>
							<td>28</td>
							<td>3.14M</td>
							<td>精度高, 范围小, 适合于财务和货币运算.</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="title">浮点数精度损失问题</div>
			<div class="content closed">
				<p>
					在精确计算中使用浮点数是非常危险的, 因为使用浮点数的计算结果可能只是近似值.  
					考虑下面的语句:
				<p>
				<pre class="prettyprint linenums lang-php"><code>double d1 = 1.25d;
double d2 = 1.20d;
double d3 = 0.05d;
double d4 = 1.250d;
 
if (d1 - d2 == d3) {    // d1 - d2   0.050000000000000044
    Console.WriteLine("equal");
} else {
    Console.WriteLine("not equal");
}
 
if (d1 == d4) {    // d1和d4是相等的
    Console.WriteLine("equal");
} else {
    Console.WriteLine("not equal");
}</code></pre>

				<p>
					这就是浮点数精度损失的问题, 最重要的是, 在精度损失的时候, 不会报告任何的错误, 也不会有任何的异常产生. <br>
					浮点数的精度损失可能在很多地方出现, 例如d * g / g 不一定等于d, d / g * g也不一定等于d. 
				</p>
			</div>
		</div> 
    </div>

	<div class="title">相关类库</div>
    <div class="content closed">
		<p>Math类</p>
    </div>
</div>



{include file="template/footer" /}