{include file="template/header" title="PHP 数组" /}

<p>
	PHP可以用 array() 语言结构来新建一个数组。它接受任意数量用逗号分隔的 键（key） => 值（value）对. key 可以是 integer 或者 string。value 可以是任意类型。
</p>

<div class="list list-number">
    <div class="title">定义数组</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">定义</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
// 方法1
$productors = array(0 => 'Tires', 1 => 'Oil', 2 => 'Spark Plugs');
$productors = array('Tires', 'Oil', 'Spark Plugs');	// 如果对给出的值没有指定键名，则取当前最大的整数索引值，而新的键名将是该值加一。
$prices = array('Tires' => 100, 'Oil' => 10, 'Spark Plugs' => 4);
$prices = ['Tires' => 100, 'Oil' => 10, 'Spark Plugs' => 4];  // since 5.4
// 方法2
$prices['Tires'] = 100;
$prices['Oil'] = 10;
$prices['Spark Plugs'] = 4;
</code>
				</pre>
			</div>

			<div class="title">遍历</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// 方法1
foreach ($prices as $pirce)
    echo($price);
// 方法2
foreach ($prices as $key => $value) {
    echo $key . '=>' . $values;
}
// 方法3
while ($element = each($prices)) {
    echo $element['key'] . '=>' . $element['value'];
}
// 方法4
reset($prices);
while (list($product, $price) = each($prices)) {
    echo "$product - $price";
}
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">常见操作</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">访问数组元素</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
arrayName[keyName];
</code>
				</pre>
			</div>

			<div class="title">数组运算</div>
			<div class="content closed">
                <table class="table table-bordered table-condensed table-hover table-sm w-50">
                    <tr>
                        <th>运算符</th>
                        <th>名称</th>
                        <th>示例</th>
                        <th>结果</th>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td>联合</td>
                        <td>$arr1 + $arr2</td>
                        <td>数组$b将被附加到$a中, 但是任何关键字冲突的元素将不会被添加.</td>
                    </tr>
                    <tr>
                        <td>==</td>
                        <td>等于</td>
                        <td>$arr1 == $arr2</td>
                        <td>如果$a和$b包含相同的元素, 则返回true; 否则, 返回false.</td>
                    </tr>
                    <tr>
                        <td>===</td>
                        <td>恒等于</td>
                        <td>$arr1 === $arr2</td>
                        <td>如果$a和$b包含相同顺序的相同元素, 则返回true; 否则, 返回false.</td>
                    </tr>
                    <tr>
                        <td>!=</td>
                        <td>不等于</td>
                        <td>$arr1 != $arr2</td>
                        <td>如果$a和$b不包含相同的元素, 则返回ture; 否则, 返回true.</td>
                    </tr>
                    <tr>
                        <td>!==</td>
                        <td>不恒等于</td>
                        <td>$arr1 !== $arr2</td>
                        <td>如果$a和$b不包含相同顺序的相同元素, 则返回true; 否则, 返回false.</td>
                    </tr>
                </table>
			</div>

			<div class="title">添加&删除元素</div>
			<div class="content closed">
                <p>
                    <a href="http://php.net/manual/zh/function.array-push.php" target="_blank">array_push()</a><br>
                    <a href="http://php.net/manual/zh/function.array-pop.php" target="_blank">array_pop()</a><br>
                    $productors[] = 'Tire'; // key 为可选项。如果未指定，PHP 将自动使用之前用过的最大 integer 键名加上 1 作为新的键名。
                </p>
			</div>

			<div class="title">排序</div>
			<div class="content closed">
                <p>
                    sort / rsort<br>
                    asort / rasort<br>
                    ksort / rksort<br>
                    uasort<br>
                    shuffle<br>
                    array_reverse<br>
                    array_rand<br>
                </p>
			</div>

			<div class="title">数组&字符串互转</div>
			<div class="content closed">

			</div>

			<div class="title">其他函数</div>
			<div class="content closed">
                <a title="将一个一维数组值转换为字符串" href="http://php.net/manual/zh/function.implode.php" target="_blank">implode()</a>, 
                <a title="将一个字符串分割为一个一维数组" href="http://php.net/manual/zh/function.explode.php" target="_blank">explode()</a>, 
                <a title="将一个字符串转换为数组" href="http://php.net/manual/zh/function.str-split.php" target="_blank">str_split()</a><br>

                <a title="把整个文件读入一个数组中" href="http://php.net/manual/zh/function.file.php" target="_blank">file()</a><br>
                <a title="返回数组长度" href="http://php.net/manual/zh/function.count.php" target="_blank">count()</a><br>
                array_count_values()<br>
                each()<br>
                current()<br>
                reset()<br>

                end(), 
                next(), 
                prev()<br>
                array_walk<br>
                extract()<br>
                in_array()<br>
                array_keys()<br>
                array_key_exists()<br>
                range()<br>
                <a title="切割数组" href="http://php.net/manual/zh/function.array-slice.php" target="_blank">array_slice()</a><br>
                <a title="合并数组" href="http://php.net/manual/zh/function.array-merge.php" target="_blank">array_merge()</a>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}