{include file="template/header" title="PHP 浮点数" /}

<p>浮点型也叫浮点数 float，双精度数 double 或实数 real, 浮点数的字长和平台相关，尽管通常最大值是 1.8e308 并具有 14 位十进制数字的精度（64 位 IEEE 格式）</p>

<div class="list list-number">
    <div class="title">定义</div>
    <div class="content open">

		<pre class="prettyprint linenums">
<code>
$a = 1.234; 
$b = 1.2e3; 
$c = 7E-10;
</code>
		</pre>
    </div>

    <div class="title">常用操作</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">格式化</div>
			<div class="content closed">
				<a href="http://php.net/manual/zh/function.number-format.php" target="_blank">number_format</a>
			</div>

			<div class="title">取整</div>
			<div class="content closed">
				<a href="http://php.net/manual/zh/function.ceil.php" target="_blank">ceil</a>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}