{include file="template/header" title="Python 开发环境" /}
<div class="list list-number">
    <div class="title">安装相关软件</div>
    <div class="content closed">
        <p><strong>安装Python</strong><p>
        <p>Python有32位和64位两种!</p>

        <p><strong>安装pip</strong></p>
        <p>pip是Python官方推荐的包管理工具.</p>
        <p>安装pip: Python get-pip.py (get-pip.py需要下载, Python 3.4已上自带pip, 无需安装)</p>
        <p>
            通过pip安装包<br>
            1) pip install scrapy<br>
            2) 安装本地wheel文件: pip install wheel文件路径 (<a href="https://www.lfd.uci.edu/~gohlke/pythonlibs/">各种Python wheel文件</a>)
        </p>
        

        <p><strong>安装Twisted</strong></p>
        <p>安装twisted: pip Twisted-17.9.0-cp36-cp36m-win_amd64.whl (直接安装编译好的, 无需安装几个G的VC 2015)</p>

        <p><strong>安装Scrapy</strong></p>
        <p>安装scrapy: pip install scrapy</p>

        <p><strong>安装PyWin32</strong></p>
        <p>To install pywin32 system files, run `python.exe Scripts\pywin32_postinstall.py -install` from an elevated command prompt. </p>
    </div>

    <div class="title">常见错误</div>
    <div class="content closed">
        <div class="list list-number">
            <div class="title">私用PIP安装报错: error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools</div>
            <div class="content closed">
                <p>As the other responses pointed out, one solution is to install Visual Studio 2015. However, it takes a few GBs
                    of disk space. One way around is to install precompiled binaries. The webpage http://www.lfd.uci.edu/~gohlke/pythonlibs
                    (mirror) contains precompiled binaries for many Python packages. After downloading the package of interest
                    to you, you can install it using pip install, e.g. pip install mysqlclient‑1.3.10‑cp35‑cp35m‑win_amd64.whl.</p>
            </div>

            <div class="title">[twisted] CRITICAL: Unhandled error in Deferred:</div>
            <div class="content closed">
                <p>重新安装PyWin32: To install pywin32 system files, run `python.exe Scripts\pywin32_postinstall.py -install` from an elevated command prompt. </p>
            </div>
        </div>
    </div>
</div>
{include file="template/footer" /}