{include file="template/header" title="MySQL 开发环境" /}

<div class="list list-number">
    <div class="title">单独安装MySQL</div>
    <div class="content closed">
		<p>以下安装指南是针对Windows XP操作系统的.</p>
		<div class="list list-number">
			<div class="title">安装</div>
			<div class="content open">
				<p>首先从官网(http://www.mysql.com)下载所需的ZIP文件, 然后解压出来, 并运行Setup.exe程序. 在向导中, 如果选择"典型安装", 除了安装目录以外, 安装程序不会再询问任何其他问题.</p>
			</div>

			<div class="title">安装为Windows服务</div>
			<div class="content open">
				<p>在XP环境下的安装下, MySQL服务器的名称是mysqld-nt, 通常它是以服务形式安装的. 在Windows命令提示下, 输入如下的命令, 可以以服务形式安装MySQL: </p>
				<pre class="prettyprint linenums">
<code>
cd c:\mysql\bin
mysqld-nt -install
</code>
				</pre>
				<p>现在可以从命令行方式启动和停止MySQL服务:</p>
				<pre class="prettyprint linenums">
<code>
NET START mysql
NET STOP mysql
</code>
				</pre>
			</div>

			<div class="title">安装确认</div>
			<div class="content open">
				<p>
					要测试MySQL是否正在工作, 可以执行如下命令:
					C:\mysql\bin\mysqlshow
				</p>
			</div>

			<div class="title">查看MySQL版本</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
mysql> status
</code>
				</pre>
			</div>

		</div>
    </div>

	<div class="title">MySQL设置</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">删除匿名用户</div>
			<div class="content closed">
				<p>MySQL的默认设置是允许任何用户在不提供用户名和密码的条件下对系统进行访问. 显示, 这并不是我们所希望的. 我们需要做的第一件事情就是就是删除匿名用户:</p>
				<pre class="prettyprint linenums">
<code>
c:\mysql\bin> mysql -u root
mysql> use mysql
mysql> delete from user where User='';
mysql> quit
c:\mysql\bin> c:\mysql\bin\mysqladmin -u root reload
</code>
				</pre>
			</div>

			<div class="title">设置&修改root密码</div>
			<div class="content closed">
				<p class="text-strong">设置root密码</p>
				<p>即使是超级用户账户root, 目前也还没有密码. 要设置这个用户的密码, 可以使用如下所示的命令:</p>
				<pre class="prettyprint linenums">
<code>
c:\mysql\bin> mysqladmin -u root password your_password                           (本地服务器)
c:\mysql\bin> mysqladmin -u root -h 需要连接的主机名 password your_password        (远程服务器)
</code>
				</pre>
				<p>从现在开始, 必须使用-u标记并且提供用户名称, 和-p标记告诉MySQL密码, 例如:</p>
				<pre class="prettyprint linenums">
<code>
c:\mysql\bin> mysqladmin -u root -p reload
</code>
				</pre>

				<p class="text-strong">修改root密码</p>
				<p>SET PASSWORD FOR 'root'@'localhost' = PASSWORD('newpass');</p>	
			</div>

			<div class="title">开启远程登录</div>
			<div class="content closed">
				<p>
					1、先在服务器中通过命令行方式登录mysql：mysql -uroot -p密码<br>
					2、执行use mysql;<br>
					3、执行grant all privileges on *.* to root@'%' identified by '密码';<br>
					4、执行flush privileges;
				</p>
			</div>
		</div>
    </div>

    <div class="title">数据库管理软件</div>
    <div class="content closed">
		<p>
			MySQL终端: 在命令行下, 进入MySQL的bin文件夹, 输入mysql -u root -p<br>
			Navicate(收费) <br>
			MySQLWorkbench(免费)<br>
			phpMyAdmin(免费)
		</p>
    </div>

	<div class="title">导入&导出数据</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">导出</div>
			<div class="content open">
				<p class="text-strong">数据库</p>
				<table class="table table-bordered table-sm w-50">
					<tbody>
						<tr>
							<td>数据 + 结构</td>
							<td>C:\Users\jack> mysqldump -u root -p 某个数据库 > e:\xxx.sql</td>
						</tr>
						<tr>
							<td>结构</td>
							<td>C:\Users\jack> mysqldump -u root -p -d 某个数据库 > e:\xxx.sql</td>
						</tr>
					</tbody>
				</table>
				<p class="text-strong">表</p>
				<table class="table table-bordered table-sm w-50">
					<tbody>
						<tr>
							<td>数据 + 结构</td>
							<td>C:\Users\jack> mysqldump -u root -p 某个数据库 某张表> e:\xxx.sql</td>
						</tr>
						<tr>
							<td>结构</td>
							<td>C:\Users\jack> mysqldump -u root -p -d 某个数据库 某张表> e:\xxx.sql</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="title">导入</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
C:\Users\jack> mysql -u root -p
mysql > use 数据库
mysql > source xxx.sql
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">常见错误</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">ERROR 1130: Host '192.168.1.3' is not allowed to connect to this MySQL server</div>
			<div class="content closed">
				<p>
					1. 改表法。可能是你的帐号不允许从远程登陆，只能在localhost。这个时候只要在localhost的那台电脑，登入mysql后，更改 "mysql" 数据库里的 "user" 表里的 "host" 项，从"localhost"改称"%"
				</p>
				<pre class="prettyprint linenums">
<code>
mysql>use mysql;
mysql>update user set host = '%' where user = 'root';
mysql>select host, user from user;
</code>
				</pre>

				<p>2. 授权法。例如，你想myuser使用mypassword从任何主机连接到mysql服务器的话。</p>
				<p>
					GRANT ALL PRIVILEGES ON *.* TO 'myuser'@'%' IDENTIFIED BY 'mypassword' WITH GRANT OPTION;<br>
					如果你想允许用户myuser从ip为192.168.1.3的主机连接到mysql服务器，并使用mypassword作为密码
				</p>
				<p>
					GRANT ALL PRIVILEGES ON *.* TO 'root'@'192.168.1.3' IDENTIFIED BY 'mypassword' WITH GRANT OPTION;<br>
					mysql>flush privileges; 这句一定要加上！！！
				</p>
			</div>

			<div class="title">Error Code: 1175. You are using safe update mode and you tried to update a table without a WHERE that uses a KEY column To disable safe mode, toggle the option in Preferences -> SQL Editor -> Query Editor</div>
			<div class="content closed">
				<p>
					这是因为MySql运行在safe-updates模式下，该模式会导致非主键条件下无法执行update或者delete命令，执行命令SET SQL_SAFE_UPDATES = 0;修改下数据库模式即可.	
				</p>
				<p>如果想要提高数据库安全等级，可以在恢复回原有的设置，执行命令：SET SQL_SAFE_UPDATES = 1;</p>
			</div>
		</div>
    </div>
</div>


{include file="template/footer" /}