{include file="template/header" title="MySQL 表达式" /}

<div class="list list-number">
    <div class="title">逻辑运算</div>
    <div class="content open">
		<p>AND, OR</p>
    </div>

    <div class="title">比较运算</div>
    <div class="content open">
		<p>=, <, >, <=, >=</p>
		<p>字符串也支持比较运算</p>
    </div>

	<div class="title">LIKE (NOT LIKE)</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
location LIKE '%CA';
NOT location LIKE 'A_';
</code>
		</pre>
		<p>
			备注:<br>
			1) 通配符： ① %是>=0个未知字符的替身； ② _表示1个未知字符的替身.<br>
			2) like不区分大小写
		</p>
    </div>

	<div class="title">IS NULL (IS NOT NUL)</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
calories IS NULL;
calories IS NOT NULL;
</code>
		</pre>
    </div>

	<div class="title">BETWEEN AND</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
calories BETWEEN 30 AND 60    # 范围包括30和60
NOT calories BETWEEN 3 AND 5
</code>
		</pre>
    </div>

	<div class="title">IN (NOT IN)</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
rating IN ('innovative', 'fabulous', 'delightful', 'pretty good');
rating NOT IN ('innovative', 'fabulous', 'delightful', 'pretty good');
</code>
		</pre>
    </div>

	<div class="title">CASE表达式</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
CASE
    WHEN drama = 'T' THEN 'drama'
    WHEN comedy = 'T' THEN 'comedy'
    ELSE 'misc'
END;
</code>
		</pre>
    </div>
</div>

{include file="template/footer" /}