{include file="template/header" title="MySQL 函数" /}

<div class="list list-number">
    <div class="title">字符串函数</div>
    <div class="content open">
		<table class="table table-bordered table-sm w-75">
			<tbody>
				<tr>
					<td>RIGHT()和LEFT()</td>
					<td>从列中选出指定数量的字符. 例如: SELECT RIGHT(location, 2) FROM my_contacts;  # 从右侧开始, 选取两个字符串</td>
				</tr>
				<tr>
					<td>SUBSTRING()</td>
					<td>返回指定位置的字符串. 例如: SELECT SUBSTRING('San Antonio, TX', 5, 3);</td>
				</tr>
				<tr>
					<td>SUBSTRING_INDEX()</td>
					<td>返回指定字符串前的所有内容. 例如: SELECT SUBSTRING_INDEX(location, ',', 1) FROM my_contacts;  # 找到第一','符号, 返回这个符号前的所有字符</td>
				</tr>
				<tr>
					<td>UPPER() & LOWER()</td>
					<td></td>
				</tr>
				<tr>
					<td>LTRIM() & RTRIM()</td>
					<td></td>
				</tr>
				<tr>
					<td>REVERSE()</td>
					<td></td>
				</tr>
				<tr>
					<td>LENGTH</td>
					<td></td>
				</tr>
			</tbody>
		</table>
    </div>

    <div class="title">分组函数</div>
    <div class="content open">
		<table class="table table-bordered table-sm w-75">
			<tbody>
				<tr>
					<td>SUM</td>
					<td>对组中某一列数据求和. SELECT first_name, SUM(sales) FROM cookie_sales GROUP BY first_name ORDER BY SUM(sales) DESC;</td>
				</tr>
				<tr>
					<td>AVG</td>
					<td></td>
				</tr>
				<tr>
					<td>MAX</td>
					<td></td>
				</tr>
				<tr>
					<td>MIN</td>
					<td></td>
				</tr>
				<tr>
					<td>COUNT</td>
					<td></td>
				</tr>
			</tbody>
		</table>
    </div>
</div>

{include file="template/footer" /}