{include file="template/header" title="杰克笔记" /}

<table class="table table-hover table-sm">
    <!--软件设计-->
    <tr>
        <td class="pt-3" width="6%"><strong>软件设计</strong></td>
        <td colspan="3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"><a href="{:url('software/software_design/index', 'template=oop_design')}">面向对象设计</a></div>
                </div>
                <div class="row">
                    <div class="col-2"><a href="{:url('software/software_design/index', 'template=database_design')}">数据库设计</a></div>
                </div>
                <div class="row">
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">算法</a></div>
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=design_pattern')}">设计模式</a></div>
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=modular_design')}">模块化设计</a></div>
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=library_design')}">类库设计</a></div>
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=framework_degisn')}">框架设计</a></div>
                    <div class="col-1"><a href="{:url('software/software_design/index', 'template=architecture_design')}">架构设计</a></div>
                </div>
            </div>
        </td>
    </tr>

    <!--开发语言-->
    <tr>
        <td class="pt-3" width="1%"><strong>开发语言</strong></td>
        <td colspan="3">
            <div class="container-fluid">
                <div class="row">
                    <!--开发语言基础-->
                    <div class="col-6">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12 text-strong">语言基础</div>
                            </div>

                            <!--C#语言基础-->
                            <div class="row">
                                <div class="col-12"><strong>C#</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="{:url('software/cs/index', 'template=data')}">数据</a></div>
                                <div class="col-2"><a href="{:url('software/cs/index', 'template=expression')}">表达式</a></div>
                                <div class="col-2"><a href="{:url('software/cs/index', 'template=flow')}">流程</a></div>
                                <div class="col-2"><a href="{:url('software/cs/index', 'template=development_enviroment')}">开发环境</a></div>
                            </div>

                            <!--PHP语言基础-->
                            <div class="row">
                                <div class="col-12"><strong>PHP</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="{:url('software/php/index', 'template=data')}">数据</a></div>
                            </div>

                            <!--Web前端-->
                            <div class="row">
                                <div class="col-12"><strong>Web前端</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-1">CSS:</div>
                                <div class="col-2"><a href="{:url('software/JavaScript/index', 'template=css3')}">CSS3</a></div>
                            </div>

                            <!--Java语言基础-->
                            <div class="row">
                                <div class="col-12"><strong>Java</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="{:url('software/java/index', 'template=data')}">数据</a></div>
                                <div class="col-2"><a href="{:url('software/java/index', 'template=expression')}">表达式</a></div>
                                <div class="col-2"><a href="{:url('software/java/index', 'template=flow')}">流程</a></div>
                                <div class="col-2"><a href="{:url('software/java/index', 'template=development_enviroment')}">开发环境</a></div>
                            </div>
                        </div>
                    </div>

                    <!--开发语言专题-->
                    <div class="col-6">
                        <ul class="nav nav-tabs mb-10">
                            <!--各种开发语言-->
                            <li class="nav-item">
                                <a class="nav-link active" href="#c_sharp" data-toggle="tab">C#进阶 </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#php" data-toggle="tab">PHP进阶 </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#java_script" data-toggle="tab">Web前端进阶</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#java" data-toggle="tab">Java进阶 </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!--C#专题-->
                            <div class="tab-pane fade show active" id="c_sharp">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 text-strong">掌握</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-exception_management')}">异常管理</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-log')}">日志处理</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-concurrent_programming')}">并发编程</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-database_programming')}">数据库编程</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-network_programming')}">网络编程</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-ui_programming')}">UI编程</a></div>
                                        <div class="col-4">
                                            <a href="{:url('software/cs/index', 'template=cs-topics-ini_programming')}">Ini编程</a> &
                                            <a href="{:url('software/cs/index', 'template=cs-topics-xml_programming')}">XML编程</a> &
                                            <a href="{:url('software/cs/index', 'template=cs-topics-json_programming')}">JSON编程</a>
                                        </div>
                                        <div class="col-2"><a href="https://www.cnblogs.com/tuyile006/p/6956375.html">内存映射文件</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-ipc')}">IPC</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-timer')}">定时器</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-attribute')}">属性</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-xml_programming')}">万物皆字符串</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-unit_test')}">单元测试</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-software_deployment')}">程序部署</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-my_script_language')}">自制脚本</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-emit')}">Emit</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-strong">了解</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-application_exit')}">退出程序</a></div>
                                        <div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-singleton_application')}">单例程序</a></div>
                                    </div>
                                </div>
                            </div>

                            <!--Java专题-->
                            <div class="tab-pane fade" id="java">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><strong>掌握</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><strong>了解</strong></div>
                                    </div>
                                </div>
                            </div>

                            <!--JavaScript专题-->
                            <div class="tab-pane fade" id="java_script">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><strong>掌握</strong></div>
                                        <div class="col-2"><a href="{:url('software/JavaScript/index', 'template=html5_css')}">HTML5&CSS</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-code_highlighting')}">代码高亮</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-ajax')}">Ajax</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-json')}">JSON</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-math_programming')}">数学编程</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-io_programming')}">IO编程</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-graphic_programming')}">图形编程</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-web_service')}">Web服务</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-jquery')}">jQuery</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-bootstrap3-index')}">bootstrap3</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-bootstrap4-index')}">bootstrap4</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-h_ui')}">H-ui</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><strong>了解</strong></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-geolocation')}">地理定位</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-scrollbar')}">滚动条</a></div>
                                    </div>
                                </div>
                            </div>

                            <!--PHP专题-->
                            <div class="tab-pane fade" id="php">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><strong>掌握</strong></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-database_programming')}">数据库编程</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-regular_expression')}">正则表达式</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-form_operation')}">表单处理</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-serialize')}">(反)序列化</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-file_operation')}">文件操作</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-liulanqizhuangtaibaochi')}">浏览器状态</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-captcha')}">CAPTCHA</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-graphic_programming')}">图像编程</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-email')}">邮件编程</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-account_system')}">账户体系</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-include_file')}">引入文件</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-http')}">HTTP</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-security')}">安全</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-http_header')}">HTTP头信息</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-tpadmin-index')}">tpAdmin</a></div>
                                        <div class="col-2"><a href="{:url('software/php/index', 'template=php-word_press-index')}">WordPress</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><strong>了解</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <!--数据库开发-->
    <tr>
        <td class="pt-3" width="1%"><strong>数据库</strong></td>
        <td colspan="3">
            <div class="container-fluid">
                <div class="row">
                    <!--数据库开发基础-->
                    <div class="col-6">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12 text-strong">数据库基础</div>
                            </div>

                            <!--MSSQL-->
                            <div class="row">
                                <div class="col-12"><strong>MSSQL 2008</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=data')}">数据</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=expression')}">表达式</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=flow')}">函数</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=development_enviroment')}">存储过程</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=development_enviroment')}">数据库</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=development_enviroment')}">表&视图</a></div>
                                <div class="col-2"><a href="{:url('software/mssql/index', 'template=development_enviroment')}">开发环境</a></div>
                            </div>

                            <!--简单数据库-->
                            <div class="row">
                                <div class="col-12"><strong>简单DB</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="{:url('software/simple_database/index', 'template=sqlite')}">SQLite</a></div>
                                <div class="col-2"><a href="{:url('software/simple_database/index', 'template=ssdb')}">SSDB</a></div>
                            </div>
                        </div>
                    </div>

                    <!--数据库开发专题-->
                    <div class="col-6">
                        <ul class="nav nav-tabs mb-10">
                            <li class="nav-item">
                                <a class="nav-link active" href="#mssql" data-toggle="tab"> </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#mysql" data-toggle="tab"> </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#sqlite" data-toggle="tab"> </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#ssdb" data-toggle="tab"> </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!--MSSQL进阶-->
                            <div class="tab-pane fade show active" id="mssql">
                                <div class="container-fluid">
                                </div>
                            </div>

                            <!--MySQL进阶-->
                            <div class="tab-pane fade" id="mysql">
                                <div class="container-fluid">
                                </div>
                            </div>

                            <!--SQLite进阶-->
                            <div class="tab-pane fade" id="sqlite">
                                <div class="container-fluid">
                                </div>
                            </div>

                            <!--SSDB进阶-->
                            <div class="tab-pane fade" id="ssdb">
                                <div class="container-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <!--杂七杂八-->
    <tr>
        <td class="pt-3" width="1%"><strong>杂七杂八</strong></td>
        <td colspan="3">
            <nav class="navbar navbar-expand-sm navbar-light pl-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!--使用手册-->
                        <li class="nav-item dropup">
                            <a class="nav-link dropdown-toggle pt-0 pb-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								使用手册
							</a>
                            <div class="dropdown-menu bg-default" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=ahk')}">AHK</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=git')}">Git</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=linux')}">Linux</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=vim')}">VIM</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=wireshark')}">Wireshark</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=uml')}">UML</a>
                            </div>
                        </li>

                        <!--我的书架-->
                        <li class="nav-item">
                            <a class="nav-link pt-0 pb-0" href="__ROOT__/static/My Bookshelf.xls">我的书架</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </td>
    </tr>
</table>

{include file="template/footer" /}