{include file="template/header" title="杰克笔记" /}

<table class="table table-hover table-sm">
	<!--软件设计-->
	<tr>
		<td class="pt-3" width="5%"><strong>软件设计</strong></td>
		<td colspan="3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-2"><a href="{:url('software/software_design/index', 'template=good_code_bad_code')}">好代码vs坏代码</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">算法</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=design_pattern')}">设计模式</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=modular_design')}">模块化设计</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=library_design')}">类库设计</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=framework_degisn')}">框架设计</a></div>
					<div class="col-1"><a href="{:url('software/software_design/index', 'template=architecture_design')}">架构设计</a></div>
				</div>
			</div>
		</td>
	</tr>

	<!--开发语言-->
	<tr>
		<td class="pt-4" width="1%"><strong>开发语言</strong></td>
		<td colspan="3">
			<div class="container-fluid">
				<div class="row">
					<!--开发语言基础-->
					<div class="col-6">
						<div class="container-fluid">
							<!--C#语言基础-->
							<div class="row">
								<div class="col-12"><strong>C#语言基础</strong></div>
							</div>
							<div class="row">
								<div class="col-2"><a href="{:url('software/cs/index', 'template=data')}">数据</a></div>
								<div class="col-2"><a href="{:url('software/cs/index', 'template=expression')}">表达式</a></div>
								<div class="col-2"><a href="{:url('software/cs/index', 'template=flow')}">流程</a></div>
								<div class="col-2"><a href="{:url('software/cs/index', 'template=development_enviroment')}">开发环境</a></div>
							</div>

							<!--Java语言基础-->
							<div class="row">
								<div class="col-12"><strong>Java语言基础</strong></div>
							</div>
							<div class="row">
								<div class="col-2"><a href="{:url('software/java/index', 'template=data')}">数据</a></div>
								<div class="col-2"><a href="{:url('software/java/index', 'template=expression')}">表达式</a></div>
								<div class="col-2"><a href="{:url('software/java/index', 'template=flow')}">流程</a></div>
								<div class="col-2"><a href="{:url('software/java/index', 'template=development_enviroment')}">开发环境</a></div>
							</div>

							<!--JavaScript语言基础-->
							<div class="row">
								<div class="col-12"><strong>JavaScript语言基础</strong></div>
							</div>
							<div class="row">
								<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=data')}">数据</a></div>
								<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=expression')}">表达式</a></div>
								<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=flow')}">流程</a></div>
								<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=function')}">函数</a></div>
								<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=development_enviroment')}">开发环境</a></div>
							</div>

							<!--Python语言基础-->
							<div class="row">
								<div class="col-12"><strong>Python语言基础</strong></div>
							</div>
							<div class="row">
								<div class="col-2"><a href="{:url('software/python/index', 'template=data')}">数据</a></div>
								<div class="col-2"><a href="{:url('software/python/index', 'template=expression')}">表达式</a></div>
								<div class="col-2"><a href="{:url('software/python/index', 'template=flow')}">流程</a></div>
								<div class="col-2"><a href="{:url('software/python/index', 'template=function')}">函数</a></div>
								<div class="col-2"><a href="{:url('software/python/index', 'template=development_enviroment')}">开发环境</a></div>
							</div>

							<!--PHP语言基础-->
							<div class="row">
								<div class="col-12"><strong>PHP语言基础</strong></div>
							</div>
							<div class="row">
								<div class="col-2"><a href="{:url('software/php/index', 'template=data')}">数据</a></div>
								<div class="col-2"><a href="{:url('software/php/index', 'template=expression')}">表达式</a></div>
								<div class="col-2"><a href="{:url('software/php/index', 'template=flow')}">流程</a></div>
								<div class="col-2"><a href="{:url('software/php/index', 'template=function')}">函数</a></div>
								<div class="col-2"><a href="{:url('software/php/index', 'template=development_enviroment')}">开发环境</a></div>
							</div>
						</div>
					</div>

					<!--开发语言专题-->
					<div class="col-6">
						<ul class="nav nav-tabs mb-10">
							<!--各种开发语言--> 
							<li class="nav-item">
								<a class="nav-link active" href="#c_sharp" data-toggle="tab"> C#高级 </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#java" data-toggle="tab"> Java高级 </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#java_script" data-toggle="tab">JavaScript高级</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#python" data-toggle="tab"> Python高级 </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#php" data-toggle="tab"> PHP高级 </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#open_source" data-toggle="tab"> 开源项目 </a>
							</li>
						</ul>

						<div class="tab-content">
							<!--C#专题--> 
							<div class="tab-pane fade show active" id="c_sharp">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 text-strong">精通</div>
									</div>
									<div class="row">
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-exception_management')}">异常管理</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-log')}">日志处理</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-config_file')}">配置文件</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-concurrent_programming')}">并发编程</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-database_programming')}">数据库编程</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-network_programming')}">网络编程</a></div>
										<div class="col-4">
											<a href="{:url('software/cs/index', 'template=cs-topics-ini_programming')}">Ini编程</a> & 
											<a href="{:url('software/cs/index', 'template=cs-topics-xml_programming')}">XML编程</a> & 
											<a href="{:url('software/cs/index', 'template=cs-topics-json_programming')}">JSON编程</a>
										</div>
										<div class="col-5">
											<a href="{:url('software/cs/index', 'template=cs-topics-linq')}">Linq表达式</a> & 
											<a href="{:url('software/cs/index', 'template=cs-topics-lambda')}">Lambda表达式</a> & 
											<a href="{:url('software/cs/index', 'template=cs-topics-regular_expression')}">正则表达式</a>	
										</div>
										<div class="col-2"><a href="https://www.cnblogs.com/tuyile006/p/6956375.html">内存映射文件</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-ipc')}">IPC</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-timer')}">定时器</a></div>
									</div>
									<div class="row">
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-xml_programming')}">万物皆字符串</a></div>
									</div>
									<div class="row">
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-unit_test')}">单元测试</a></div>
									</div>
									<div class="row">
										<div class="col-12 text-strong">掌握</div>
									</div>
									<div class="row">
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-software_deployment')}">程序部署</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-my_script_language')}">自制脚本</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-crawler')}">爬虫</a></div>
									</div>
									<div class="row">
										<div class="col-12 text-strong">了解</div>
									</div>
									<div class="row">
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-application_exit')}">退出程序</a></div>
										<div class="col-2"><a href="{:url('software/cs/index', 'template=cs-topics-singleton_application')}">单例应用程序</a></div>
									</div>
								</div>
							</div>

							<!--Java专题--> 
							<div class="tab-pane fade" id="java">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12"><strong>精通</strong></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>掌握</strong></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>了解</strong></div>
									</div>
								</div>
							</div>

							<!--JavaScript专题--> 
							<div class="tab-pane fade" id="java_script">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12"><strong>精通</strong></div>
										<div class="col-2"><a href="{:url('software/JavaScript/index', 'template=html_css')}">HTML&CSS</a></div>
										<div class="col-12"><a href="{:url('software/java_script/index', 'template=java_script-bootstrap-index')}">bootstrap</a></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>掌握</strong></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>了解</strong></div>
									</div>
								</div>
							</div>

							<!--Python专题--> 
							<div class="tab-pane fade" id="python">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12"><strong>精通</strong></div>
										<div class="col-2"><a href="{:url('software/python/index', 'template=scrapy')}">Scrapy爬虫</a></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>掌握</strong></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>了解</strong></div>
									</div>
								</div>
							</div>

							<!--PHP专题--> 
							<div class="tab-pane fade" id="php">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12"><strong>精通</strong></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-database_programming')}">数据库编程</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-regular_expression')}">正则表达式</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-form_operation')}">表单处理</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-serialize')}">(反)序列化</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-file_operation')}">文件操作</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-liulanqizhuangtaibaochi')}">浏览器状态</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-captcha')}">CAPTCHA</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-graphic_programming')}">图像编程</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-email')}">邮件编程</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-account_system')}">账户体系</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-tp5-index')}">ThinkPHP</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-tpadmin-index')}">tpAdmin</a></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>掌握</strong></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-http')}">HTTP</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-security')}">安全</a></div>
										<div class="col-2"><a href="{:url('software/php/index', 'template=php-topics-http_header')}">HTTP头信息</a></div>
									</div>
									<div class="row">
										<div class="col-12"><strong>了解</strong></div>
									</div>
								</div>
							</div>

							<!--开源项目-->
							<div class="tab-pane fade" id="open_source">
								<div class="container-fluid">
									<div class="row">
										<div class="col-2"><strong>SharpDevelop</strong></div>
										<div class="col-2"><strong>Sprint.NET</strong></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>

	<!--数据库开发-->
	<tr>
		<td class="pt-3" width="1%"><strong>数据库开发</strong></td>
		<td colspan="3">
			<div class="container ml-0">
				<div class="row">
					<div class="col-1"><strong>SQL</strong></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
				</div>	
				<div class="row">
					<div class="col-2">SQL Server</div>
					<div class="col-2">MySQL</div>
					<div class="col-2"></div>
				</div>
				<div class="row">
					<div class="col-2"><strong>NoSQL</strong></div>
					<div class="col-2"></div>
					<div class="col-2"></div>
				</div>	
				<div class="row">
					<div class="col-2">SSDB</div>
					<div class="col-2"></div>
					<div class="col-2"></div>
				</div>	
			</div>
		</td>
	</tr>

	<!--软件测试-->
	<tr>
		<td class="pt-3" width="1%"><strong>软件测试</strong></td>
		<td colspan="3">
			<div class="container ml-0">
				<div class="row">
					<div class="col-1"></div>
				</div>
			</div>
		</td>
	</tr>

	<!--软件工程-->
	<tr>
		<td class="pt-3" width="1%"><strong>软件工程</strong></td>
		<td colspan="3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-1"><a href="{:url('software/software_management/index', 'template=code_rules')}">编码规范</a></div>
					<div class="col-1"><a href="{:url('software/software_management/index', 'template=source_code_management')}">源代码管理</a></div>
				</div>
			</div>
		</td>
	</tr>
</table>

<div class="container ml-0 fixed-bottom">
	<div class="row">
		<div class="col-1"><strong>杂七杂八</strong></div>
		<div class="col-1"><a href="{:url('software/misc/index', 'template=efficiency')}">效率</a></div>
		<div class="col-1"><a href="{:url('software/misc/index', 'template=linux')}">Linux</a></div>
		<div class="col-1"><a href="__ROOT__/static/My Bookshelf.xls">bookshelf</a></div>
		<div class="col-1"></div>
	</div>	
</div>

{include file="template/footer" /}