{include file="template/header" title="杰克笔记" /}

<table class="table table-hover table-sm">
    <!--开发语言-->
    <tr>
        <td class="pt-3" width="1%"><strong>开发语言</strong></td>
        <td colspan="3">
            <div class="container-fluid">
                <div class="row">
                    <!--开发语言基础-->
                    <div class="col-6">
                    </div>

                    <!--开发语言专题-->
                    <div class="col-6">
                        <ul class="nav nav-tabs mb-10">
                            <!--各种开发语言-->
                            <li class="nav-item">
                                <a class="nav-link" href="#java_script" data-toggle="tab">Web前端进阶</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!--JavaScript专题-->
                            <div class="tab-pane fade show active" id="java_script">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><strong>掌握</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-jquery')}">jQuery</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-bootstrap3-index')}">bootstrap3</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-bootstrap4-index')}">bootstrap4</a></div>
                                        <div class="col-2"><a href="{:url('software/java_script/index', 'template=java_script-topics-h_ui')}">H-ui</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>


    <!--杂七杂八-->
    <tr>
        <td class="pt-3" width="1%"><strong>杂七杂八</strong></td>
        <td colspan="3">
            <nav class="navbar navbar-expand-sm navbar-light pl-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!--使用手册-->
                        <li class="nav-item dropup">
                            <a class="nav-link dropdown-toggle pt-0 pb-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								使用手册
							</a>
                            <div class="dropdown-menu bg-default" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=ahk')}">AHK</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=linux')}">Linux</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=vim')}">VIM</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=wireshark')}">Wireshark</a>
                                <a class="dropdown-item" href="{:url('software/manual/index', 'template=uml')}">UML</a>
                            </div>
                        </li>

                        <!--我的书架-->
                        <li class="nav-item">
                            <a class="nav-link pt-0 pb-0" href="__ROOT__/static/My Bookshelf.xls">我的书架</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </td>
    </tr>
</table>

{include file="template/footer" /}