{include file="template/header" title="杰克笔记" /}

<ul class="nav nav-tabs mb-10">
    <!-- 软件设计 -->
    <li class="nav-item">
        <a class="nav-link active" href="#software_design" data-toggle="tab"> 软件设计 </a>
    </li>

    <!-- 软件管理 -->
    <li class="nav-item">
        <a class="nav-link" href="#software_management" data-toggle="tab"> 软件管理 </a>
    </li>

    <!-- 开发语言 -->
    <li class="nav-item">
        <a class="nav-link" href="#development_language" data-toggle="tab"> 开发语言 </a>
    </li>

    <!--	 各种开发语言 
            <li class="nav-item">
                    <a class="nav-link" href="#c_sharp" data-toggle="tab"> C# </a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#php" data-toggle="tab"> PHP </a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#front_end" data-toggle="tab">前端</a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#python" data-toggle="tab"> Python </a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#java" data-toggle="tab"> Java </a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#c_plus_plus" data-toggle="tab"> C++ </a>
            </li>
    
            <li class="nav-item">
                    <a class="nav-link" href="#asp_net" data-toggle="tab"> ASP.NET </a>
            </li>-->

    <!-- 数据库开发 -->
    <li class="nav-item">
        <a class="nav-link" href="#database_dev" data-toggle="tab">数据库开发</a>
    </li>

    <!-- 开源项目 -->
    <li class="nav-item">
        <a class="nav-link" href="#open_source" data-toggle="tab">开源项目</a>
    </li>

    <!-- 其他杂项 -->
    <li class="nav-item">
        <a class="nav-link" href="#misc" data-toggle="tab">其他杂项</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 软件设计 -->
    <div class="tab-pane fade show active" id="software_design">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">算法</a></div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">类库设计</a></div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">模块化设计</a></div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">框架设计</a></div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=algorithm')}">架构设计</a></div>
            </div>
        </div>
    </div>

    <!-- 软件管理 -->
    <div class="tab-pane fade" id="software_management">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                    <a href="{:url('software/software_management/index', 'template=code_rules')}">编码规范</a>
                </div>
                <div class="col-1">
                    <a href="{:url('software/software_management/index', 'template=source_code_management')}">源代码管理</a>
                </div>
                <div class="col-1">xxx</div>
                <div class="col-1">xxx</div>
            </div>
        </div>
    </div>

    <!-- 开发语言 -->
    <div class="tab-pane fade" id="development_language">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="container-fluid">
                        <!--C#基础-->
                        <div class="row">
                            <div class="col-12"><strong>C#基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2"><a href="{:url('software/cs/index', 'template=data')}">数据</a></div>
                            <div class="col-2"><a href="{:url('software/cs/index', 'template=expression')}">表达式</a></div>
                            <div class="col-2"><a href="{:url('software/cs/index', 'template=flow')}">流程</a></div>
                            <div class="col-2"><a href="{:url('software/cs/index', 'template=development_enviroment')}">开发环境</a></div>
                        </div>

                        <!--PHP基础-->
                        <div class="row">
                            <div class="col-12"><strong>PHP基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2"><a href="{:url('software/php/index', 'template=data')}">数据</a></div>
                            <div class="col-2"><a href="{:url('software/php/index', 'template=expression')}">表达式</a></div>
                            <div class="col-2"><a href="{:url('software/php/index', 'template=flow')}">流程</a></div>
                            <div class="col-2"><a href="{:url('software/php/index', 'template=function')}">函数</a></div>
                            <div class="col-2"><a href="{:url('software/php/index', 'template=development_enviroment')}">开发环境</a></div>
                        </div>

                        <!--前端基础-->
                        <div class="row">
                            <div class="col-12"><strong>前端基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2">数据</div>
                            <div class="col-2">表达式</div>
                            <div class="col-2">流程</div>
                            <div class="col-2">函数</div>
                            <div class="col-2"><a href="{:url('software/front_end/index', 'template=html_css')}">HTML&CSS</a></div>
                            <div class="col-2">开发环境</div>                            
                        </div>

                        <!--Python基础-->
                        <div class="row">
                            <div class="col-12"><strong>Python基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2">数据</div>
                            <div class="col-2">表达式</div>
                            <div class="col-2">流程</div>
                            <div class="col-2"><a href="{:url('software/python/index', 'template=development_enviroment')}">开发环境</a></div>
                        </div>

                        <!--Java基础-->
                        <div class="row">
                            <div class="col-12"><strong>Java基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2">数据</div>
                            <div class="col-2">表达式</div>
                            <div class="col-2">流程</div>
                            <div class="col-2">开发环境</div>
                        </div>

                        <!--C++基础-->
                        <div class="row">
                            <div class="col-12"><strong>C++基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2">数据</div>
                            <div class="col-2">表达式</div>
                            <div class="col-2">流程</div>
                            <div class="col-2">函数</div>
                            <div class="col-2">开发环境</div>
                        </div>

                        <!--ASP.NET基础-->
                        <div class="row">
                            <div class="col-12"><strong>ASP.NET基础</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-2">数据</div>
                            <div class="col-2">表达式</div>
                            <div class="col-2">流程</div>
                            <div class="col-2">函数</div>
                            <div class="col-2">开发环境</div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="container-fluid">
                        <!--C#专题-->
                        <div class="row">
                            <div class="col-12"><strong>C#专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-parallel_programming')}">并行编程</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-database_programming')}">数据库编程</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-network_programming')}">网络编程</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-log')}">日志处理</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-json_programming')}">JSON编程</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-linq')}">Linq表达式</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-my_script_language')}">自制脚本</a></div>
                            <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-topics-crawler')}">爬虫</a></div>
                        </div>

                        <!--PHP专题-->
                        <div class="row">
                            <div class="col-12"><strong>PHP专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-database_programming')}">数据库编程</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-regular_expressions')}">正则表达式</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-form_operation')}">表单处理</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-serialize')}">(反)序列化</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-file_operation')}">文件操作</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-liulanqizhuangtaibaochi')}">浏览器状态</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-captcha')}">CAPTCHA</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-graphic_programming')}">图像编程</a></div>
                            <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-email')}">邮件编程</a></div>
                        </div>
                        <div class="row">
                            <div class="col-1">ThinkPHP</div>
                            <div class="col-1">tpAdmin</div>
                        </div>

                        <!--前端专题-->
                        <div class="row">
                            <div class="col-12"><strong>前端专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1">数据库开发</div>
                        </div>

                        <!--Python专题-->
                        <div class="row">
                            <div class="col-12"><strong>Pyton专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><a href="{:url('software/python/index', 'template=scrapy')}">Scrapy爬虫</a></div>
                        </div>

                        <!--Java专题-->
                        <div class="row">
                            <div class="col-12"><strong>Java专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1">数据库开发</div>
                        </div>

                        <!--C++专题-->
                        <div class="row">
                            <div class="col-12"><strong>C++专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1">数据库开发</div>
                        </div>

                        <!--ASP.NET专题-->
                        <div class="row">
                            <div class="col-12"><strong>ASP.NET专题</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-1">数据库开发</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--	 C# 
            <div class="tab-pane fade" id="c_sharp">
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-12"><p>C#是强类型语言!</p></div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>基础</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <a href="{:url('software/cs/index', 'template=data')}">数据</a>
                                    </div>
                                    <div class="col-1"><a href="{:url('software/cs/index', 'template=expression')}">表达式</a></div>
                                    <div class="col-1"><a href="{:url('software/cs/index', 'template=flow')}">流程</a></div>
                                    <div class="col-1"><a href="{:url('software/cs/index','template=development_enviroment')}">开发环境</a></div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>进阶</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">高级编译</div>
                                    <div class="col-1">程序部署</div>
                                    <div class="col-1">UI设计</div>
                                    <div class="col-1">属性</div>
                                    <div class="col-1">反射</div>
                                    <div class="col-1">并行</div>
                                    <div class="col-1">IO操作</div>
                                    <div class="col-1">XML编程</div>
                                    <div class="col-1">
                                            <a href="{:url('software/cs/index', 'template=cs-topics-database_programming')}">数据库编程</a>
                                    </div>
                                    <div class="col-1">网络编程</div>
                                    <div class="col-1">序列化和反序列化</div>
                                    <div class="col-1">软件部署</div>
                                    <div class="col-1">Macro</div>
                                    <div class="col-1">出错处理</div>
                                    <div class="col-1">内存管理</div>
                                    <div class="col-1">数据绑定</div>
                                    <div class="col-1">图像编程</div>
                                    <div class="col-1">
                                            <a href="{:url('index/index', 'controller=cs&method=log')}">日志</a>
                                    </div>
                                    <div class="col-1">RPC</div>
                                    <div class="col-1">动态创建程序集</div>
                                    <div class="col-1">.NET运行原理</div>
                                    <div class="col-1">Resource</div>
                                    <div class="col-1">XML文档说明</div>
                                    <div class="col-1">大杂烩</div>
                                    <div class="col-1">资源释放</div>
                                    <div class="col-1">安全</div>
                                    <div class="col-1">退出程序</div>
                                    <div class="col-1">正则表达式</div>
                                    <div class="col-1">退出程序</div>
                                    <div class="col-1">
                                            <a href="{:url('index/index', 'controller=cs&method=linq')}">Linq表达式</a>
                                    </div>
                                    <div class="col-1">单例应用程序</div>
                                    <div class="col-1">.NET消息处理</div>
                                    <div class="col-1">Windows钩子</div>
                                    <div class="col-1">MSBuild</div>
                                    <div class="col-1">FTP</div>
                                    <div class="col-1">定时器</div>
                                    <div class="col-1">
                                            <a href="{:url('index/index', 'controller=cs&method=json_programming')}">JSON编程</a>
                                    </div>
                                    <div class="col-1">
                                            <a href="{:url('index/index', 'controller=cs&method=my_script_language')}">自制脚本语言</a>
                                    </div>
                            </div>
                    </div>
            </div>
    
             PHP 
            <div class="tab-pane fade" id="php">
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-12"><p>PHP是弱类型语言!</p></div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>基础</strong>
                                    </div>
                            </div>           
                            <div class="row pb-50">
                                    <div class="col-1">
                                            <a href="{:url('software/php/index', 'template=data')}">数据</a>
                                    </div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=expression')}">表达式</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=function')}">函数</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=flow')}">流程控制</a></div>
                                    <div class="col-1">
                                            <a href="{:url('software/php/index', 'template=development_enviroment')}">开发环境</a>
                                    </div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>进阶</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-database_programming')}">数据库编程</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-regular_expressions')}">正则表达式</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-form_operation')}">表单处理</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-serialize')}">序列化&反序列化</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-file_operation')}">文件操作</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-liulanqizhuangtaibaochi')}">浏览器状态保持</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-captcha')}">CAPTCHA</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-graphic_programming')}">图像编程</a></div>
                                    <div class="col-1"><a href="{:url('software/php/index', 'template=php-topics-email')}">邮件编程</a></div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>PHP框架 - ThinkPHP</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <a href="{:url('software/php/index', 'template=php-tp5-intro')}">介绍</a>
                                    </div>
                            </div>
    
                            <div class="row">
                                    <div class="col-12">
                                            <strong>PHP框架 - tpAdmin</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <a href="{:url('software/php/index', 'template=php-tp5-intro')}">介绍</a>
                                    </div>
                            </div>
                    </div>
            </div>
    
             web前端 
            <div class="tab-pane fade" id="front_end">
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-12">
                                            <strong>HTML基础</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <a href="{:url('software/front_end/index', 'template=html_element')}">标签</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-12">
                                            <strong>JS基础</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">数据</div>
                                    <div class="col-1">表达式</div>
                                    <div class="col-1">函数</div>
                                    <div class="col-1">流程</div>
                            </div>
                            <div class="row">
                                    <div class="col-12">
                                            <strong>专题</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">专题1</div>
                                    <div class="col-1">专题2</div>
                            </div>
                    </div>
            </div>
    
             Python 
            <div class="tab-pane fade" id="python">
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-12">
                                            <strong>基础</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">数据</div>
                                    <div class="col-1">表达式</div>
                                    <div class="col-1">
                                            <a href="{:url('software/python/index', 'template=development_enviroment')}">开发环境</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <strong>进阶</strong>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-1">
                                            <a href="{:url('software/python/index', 'template=scrapy')}">Scrapy爬虫</a>
                                    </div>
                            </div>
                    </div>
            </div>
    
             C++ 
            <div class="tab-pane fade" id="c_plus_plus">
                    <p>C++开发 </p>
            </div>
    
             Java 
            <div class="tab-pane fade" id="java">
                    <p>Java </p>
            </div>
    
             ASP.NET 
            <div class="tab-pane fade" id="asp_net">
                    <p>ASP.NET </p>
            </div>-->

    <!-- 数据库开发 -->
    <div class="tab-pane fade" id="database_dev">
        <div class="container ml-0">
            <div class="row">
                <div class="col-1"><strong>SQL</strong></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>	
            <div class="row">
                <div class="col-2">SQL Server</div>
                <div class="col-2">MySQL</div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"><strong>NoSQL</strong></div>
                <div class="col-2"></div>
                <div class="col-2"></div>
            </div>	
            <div class="row">
                <div class="col-2">SSDB</div>
                <div class="col-2"></div>
                <div class="col-2"></div>
            </div>	
        </div>
    </div>

    <!-- 开源项目 -->
    <div class="tab-pane fade" id="open_source">
        Sharp Develop, Log4net, Spring.net
    </div>

    <!-- 其他项目 -->
    <div class="tab-pane fade" id="misc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"><a href="{:url('software/misc/index', 'template=vim')}">vim</a></div>		
            </div>
        </div>
    </div>
</div>

{include file="template/footer" /}