{include file="template/header" title="JavaScript 数组" /}

<div class="list list-number">
    <div class="title">定义</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
var scores = new Array(4);                  
var scores = new Array();                   
var scores = new Array(39,40,100,49);       
var scores = [1, 2, 3];
</code>
		</pre>
    </div>

    <div class="title">常见操作</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">获取长度</div>
			<div class="content closed">
				<p>length属性</p>
			</div>

			<div class="title">访问数组元素</div>
			<div class="content closed">
				<p>scores[0]</p>
			</div>

			<div class="title">添加/删除元素</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
scores[2] = 100; // 如果下标为2的元素存在, 则将它的值改为100; 否则, 添加一个下标为2的元素, 它的值为100.
array.push(...); // 将参数添加到原数组末尾，并返回数组的长度 .
array.ushift(...); // 将参数添加到原数组开头，并返回数组的长度

array.pop(...);  // 删除数组最后一项，并返回删除元素的值；如果数组为空则返回undefined
array.shift(...); // 删除数组第一项，并返回删除元素的值；如果数组为空则返回undefined
</code>
				</pre>
			</div>

			<div class="title">splice</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// splice(start,deleteCount,val1,val2,...)：从start位置开始删除deleteCount项，并从该位置起插入val1,val2,... 返回的是含有被删除的元素的数组.
var a = [1,2,3,4,5];
var b = a.splice(2,2,7,8,9); //a：[1,2,7,8,9,5] b：[3,4]
var b = a.splice(0,1); //同shift
a.splice(0,0,-2,-1); var b = a.length; //同unshift
var b = a.splice(a.length-1,1); //同pop
a.splice(a.length,0,6,7); var b = a.length; //同push
</code>
				</pre>
			</div>

			<div class="title">join</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// join(separator)：将数组的元素组起一个字符串，以separator为分隔符，省略的话则用默认用逗号为分隔符
var a = [1,2,3,4,5];
var b = a.join("|"); //a：[1,2,3,4,5] b："1|2|3|4|5"
</code>
				</pre>
			</div>

			<div class="title">sort</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// sort(orderfunction)：按指定的参数对数组进行排序
var a = [1,2,3,4,5];
var b = a.sort(); //a：[1,2,3,4,5] b：[1,2,3,4,5]
</code>
				</pre>
			</div>

			<div class="title">concat</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// concat：返回一个新数组，是将参数添加到原数组中构成的
var a = [1,2,3,4,5];
var b = a.concat(6,7); //a：[1,2,3,4,5] b：[1,2,3,4,5,6,7]
</code>
				</pre>
			</div>

			<div class="title">reverse</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// reverse：将数组反序
var a = [1,2,3,4,5];
var b = a.reverse(); //a：[5,4,3,2,1] b：[5,4,3,2,1]
</code>
				</pre>
			</div>

			<div class="title">slice</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
// slice(start,end)：返回从原数组中指定开始下标到结束下标之间的项组成的新数组
var a = [1,2,3,4,5];
var b = a.slice(2,5); //a：[1,2,3,4,5] b：[3,4,5];
</code>
				</pre>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}