{include file="template/header" title="JavaScript Boolean" /}
<p>Boolean类型只有两个字面值：true和false</p>
<p>虽然Boolean类型的字面值只有两个，但是ECMAScript中所有的类型的值都有与这两个Boolean值等价的值。要将一个值转换为对应的Boolean值，可以调用转型函数Boolean()</p>
<pre class="prettyprint linenums">
<code>
var message = 'hello world';
var messageBoolean = Boolean(message);
console.log(messageBoolean); //true
</code>
</pre>
<hr>
<p>
	参考资料: <br>
	<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean API</a>
</p>
{include file="template/footer" /}