{include file="template/header" title="JS document" /}

<p>document实际上是window对象的一个属性.</p>

<div class="list list-number">
    <div class="title">属性</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-1">domain</div>
				<div class="col-11">提供文档的服务器的域</div>
			</div>	
			<div class="row">
				<div class="col-1">title</div>
				<div class="col-11">文档的标题</div>
			</div>	
			<div class="row">
				<div class="col-1">URL</div>
				<div class="col-11">文档的URL</div>
			</div>	
		</div>
    </div>

    <div class="title">方法</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">getElementById()</div>
				<div class="col-10">通过id获取元素</div>
			</div>	
			<div class="row">
				<div class="col-2">getElementsByTagName()</div>
				<div class="col-10">通过标记获取元素</div>
			</div>	
			<div class="row">
				<div class="col-2">getElementsByClassName()</div>
				<div class="col-10">通过类名获取元素</div>
			</div>	
			<div class="row">
				<div class="col-2">createElement()</div>
				<div class="col-10">创建元素</div>
			</div>	
		</div>
    </div>
</div>

{include file="template/footer" /}