{include file="template/header" title="JS 函数" /}

<div class="list list-number">
    <div class="title">定义</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<p class="text-strong">命名函数</p>
					<pre class="prettyprint linenums">
<code>
// 无参函数	
function fn1(){
    alert("Hello World!");
}

// 带参函数
function bark ( dogName, dogWeight ) {
    if ( dogWeight <= 10 ) {
        return dogName + " says Yip";    // 函数返回值
    } else {
        return dogName + " says Woof";
    }
}

// 定义函数变量
var fn = Fn1;    
</code>
					</pre>

				</div>
				<div class="col-6">
					<p class="text-strong">匿名函数</p>
					<pre class="prettyprint linenums">
<code>
var Fn2 = function(){    // 符号"="后面的是匿名函数
    alert("Hello wild!");
} 
</code>
					</pre>
				</div>
			</div>	

			<div class="row">
				<div class="col-12">
					<p class="text-remark"><span class="text-strong">函数覆盖</span>: 使用多个外部JavaScript文件时有一点要记住, 如果不同文件中有两个同名的函数, 后面的函数将覆盖前面函数的定义!</p>
				</div>
			</div>
		</div>

    </div>

    <div class="title">调用函数</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
bark("Tom", 30);    // dogName = "Tom"; dogWeight = 30;
</code>
		</pre>

		<p class="text-strong">匿名函数 + 立即调用</p>
		<pre class="prettyprint linenums">
<code>
(function(x){
    alert(2* x); 
})(3);
</code>
		</pre>
		<p>在一个块(文件)中，函数可以先调用, 后进行“定义式”定义；但在两个块中，必须先定义, 后调用.</p>
    </div>

	<div class="title">库函数</div>
    <div class="content closed">

    </div>
</div>

{include file="template/footer" /}