{include file="template/header" title="JS 类&对象" /}

<div class="list list-number">
    <div class="title">创建对象</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<p class="text-strong">使用构造函数定义</p>
					<pre class="prettyprint linenums">
<code>
function Dog(name, breed, weight) {           // 构造函数首字母大写! 没有return哦!!!
    this.name = name;
    this.breed = breed;
    this.weight = weight;
    this.bark = function() {
        alert(this.name + " says: Woof!");
    };
}

// 给Dog类添加静态方法
Dog.staticMethod = function() {
    alert("staticMethod");
}

// 添加实例方法
Dog.prototype.instanceMethod = function() {
    alert("instanceMethod");
}

// 构造对象
var fido = new Dog("Fido", "Mixed", 40);    
</code>
					</pre>
				</div>
				<div class="col-6">
					<p><span class="text-strong">字面量对象</span>: 用大括号和逗号分隔的属性所写的对象.</p>
					<pre class="prettyprint linenums">
<code>
var fido = {
    name: "Fido",                             // 属性
    weight: 40,
    breed: "Mixed",
    loves: ["walks", "fetching balls"],
    bark: function() {                        // 方法
        // this: 表示调用这个方法的对象
        alert(this.name + ": Woof woof!");    
    }
};
</code>
					</pre>
				</div>
			</div>	
		</div>
    </div>

    <div class="title">使用对象</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">使用属性</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
// 使用.运算符(推荐这种)
fido.weight = 25;
alert(fido.weight);    // 访问不存在的属性, 会得到underfined值.

// 使用[]运算符
fido["weight"] = 25;
alert(fido["weight"]);
</code>
				</pre>
			</div>

			<div class="title">调用方法</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
// 调用静态方法
Dog.staticMethod();
// 调用实例方法
fido.bark();
</code>
				</pre>
			</div>
		</div>
    </div>

	<div class="title">增/删对象属性</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
fido.age = 5;    // 为对象增加属性

delete fido.age;    // 如果删除属性成功(或者删除了一个不存在的属性), delete表达式会返回true
</code>
		</pre>
    </div>

	<div class="title">遍历对象属性</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
var prop;
for (prop in fido) {    // prop是fido的属性名对应的字符串值
    alert("我是属性: " + prop + ", 属性值是: " + fido[prop]);
}
</code>
		</pre>
    </div>

	<div class="title">扩展方法</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
function addhead (level) {
    html = “H” + level;
    text = this.toString();
    start = “&lt;” + html + “>”;
    stop = “&lt;/” + html + “>”;
    return start + text + stop;
}
String.prototype.heading = addhead;

document.write (“This is a test”.heading(1));
</code>
		</pre>
    </div>
</div>

{include file="template/footer" /}