{include file="template/header" title="杰克笔记" /}

<div class="list list-number">
    <div class="title">bootstrap官网研究</div>
    <div class="content closed">

		<div class="list list-number">
			<div class="title">各种CSS</div>
			<div class="content closed">
				<p>
					bootstrap.css<br>
					docs.css
				</p>
			</div>

			<div class="title">XXX</div>
			<div class="content closed">

			</div>
		</div>
    </div>

    <div class="title">XXX</div>
    <div class="content closed">

    </div>
</div>

{include file="template/footer" /}