{include file="template/header" title="MSSQL 开发环境" /}

<div class="list list-number">
	<div class="title">Microsoft SQL Server Management Studio</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">实用工具</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">Template Explorer</div>
					<div class="content closed">
						<p>
							在【Microsoft SQL Server Management】中, 点击【View】菜单, 选择Template Explorer命令.
						</p>
						<p>
							Template Explorer包含数以百计的SQL Server, 分析服务器和SQL Mobile脚本. 模板脚本可以通过拖曳进一个打开的查询窗口打开. 如果没有查询窗口打开, 可以双击模板, 使用Edit菜单, 或者右击一个上下文菜单, 这些都会打开一个新的查询窗口.
						</p>
						<p>
							一旦在查询编辑器中打开了一个模板, 通过开启Specify Values for Template Parameters对话框, 模板的参数可以使用真实值代替. 该对话框可以从SQL Editor工具栏上或通过Query菜单启动.
						</p>
					</div>

					<div class="title">Log File Viewer</div>
					<div class="content closed">
						<p>
							Log File Viewer在SQL Management Studio里面启动. 按如下步骤打开:<br>
							1) 在【Object Explorer】中展开【Management】节点<br>
							2) 展开【SQL Server Logs】<br>
							3) 右击一个日志, 然后选择 【Veiw SQL Server Log】
						</p>
					</div>

					<div class="title">数据库引擎优化</div>
					<div class="content closed">
						<p>开始 -> 所有程序 -> Microsoft SQL Server 2005 -> 性能工具 -> 数据库引擎优化顾问.</p>
						<p>dta是图形化数据库引擎调优顾问的命令行版本。命令行工具和图形化工具都基于它们面对的负载提供性能优化建议。</p>
						<p>
							dta -S YourServerName\YourSQLServerInstanceName -E -D AdventureWorks -if MyScript.sql -s MySession2 -of MySession2OutputScript.sql -ox MySession2Output.xml -fa IDX_IV -fp NONE -fk NONE
						</p>
						<p>
							其中 -S 指定安装了 AdventureWorks 数据库的服务器和 SQL Server 实例的名称. -E 设置指定要使用可信连接来连接实例. 使用 Windows 域帐户连接时可使用该设置. -D 设置指定要优化的数据库, -if 指定工作负荷文件, -s 指定会话名称, -of 指定该工具要将 Transact-SQL 建议脚本写入其中的文件, -ox 指定该工具要将 XML 格式的建议脚本写入其中的文件. 最后三个开关指定如下优化选项：-fa IDX_IV 指定数据库引擎优化顾问应该只考虑添加索引（包括聚集和非聚集索引）和索引视图；-fp NONE 指定分析时不考虑分区策略；-fk NONE 指定数据库引擎优化顾问进行建议时不必保留数据库中的现有物理设计结构.
						</p>
					</div>

					<div class="title">SQL Server Profiler</div>
					<div class="content closed">
						<p>
							要启动SQL Server Profiler, 可以使用SQL Server Management Studio的Tools菜单启动, 也可以利用All Programs|Microsoft SQL Server 2005|Performance Tools菜单启动.
						</p>
						<p>
							Profiler可以监控和记录SQL Server活动的几乎所有方面.  当创建一个新的跟踪时, Profiler会提示您该跟踪会在哪台服务器上运行. 记住Profiler仅仅是SQL Trace的一个图形化界面, 其背后发生的是在您连接上的服务器上执行存储过程和函数. 如果服务器太忙且接近全负荷运转, 在其上运行SQL Trace的额外负荷可能会使其超负荷.
						</p>
					</div>

					<div class="title">sqlcmd命令</div>
					<div class="content closed">
						<p>
							sqlcmd是可以执行T-SQL语句, 存储过程和SQL脚本文件的命令行工具. 可以输入sqlcmd /?命令查看使用说明. 若要结束 sqlcmd 会话, 请在 sqlcmd 提示符处键入 EXIT.
						</p>
						<p>
							1) 运行脚本文件
							sqlcmd -S myServer\instanceName -i C:\myScript.sql
						</p>
						<p>
							2) 将此输出保存到文本文件中
							sqlcmd -S myServer\instanceName -i C:\myScript.sql -o C:\EmpAdds.txt
						</p>
					</div>

					<div class="title">BCP命令</div>
					<div class="content closed">
						<p>
							BCP实用工具用来导入平面文件数据至一个SQL Server表, 输出表至平面文件, 或者输出T-SQL查询结果至一个平面文件. 除此之外, 它还可以用来创建导入导出操作中使用的格式文件. 可以输入bcp /?命令查看使用说明.
						</p>
					</div>

					<div class="title">生成T-SQL脚本</div>
					<div class="content closed">
						<p>
							SQL Server Management Studio中的一项重要功能位于Object Explorer和Management Studio界面的其他区域: 根据图形设计器中执行的操作创建脚本. 举例来说, 右击表文件夹, 然后选择新建命令, 之后程序会开启一个图形界面, 其中可以定义表结构. 表的设计完成之后, 您便可以保存表(这将会创建表), 也可以单击Table Designer工具栏上的"Generate Change Script"按钮, 这回编写出合适的T-SQL来完成任务.
						</p>
						<p>
							同样, 当使用Management Sutdio中的对象工作时, 各自设计器的顶上会出现一个"Script"按钮, 该按钮会使设计器的操作通过脚本转移到新的编辑器窗口中.
						</p>
					</div>
				</div>
			</div>

			<div class="title">注意事项</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">关于打开表</div>
					<div class="content closed">
						<p>
							在测试和开发环境下是可以打开表的, 但我们并不推荐在生产环境下这样打开表. 使用Object Explorer打开表会把表中的数据堆积在一个可更新的可卷游标中. 这意味着当表数据显示在结果窗口中时, 任何对已显示数据的改动都同样会影响到表中的底层数据. 而且对此改动不会有任何窗口或警告要求用户确认. 由此数据就会被修改. 这可能会是很危险的. 如果表太大, 显示其全部内容同样会消耗大部分的服务器资源. 作为一条普遍的原则, 如果需要展示一个表中的全部内容, 最好的方法就是写一个没有任何过滤器的查询, 如下所示:
						</p>
						<pre class="prettyprint linenums">
<code>
USE AdventureWorks
GO
SELECT * FROM Person.Address
</code>
						</pre>
						<p>
							该命令显示的信息同打开表显示的一样, 但不会增加可更新游标的数量, 所以结果是只读的.
						</p>
						<p>
							如果表中数据需要更新, 那么更新命令比修改打开结果窗口中的数据更合适.
						</p>
					</div>
				</div>
			</div>

			<div class="title">使用技巧</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">最大化查询编辑器窗口</div>
					<div class="content closed">
						<p>
							单击“查询编辑器”窗口中的任意位置.  按 Shift+Alt+Enter, 在全屏显示模式和常规显示模式之间进行切换.
						</p>
						<p>
							这种键盘快捷键适用于任何文档窗口.
						</p>
					</div>

					<div class="title">使用多个代码窗口</div>
					<div class="content closed">
						<p>
							若要同时查看两个代码窗口, 请右键单击查询编辑器的标题栏, 然后选择【新建水平选项卡组】. 此时将在水平窗格中显示两个查询窗口.
						</p>
						<p>
							单击上面的查询编辑器窗口将其激活, 再单击“新建查询”打开新的查询窗口. 该窗口将显示为上面窗口中的一个选项卡.  在 【窗口】菜单中, 单击【移动到下一个选项卡组】. 第三个窗口将移动到下面的选项卡组中. 使用这些选项, 可以用多种方式配置窗口.
						</p>
					</div>

					<div class="title">编写脚本</div>
					<div class="content closed">
						<p>
							在对象资源管理器中, 依次展开【服务器】|【数据库】|【xx数据库】|【表】, 右键单击【xx表】, 再指向“编写表脚本为”. 快捷菜单有六个脚本选项：“CREATE 到”、“DROP 到”、“SELECT 到”、“INSERT 到”、“UPDATE 到”和“DELETE 到”. 指向“UPDATE 到”, 再单击“新查询编辑器窗口”. 系统将打开一个新查询编辑器窗口, 执行连接并显示完整的更新语句.
						</p>
					</div>

					<div class="title">注册服务器</div>
					<div class="content closed">
						<p>
							在【SQL Server Management Studio】中, 选择【视图】|【已注册服务器】命令, 在【已注册服务器】窗格中右击【数据库引擎】节点, 选择【新建】|【服务器注册】...
						</p>
						<p>
							注册服务器是指把连接到服务器时的设置保存下来, 下次直接在【已注册服务器】窗格中直接连接服务器即可.
						</p>
					</div>

					<div class="title">隐藏实例</div>
					<div class="content closed">
						<p>
							用户可能希望允许SQL Server Browser服务来显示某些数据库引擎实例, 但有时出于安全性的考虑也会需要隐藏其他实例, 例如, 不希望客户可以枚举所有数据库引擎, 这时可以使用SQL Server 配置管理器以隐藏数据库引擎实例.<br>
							1) 从【开始】菜单上选择【程序】|【Microsoft SQL Server 2005】|【配置工具】|【SQL Server Configuration Manager】命令...<br>
							2) 在左边的列表中单击【SQL Server 2005网络配置】节点, 在展开的节点列表中查看所有可用的数据库引擎<br>
							3) 在左侧展开的节点列表中右击一个需要隐藏的实例, 选择【属性】命令. 例如, 选择"MSSQLSERVER的协议"节点<br>
							4) 在弹出的【MSSQLSERVER的协议属性】对话框中, 将【标志】选项卡下的HideInstance属性设置为"是"来启用隐藏该实例的功能.<br>
							5) 在【SQL Server Management Studio】窗口中, 重新启动数据库实例是设置生效
						</p>
					</div>

					<div class="title">使用模板</div>
					<div class="content closed">
						<div class="list list-number">
							<div class="title">创建自定义模板</div>
							<div class="content closed">
								<p>模板资源管理器 -> 右键 -> 模板</p>
							</div>

							<div class="title">使用模板创建脚本</div>
							<div class="content closed">
								<p>
									1) 在 【Microsoft SQL Server Management Studio】 的【视图】菜单上，单击模板资源管理器.<br>
									2) 在模板资源管理器中展开【数据库】，再双击【创建数据库】.<br>
									3) 在【连接到数据库引擎】对话框中，填写连接信息，再单击【连接】. 此时将打开一个新查询编辑器窗口，其中包含“创建数据库”模板的内容.<br>
									4) 在【查询】菜单上，单击“指定模板参数的值”...
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="title">How To</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">如何在SQL Server 2005中安装Northwind数据库?</div>
					<div class="content closed">
						<p>
							首先到<a href="http://www.microsoft.com/downloads/thankyou.aspx?familyId=06616212-0356-46a0-8da2-eebc53a68034&displayLang=en ">这里</a>下载SQL2000SampleDb.msi,然后进行安装, 这是Northwind就会出现在默认目录C:/下的C:/SQL Server 2000 Sample Databases中, 然后在sqlServer2005选择数据库-----附加数据库：将该目录下的Northwind添加进去即可！
						</p>
					</div>

					<div class="title">如何确定正在运行的 SQL Server 数据库引擎的版本</div>
					<div class="content closed">
						<p>
							连接到 SQL Server 的实例, 然后运行以下查询：
						</p>
						<pre class="prettyprint linenums">
<code>
Select @@version
</code>
						</pre>
					</div>

					<div class="title">如何查看SQL Server执行了哪些语句?</div>
					<div class="content closed">
						<p>
							使用SQL Server Profiler工具.<br>
							打开【Microsoft SQL Server Management Studio】, 选择菜单【工具】, 点击【SQL Server Profiler】菜单...
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}