<div class="fixed-top ml-10 mt-10 ml-3 mt-2" style="width: 128px;">
	<p><strong><a href="{:url('software/php/index', 'template=php-tp5-index')}" target="_self">tpAdmin</a></strong></p>

	<ol>
		<li><a href="{:url('software/php/index', 'template=php-tpadmin-model')}" target="_self">模型</a></li>
		<li><a href="{:url('software/php/index', 'template=php-tpadmin-model')}" target="_self">视图</a></li>
		<li><a href="{:url('software/php/index', 'template=php-tpadmin-model')}" target="_self">控制器</a></li>
	</ol>	
	
	<br><br><br>
	<hr>
	<p><a href="__manual_tpAdmin__/220267">tpAdmin手册</a></p>
</div>