{include file="php/tpadmin/template/header" title="tpAdmin" /}

<p>tpAdmin 是一个基于 ThinkPHP5.0 正式版和 Hui.admin v2.5 的管理后台，简化管理后台的开发流程，简化代码的编写，提高代码复用率，同时集成完整的权限管理和其他管理后台中常用的功能.</p>
<div class="list list-number">
	<div class="title">前后端特性</div>
    <div class="content open">
		<table class="table table-bordered table-sm w-50">
			<tbody>
				<tr>
					<td>
						<span class="text-strong">后端</span>
						模板、控制器、模型、验证器、数据表自动生成<br>
						RBAC 权限管理<br>
						完美支持多级控制器及多级控制器权限管理<br>
						支持前置方法 before<br>
						支持方法拦截器，实现请求拦截<br>
						支持过滤器<br>
						支持模板主题（需自己按照文档修改官方源码使用）<br>
						节点自动扫描与添加<br>
						七牛上传及与百度编辑器 (Ueditor) 结合使用<br>
						Excel 一键导出和一键导入<br>
						邮件发送( Fsock 和 phpMailer 两种驱动)<br>
						ID 加密解密<br>
						网站操作日志记录（自动水平分表）<br>
						图片上传管理及回调
					</td>
					<td>
						<span class="text-strong">前端</span><br>
						表单校验<br>
						无限层级菜单，完美与后端多级控制器兼容<br>
						自动面包屑导航<br>
						基于 layer 的丰富弹层<br>
						支持 H5 + iframe 自动切换的无刷新上传<br>
						ajax 请求处理封装，直接后台返回数据控制前端页面处理<br>
						多窗口办公<br>
						随机字符串生成<br>
						表格溢出处理<br>
						图片预览<br>
						二维码生成	
					</td>
				</tr>
			</tbody>
		</table>
		<p class="text-strong">使用了如下框架或插件, 源码:</p>
		<p>
			ThinkPHP 5.0.2 正式版<br>
			Hui.admin v2.5<br>
			layer<br>
			jQuery Validform<br>
			七牛<br>
			…
		</p>
    </div>

	<div class="title">部署tpAdmin</div>
    <div class="content closed">
		<p class="text-strong">新建数据库</p>
		<p>新建数据库 tpadmin，导入项目根目录的 tpadmin.sql 文件，默认管理员帐号：admin，默认管理员密码：123456</p>

		<p class="text-strong">设置虚拟域名</p>
		<p>
			如果是配置了虚拟域名并且虚拟域名指向了项目根目录的 public 文件夹，那么访问 http://your-tpadmin-root-domain/admin;<br>
			如果配置了虚拟域名但是虚拟域名指向的是项目根目录，那么访问 http://your-tpadmin-root-domain/public/admin.<br>
			如果没有配置虚拟域名，那么访问 http://localhost/tpadmin/public/admin; (Apache推荐这种)
		</p>

		<p class="text-strong">ajax请求问题</p>
		<p>
			tpadmin 使用了大量的 ajax 请求，本人实测过程中经常遇到 php.ini 文件报警告，导致返回的 json 数据出错，警告如下：<br>
			>[warning] Deprecated: Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set ‘always_populate_raw_post_data’ to ‘-1’ in php.ini and use the php://input stream instead. in Unknown on line 0<br>
			请修改 php.ini 文件里的 always_populate_raw_post_data ，将其值设为 -1 ，一般存在该配置项，直接删掉前面注释
		</p>

    </div>

    <div class="title">弹出提示框</div>
    <div class="content closed">
		<p>使用<a href="https://www.kancloud.cn/yuan1994/tpadmin/225019">ajax_return...</a></p>
		<p>需要在View中设置</p>
		<pre class="prettyprint linenums lang-php"><code>&#123;block name="script"}
&lt;script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js">&lt;/script>
&lt;script>
	$(function () {
		$("#form").Validform({
			tiptype: 2,
			ajaxPost: true,
			showAllError: true,
			callback: function (ret) {
				ajax_progress(ret);
			}
		});
	})
&lt;/script>
&#123;/block}</code></pre>
    </div>

    <div class="title">前置方法before支持</div>
    <div class="content open">
		<a href="__manual_tpAdmin__/225018">手册</a>
    </div>

	<div class="title">数据返回</div>
    <div class="content open">
		<a href="__manual_tpAdmin__/225019">手册</a>
    </div>

	<div class="title">异常接管</div>
    <div class="content open">
		<a href="__manual_tpAdmin__/220274">手册</a>
    </div>

	<div class="title">Rbac权限管理</div>
    <div class="content open">
		<a href="__manual_tpAdmin__/235869">手册</a>
    </div>

	<div class="title">分组管理</div>
    <div class="content closed">
		<p>
			分组创建后刷新页面不会在左侧导航菜单中显示，只有该分组的状态为启用, 并且该分组下有二级节点, 且节点的状态为启用时，该分组才能显示!<br>
			分组不参与权限管理，它只是一个分类工具，一个分类容器，不会影响任何权限管理和节点管理.<br>
			删除或禁用某个分组时，请确认没有需要展示的节点在该分组下，否则会导致这些节点（菜单）不能显示，也就无法正常使用.
		</p>
    </div>

	<div class="title">节点管理</div>
    <div class="content closed">
		<p>
			后台左侧导航菜单都是节点，只有顶层进行分类的是分组，所以添加节点就是添加菜单.<br>
			如果节点添加错误会导致菜单不出来，也会导致权限管理失败，其他帐号访问该节点可能出现权限错误的问题，请严格注意节点的大小写!
		</p>
    </div>

	<div class="title">表单验证</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
&lt;input type="text" class="input-text" placeholder="保管人" name="owner" value="{$vo.owner ?? ''}" >
</code>
		</pre>
		<p>改为:</p>
		<pre class="prettyprint linenums">
<code>
&lt;input type="text" class="input-text" placeholder="保管人" name="owner" value="{$vo.owner ?? ''}" datatype="*" nullmsg="请输入保管人" >
</code>
		</pre>
		<p>添加*号</p>
		<pre class="prettyprint linenums">
<code>
&lt;span class="c-red">*&lt;/span>
</code>
		</pre>
    </div>

	<div class="title">设置无需认证</div>
    <div class="content closed">
		<p>修改application/admin/extra/rbac.php配置文件:</p>
		<pre class="prettyprint linenums">
<code>
return [
    // RBAC 权限验证
    'not_auth_controller' => 'Index,MaintenanceAlarm', // 默认无需认证控制器，多级控制器使用点语法，严格大小写，多个逗号隔开
    'not_auth_action' => 'alarmte2', // 默认无需认证方法，全部小写，多个逗号隔开
];
</code>
		</pre>
    </div>

	<div class="title">ajax</div>
    <div class="content closed">
		<p>在视图文件中添加如下代码:</p>
		<pre class="prettyprint linenums">
<code>
&lt;script>
    $(function () {
        $("[name='device_model_id'][value='{$vo.device_model_id ?? '1'}']").prop("checked", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret) {
                ajax_progress(ret);
            }
        });
    })
&lt;/script>
</code>
		</pre>
    </div>

	<div class="title">解决左侧菜单排序问题</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
/**
* 首页列表生成菜单项
*/
public function getMenu()
{
    if (ADMIN) {
        $nodes = Db::name("AdminNode")->where("status=1 AND group_id > 0")->field("id,pid,name,group_id,title,type")->order("sort asc")->select();
    } else {
        $prefix = Config::get("database.prefix");
        $sql = "SELECT node.id,node.name,node.pid,node.group_id,node.title,node.type from "
            . "&#123;$prefix}admin_role AS role,"
            . "&#123;$prefix}admin_role_user AS user,"
            . "&#123;$prefix}admin_access AS access ,"
            . "&#123;$prefix}admin_node AS node "
            . "WHERE user.user_id='" . UID . "' "
            . "AND user.role_id=role.id "
            . "AND access.role_id=role.id "
            . "AND role.status=1 "
            . "AND access.node_id=node.id "
            . "AND node.status=1 "
            . "AND node.group_id > 0 "
            . "ORDER BY node.sort ASC";
        $nodes = Db::query($sql);
    }

    return $nodes;
}
</code>
		</pre>
    </div>

	<div class="title">表单验证</div>
    <div class="content closed">
		<p>
			使用的是Validform: http://validform.rjboy.cn/document.html<br>
			验证配置: common\validate\xxx.php
		</p>
		<pre class="prettyprint linenums">
<code>
$("#form").Validform({
    tiptype: 2,
    ajaxPost: true,
    showAllError: true,
    callback: function (ret){
        ajax_progress(ret);
    }
});
</code>
		</pre>	
		<p>
			成功: return ajax_return_adv('入库成功', 'current');<br>
			失败: return ajax_return_error('已经存在记录, 请不要重复录入!');
		</p>
    </div>

	<div class="title">标签扩展</div>
    <div class="content closed">
		<p class="text-strong">menu菜单</p>
		<p>
			使用 tp:menu 写半闭合标签，可选属性有 menu、url、title。
		</p>
		<p>
			menu 表示需要显示的菜单，多个菜单以半角逗号隔开，默认为 add,forbid,resume,delete,recycleBin ，可调整名称顺序从而调整菜单顺序，其他的菜单还有 recycle、deleteForever、clear、sedit、sdelete，srecycle、sdeleteForever，其中菜单前面有 s 的表示用于表格内部的小菜单，一般是需要传递参数的，其他表示表格上面的选项菜单，一般用于批量操作，不需要指定参数；
		</p>
		<p>
			url 参数表示对应 menu 的链接，多个以半角逗号隔开，分别对应相应的 menu 里的链接，例如: menu='add,forbid,resume'url=',forbid:id=$vo.id&pid=$vo.pid'，
			1) 即需要使用默认链接的菜单直接使用半角逗号;
			2) 需要自定义的链接需要使用"方法名:param1=value1&param2=value2"这种格式设置链接，如果不需要传递参数，可以省略参数，例如 url='add'，使用参数时在方法名后面使用 : 连接，后面使用 参数名=参数值 的格式传递参数，其中参数值支持字符串、变量，例如 add:id=$vo.id ， add:id=1 ， add:id=$vo.id ?? 1 ， add:id=$Request.param.id ，你还可以使用函数，例如 add:id=:time() ，add:id=:time()&id2=$Think.config.foo；
		</p>
		<p>
			title 参数表示对应 menu 的标题，多个标题以半角逗号隔开，分别对应相应的 menu 里的标题，例如 {tp:menumenu='add' url='add:pid=$Request.param.pid' title='添加节点' /}， {tp:menumenu='add,forbid,resume,add' url=',,,load:id=$Request.param.id' title=',,,批量导入节点' /}

		</p>
    </div>

	<div class="title">搜索功能</div>
    <div class="content closed">
		<p class="text-strong">语法高亮</p>
		<pre class="prettyprint linenums">
<code>
&lt;td>&#123;$vo.device_category.name|high_light=$Request.param.device_category}&lt;/td>    // high_light后面是提交表单时要搜索的字符串
</code>
		</pre>	
		<p>高亮处理函数位于common.php中</p>
		<pre class="prettyprint linenums">
<code>
/**
* 用于高亮搜索关键词
* @param string $string 原文本
* @param string $needle 关键词
* @param string $class span标签class名
* @return mixed
*/
function high_light($string, $needle = '', $class = 'c-red')
{
    return $needle !== '' ? str_replace($needle, "&lt;span class='&#123;$class}'>" . $needle . "&lt;/span>", $string) : $string;
}
</code>
		</pre>	
    </div>
</div>

{include file="php/tpadmin/template/footer" /}