{include file="template/header" title="C# 数据" /}
<p>
    <strong>C#是一种静态类型编程语言, 但是现在有dynamic类型!</strong>
</p>

<div class="list list-number">
    <!--数据类型-->
    <div class="title">数据类型</div>
    <div class="content open">
        <div class="container ml-0">
            <div class="row">
                <div class="col-1"><strong>基本类型 </strong></div>
            </div>

            <div class="row">
                <div class="col-1"><strong>数据结构</strong></div>
                <div class="col-1"><a href="{:url('software/cs/index', 'template=cs-data-Class')}">类</a></div>
            </div>

            <div class="row">
                <div class="col-1"><strong>容器类</strong></div>
                <div class="col-2">
                    <a href="{:url('software/cs/index', 'template=cs-data-Array')}">Array</a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-List')}">List&lt;T></a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-ArrayList')}">ArrayList</a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-CollectionBase')}">CollectionBase</a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-ReadOnlyCollection')}">ReadOnlyCollection&lt;T></a>
                </div>
                <div class="col-3">
                    <a href="{:url('software/cs/index', 'template=cs-data-Dictionary')}">Dictionary&lt;K,V></a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-Hashtable')}">Hashtable</a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-Dictionarybase')}">DictionaryBase</a>
                </div>
                <div class="col-3">
                    <a href="{:url('software/cs/index', 'template=cs-data-Stack')}">Stack</a><br>
                    <a href="{:url('software/cs/index', 'template=cs-data-HashSet')}">HashSet&ltT></a>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="template/footer" /}