{include file="template/header" title="C# 日期&时间" /}
<div class="list list-number">
    <div class="title">DateTime</div>
    <div class="content open">
        <div class="list list-number">
            <div class="title">常用操作</div>
            <div class="content open">
                <div class="list list-number">
                    <div class="title">转换成字符串</div>
                    <div class="content open">
                        <p>
                            .ToString()     '// 该结果取决于计算机上的区域设置. yyyy: 年; MM: 月; dd: 日; HH: 24小时制; hh: 12小时制; mm: 分; ss: 秒; fff: 毫秒<br>
                            .ToLongDateString() <br>
                            .ToShortDateString() <br>
                            .ToLongTimeString() <br>
                            .ToShortTimeString() <br>
                            .ToString("dddd")    '// 工作日名称, 由区域设置决定 <br>
                            .ToString("MMMMM")   '// 月份名称, 由区域设置决定 <br>
                        </p>
                    </div>

                    <div class="title">提取日期属性</div>
                    <div class="content open">
                        <p>
                            .Year .Month .Day .Hour .Minute .Second
                            .DayOfWeek    '// 不能确保Day 1总是指星期一, 同区域设置有关 <br>
                            .DayOfYear <br>
                        </p>
                    </div>

                    <div class="title">修改日期</div>
                    <div class="content open">
                        <p>
                            .AddDays() <br>
                            .AddMonths() <br>
                            .AddYears() <br>
                        </p>
                    </div>

                    <div class="title">大小比较</div>
                    <div class="content open">
                        >, >=, <, <=, =, !=
                    </div>


                    <div class="title">计算时间差</div>
                    <div class="content open">
                        <p>(DateTime.Now - previousTestDate).TotalMinutes    // -运算的结果是TimeSpan类型</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title">TimeSpan (时间片)</div>
    <div class="content open">
        <p>TimeSpan represents a time interval.</p>
        <div class="list list-number">
            <div class="title">定义</div>
            <div class="content open">
                <pre class="prettyprint linenums lang-php"><code>TimeSpan timeSpan = new TimeSpan(0,1,0);        // 定义一个时间片: 1分钟
TimeSpan timeSpan = TimeSpan.FromMinutes(1);    // 定义一个时间片: 1分钟
TimeSpan timeSpan = dateTime2 - dateTime1;</code></pre>
            </div>
        </div>
    </div>

    <div class="title">Stopwatch</div>
    <div class="content open">
        <p>Provides a set of methods and properties that you can use to accurately measure elapsed time.</p>
    </div>
    {include file="template/footer" /}