{include file="template/header" title="C# 开发环境" /}
<div class="list list-number">
    <div class="title">NuGet</div>
    <div class="content closed">
        <p>
            <strong>什么是NuGet?</strong><br>
            通俗来说, NuGet是用来管理引用的!
        </p>
        <p>
            <strong>安装Dapper失败, 怎么办?</strong><br>
            离线安装旧版可以解决!<br>            
            例如: install-package dapper -version 1.50.2 -source C:\Users\Jack_Ku\AppData\Local\NuGet\Cache\
        </p>
    </div>

    <div class="title">编译出错</div>
    <div class="content closed">
        <p>
            检查项目的目标Framework是否选的是.NET Framework X Client Profile
        </p>
    </div>
</div>
{include file="template/footer" /}