{include file="template/header" title="C# 开发环境" /}
<div class="list list-number">
	<!--条件编译-->
	<div class="title">条件编译</div>
	<div class="content closed">
		<p>条件编译可以根据定义不同符号, 编译出不同版本的程式!</p>

		<p class="text-strong">定义符号</p>
		<div class="container-fluid pl-0">
			<div class="row">
				<div class="col-1">1) 源文件: </div>
				<div class="col-2">#define DEBUG & #undef DEBUG</div>
			</div>
			<div class="row">
				<div class="col-1">2) 编译时: </div>
				<div class="col-2">编译时使用define参数: /define:name[;name2] </div>
			</div>
			<div class="row">
				<div class="col-1">3) 指定项目属性: </div>
				<div class="col-4">Project Property--->Build--->Conditional compilation symbols, 如果定义多个可使用逗号隔开</div>
			</div>
		</div>

		<p class="text-strong">使用范围</p>
		<p>用 #define 创建的符号的使用范围是当前文件.</p>
	</div>

	<!--#warning & #error-->
	<div class="title">编译警告&错误: #warning, #error & #pgagma</div>
	<div class="content closed">
		<p class="text-strong">自定义编译警告&错误</p>
		<pre class="prettyprint linenums lang-cs"><code>// 如果编译器遇到#warning指令, 会给用户显示#warning指令后面的文本, 之后编译继续进行.
#if DEBUG && RELEASE
    #error "You've defined DEBUG and RELEASE simulataneously!"
#endif

// 如果编译器遇到#error指令, 就会给用户显示后面的文本, 作为一个编译错误信息, 然后会立即退出编译, 不会生成IL代码.
#warning "Don't forget to remove this line the boss tests the code!"
    Console.WriteLine("*I have this job*");</code></pre>

		<p class="text-strong">抑制&恢复某个编译警告</p>
		<pre class="prettyprint linenums lang-cs"><code>#pragma warning disable 169
    public class MyClass
    {
        int neverUsedField;
    }
#pragma warning restore 169</code></pre>
	</div>

	<!--#if DEBUG va Debugger.IsAttached-->
	<div class="title">#if DEBUG vs Debugger.IsAttached</div>
	<div class="content closed">
		<div class="container-fluid">
			<div class="row">
				<div class="col-1">#if DEBUG</div>
				<div class="col-2">DEBUG代码不会编译到程序集中</div>
			</div>
			<div class="row">
				<div class="col-1">Debugger.IsAttached</div>
				<div class="col-10">
					Gets a value that indicates whether a debugger is attached to the process.<br>
					在开发环境中允许代码, 不管是Debug模式, 还是Release模式, 都会返回true. 运行执行挡时, 如果Debugger Attached, 也会返回true.(执行挡怎么Attach Debugger?)
				</div>
			</div>
		</div>
	</div>

	<!--Build Event-->
	<div class="title">Build Event</div>
	<div class="content closed">
		<a href="https://blog.csdn.net/norsd/article/details/10575217">网络资料</a>	
	</div>

	<!--NuGet-->
    <div class="title">NuGet</div>
    <div class="content closed">
        <p>
            <strong>什么是NuGet?</strong><br>
            通俗来说, NuGet是用来管理引用的!
        </p>
        <p>
            <strong>安装Dapper失败, 怎么办?</strong><br>
            离线安装旧版可以解决!<br>            
            例如: install-package dapper -version 1.50.2 -source C:\Users\Jack_Ku\AppData\Local\NuGet\Cache\
        </p>
    </div>

    <div class="title">编译出错</div>
    <div class="content closed">
        <p>
            检查项目的目标Framework是否选的是.NET Framework X Client Profile
        </p>
    </div>

	<div class="title">运行错误</div>
	<div class="content closed">
		<div class="list list-number">
			<div class="title">使用Ado.Net时报错: Incorrect syntax near the keyword 'File'</div>
			<div class="content closed">
				<p>
					File是SQL Server关键字, 不能作为表名, 字段名, 需要添加中括号括起来. <br>
					怪不得SQL Sever自动生成的SQL语句会自动添加中括号!
				</p>
			</div>
			<div class="title">运行Jack4net.Log.LogService报错: The type initializer for 'Jack4net.Log.LogService' threw an exception.</div>
			<div class="content closed">
				<p>
					项目中引用了Jack4net.dll和log4net.dll, 把log4net.dll的引用去掉就可以了.
				</p>
			</div>
		</div>
	</div>
</div>
{include file="template/footer" /}