{include file="template/header" title="C# 退出程序" /}
<div class="list list-number">
    <div class="title">正常退出</div>
    <div class="content open">
		<p>Application.Exit();    // 停止在当前进程上的所有线程上运行的所有消息循环, 并关闭当前进程上的应用程序的所有窗口. </p> 
		<p>
			我们要想在当前进程上使用Application.Exit(), 关闭其他线程, 就要把其他的线程设置为当前进程的后台线程(IsBackground).
			而当在主线程中创建了一个线程时, 那么该线程的IsBackground属性默认是设置为false的. 当主线程退出的时候, IsBackground = false的线程还会继续执行下去, 直到线程执行结束. 只有IsBackground = true的线程才会随着主线程的退出而退出. 
		</p>
    </div>

    <div class="title">其他退出</div>
    <div class="content open">
		<p>
			form.Close(): 只是关闭当前窗口. 若不是主窗体的话，是无法退出程序的，如果有有托管线程（非主线程），也无法干净地退出. <br>
			Application.ExitThread(): 退出当前线程上的消息循环, 并关闭该线程上的所有窗口. 如果有其他线程, 也无法干净地退出. <br>
			Environment.Exit(0): 终止当前进程, 并为基础操作系统提供指定的退出代码<br>
		</p>
    </div>
</div>

{include file="template/footer" /}