{include file="template/header" title="C# 出错处理" /}

<div class="list list-number">
    <div class="title">出错处理三大问题</div>
    <div class="content open">
		<p>
			1) 出错处理机制: 异常或者返回值(不良代码, true/false, null...)
		<p>
			2) 是否要log不良信息? 怎么log?
		</p>

		<p>
			3) 时候要提示给用户? 怎么提示?
		</p> 
    </div>

    <div class="title">异常 vs 错误代码</div>
    <div class="content open">
		<p>错误代码: 出现错误时, 如果程式没有处理, 很难发现; 需要知道不同错误代码的含义.</p>
		<p>异常: 出现异常时, 如果程式没有处理, 默认会弹出异常对话框; 通过Message属性可以获取异常的详细说明; 通过StackTrace可以知道哪一行代码出错; 抛出异常时对程式性能有影响.</p>
		<p>异常抛出一般用于处理未预料到的错误, 比如内存异常, 常见的错误可以使用错误代码方式. int.TryParse()就比int.Parse()函数友好..</p>
    </div>
</div>

{include file="template/footer" /}