{include file="template/header" title="C# 出错处理" /}

<div class="list list-number">
	<div class="title">异常处理原则</div>
	<div class="content open">
		<p>
			1 如果你不能处理异常，不要捕获该异常。<br>
			2 如果要捕获，应在离异常源近的地方捕获它。<br>
			3 不要吞没你捕获的异常, 就是捕获的异常，但是什么也不做。<br>
			4 除非你要重新抛出异常，否则把它log起来。<br>
			5 当一个异常被重新包装，然后重新抛出的时候，不要打印statck trace。<br>
			6 用自定义的异常类，不要每次需要抛出异常的时候都抛出java.lang.Exception。方法的调用者可以通过throws知道有哪些异常需要处理--所以它是自我描述的。<br>
			7 如果你编写业务逻辑，对于终端用户无法修复的错误，系统应该抛出非检查的异常（unchecked exception）；如果你编写一个第三方的包给其他的开发人员用，对于不可修复的错误要用需要检查的异常（checked exception）。<br>
			8 绝对不要因为写throws语句会让你用起来不舒服，而不声明需要检查的异常。<br>
			9 应用级别的错误或不可修复的系统异常用非检查的异常（unchecked exception）抛出。<br>
			*（注意是错误，意味着不可修复，比如配置文件错误）<br>
			10 根据异常的粒度组织你的方法.<br>
		</p>
	</div>

    <div class="title">出错处理三大问题</div>
    <div class="content open">
		<p>
			1) 出错处理机制: 异常或者返回值(不良代码, true/false, null...)
		<p>
			2) 是否要log不良信息? 怎么log?
		</p>

		<p>
			3) 时候要提示给用户? 怎么提示?
		</p> 
    </div>

    <div class="title">异常 vs 错误代码</div>
    <div class="content open">
		<p>错误代码: 出现错误时, 如果程式没有处理, 很难发现; 需要知道不同错误代码的含义.</p>
		<p>异常: 出现异常时, 如果程式没有处理, 默认会弹出异常对话框; 通过Message属性可以获取异常的详细说明; 通过StackTrace可以知道哪一行代码出错; 抛出异常时对程式性能有影响.</p>
		<p>异常抛出一般用于处理未预料到的错误, 比如内存异常, 常见的错误可以使用错误代码方式. int.TryParse()就比int.Parse()函数友好..</p>
    </div>
</div>

{include file="template/footer" /}