{include file="template/header" title="C# Ini编程" /}
<div class="list list-number">
    <div class="title">INI File Parser</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
// 引用命名空间	
using IniParser;
using IniParser.Model;

// 生成ini对象
var parser = new FileIniDataParser();
IniData data = parser.ReadFile("Configuration.ini");

// 读ini数据
string useFullScreenStr = data["UI"]["fullscreen"];
// useFullScreenStr contains "true"
bool useFullScreen = bool.Parse(useFullScreenStr);

// 写ini数据
data["UI"]["fullscreen"] = "true";
parser.WriteFile("Configuration.ini", data);
</code>
		</pre>	
    </div>
</div>
{include file="template/footer" /}