{include file="template/header" title="C# IOC框架" /}
内容...
<hr>
<div class="list list-none">
    <div class="title">参考资料</div>
    <div class="content closed">
		<a href="https://github.com/autofac/Autofac">Autofac @github</a><br>
		<a href="http://www.cnblogs.com/JustRun1983/archive/2013/03/17/2965201.html">IoC容器Autofac(1) - 什么是IoC以及理解为什么要使用Ioc</a><br>
		<a href="http://www.cnblogs.com/JustRun1983/archive/2013/03/19/2968538.html">IoC容器Autofac(2) - 一个简单示例(附demo源码)</a><br>
		<a href="https://www.cnblogs.com/JustRun1983/archive/2013/03/24/2978597.html">IoC容器Autofac(3) - 理解Autofac原理，我实现的部分Autofac功能(附源码)</a><br>
		<a href="https://blog.csdn.net/wlanye/article/details/42126133">Autofac（IOC框架）速度比拼</a><br>
    </div>
</div>
{include file="template/footer" /}