{include file="template/header" title="C# IOC框架" /}
内容...
<hr>
<div class="list list-none">
    <div class="title">参考资料</div>
    <div class="content closed">
		<a href="https://github.com/autofac/Autofac">Autofac @github</a><br>
		<a href="https://www.cnblogs.com/mantgh/p/5106149.html">.NET手记－Autofac入门Getting Started</a><br>
		<a href="https://blog.csdn.net/wlanye/article/details/42126133">Autofac（IOC框架）速度比拼</a><br>
		<a href="https://www.cnblogs.com/lori/archive/2012/09/05/2671724.html">IoC~高效的Autofac</a><br>
    </div>
</div>
{include file="template/footer" /}