{include file="template/header" title="C# IPC" /}
<p>进程间通信IPC，也就是Inter-Process Communication的缩写。</p>
<p>那么进程间为什么要通信呢？简单说来，单进程的程序已经远远不能满足我们的需要了，进程与进程间通信就组成了更大的一个系统。比如P2P的软件就是两个不同计算机的程序进行数据交互，从而完成下载或通信的任务。</p>
<p>在Windows OS上，有几种常用的进程间通信方式：</p>

<div class="list list-number">
	<div class="title">Clipboard</div>
	<div class="content open">

	</div>

	<div class="title">COM</div>
	<div class="content open">

	</div>

	<div class="title">File Mapping(Sharing memory)</div>
	<div class="content open">

	</div>

	<div class="title">Mailslots</div>
	<div class="content open">

	</div>

	<div class="title">Pipes</div>
	<div class="content open">

	</div>

	<div class="title">RPC</div>
	<div class="content open">

	</div>

	<div class="title">Sockets</div>
	<div class="content open">

	</div>
</div>
<hr>
<p>
	参考<br>
	<a href="http://www.cnblogs.com/yukaizhao/archive/2011/08/04/system-io-pipes.html">System.IO之使用管道在进程间通信 （System.IO.Pipes使用）</a><br>
	<a href="https://www.cnblogs.com/DebugLZQ/archive/2012/07/30/2614815.html">浅谈.net remoting 与webservice</a>
</p>
{include file="template/footer" /}