{include file="template/header" title="C# JSON编程" /}
<a href="http://www.json.org/json-zh.html">JSON介绍</a>
<br>
<br>

<ol>
    <li class="summary closed">JSON值类型</li>
    <div>
        <h5>JSON 值可以是：</h5>
        <ul>
            <li>数字: 整数或浮点数. 例如: 1或者3.14</li>
            <li>逻辑值: true或false</li>
            <li>数组: 在方括号内. 例如: [1, 2, 3]</li>
            <li>对象: 在花括号内. 例如: {"name": "Jack", "sex": "male"}</li>
            <li>字典: 也在花括号内. 例如: {"item1": 1, "item2": 2}</li>
            <li>null</li>
        </ul>
    </div>
</ol>
<p>
    1、对象：对象在js中表示为“{}”括起来的内容，数据结构为 {key：value,key：value,...}的键值对的结构，在面向对象的语言中，key为对象的属性，value为对应的属性值，所以很容易理解，取值方法为 对象.key 获取属性值，这个属性值的类型可以是
    数字、字符串、数组、对象几种。
</p>

<p>
    2、数组：数组在js中是中括号“[]”括起来的内容，数据结构为 ["java","javascript","vb",...]，取值方式和所有语言中一样，使用索引获取，字段值的类型可以是 数字、字符串、数组、对象几种。 经过对象、数组2种结构就可以组合成复杂的数据结构了。
</p>
{include file="template/footer" /}