{include file="template/header" title="C# JSON编程" /}

<div class="list list-number">
	<div class="title">JSON数值类型</div>
	<div class="content open">
		<div>
			<h5>JSON 值可以是：</h5>
			<ul>
				<li>数字: 整数或浮点数. 例如: 1或者3.14</li>
				<li>逻辑值: true或false</li>
				<li>数组: 在方括号内. 例如: [1, 2, 3]</li>
				<li>对象: 在花括号内. 例如: {"name": "Jack", "sex": "male"}</li>
				<li>字典: 也在花括号内. 例如: {"item1": 1, "item2": 2}</li>
				<li>null</li>
			</ul>
		</div> 
	</div>

	<div class="title">使用Json.NET开源类库</div>
	<div class="content open">
		<div class="list list-number">
			<div class="title">Json.net实现方便的Json转C#（dynamic动态类型）对象</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
static void Main(string[] args)
{
    string json = "{\"Id\":1,\"Name\":\"刘备\",\"Age\":\"22\"}";
    //此处模拟在不建实体类的情况下，反转将json返回回dynamic对象
    var DynamicObject = JsonConvert.DeserializeObject&lt;dynamic>(json);
    Console.WriteLine(DynamicObject.Name);  //刘备
    Console.ReadKey();
}
</code>
				</pre>
			</div>
		</div>
	</div>
</div>

<hr>
<p>
	参考<br>
	<a href="http://www.json.org/json-zh.html">JSON介绍</a>
</p>

{include file="template/footer" /}