{include file="template/header" title="C# 正则表达式" /}



<div class="list list-number">
	<div class="title">元字符</div>
	<div class="content closed">
		<table class="table table-bordered table-sm w-25">
			<thead>
				<tr>
					<th>元字符</th>
					<th>含义</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>.</td>
					<td>匹配任意字符, 除了换行符</td>
				</tr>
				<tr>
					<td>\w</td>
					<td>匹配字母, 数字, 下划线, 或汉字</td>
				</tr>
				<tr>
					<td>\d</td>
					<td>匹配一个数字, 0~9</td>
				</tr>
				<tr>
					<td>\s</td>
					<td>匹配任意一个空白符</td>
				</tr>
				<tr>
					<td>^</td>
					<td>匹配字符串的开始</td>
				</tr>
				<tr>
					<td>$</td>
					<td>匹配字符串的结束</td>
				</tr>
				<tr>
					<td>\b</td>
					<td>匹配单词的开始或结束</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="title">重复描述符</div>
	<div class="content closed">
		<table class="table table-border table-sm w-25">
			<thead>
				<tr>
					<th>重复描述符</th>
					<th>含义</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>?</td>
					<td>有或者无</td>
				</tr>
				<tr>
					<td>*</td>
					<td>>=0次</td>
				</tr>
				<tr>
					<td>+</td>
					<td>>=1次</td>
				</tr>
				<tr>
					<td>{n}</td>
					<td>重复n次</td>
				</tr>
				<tr>
					<td>{n,m}</td>
					<td>n~m次</td>
				</tr>
				<tr>
					<td>{n,}</td>
					<td>>=n次</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="title">枚举</div>
	<div class="content closed">
		<table class="table table-broder table-sm w-25">
			<thead>
				<tr>
					<th>枚举</th>
					<th>含义</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>[0~9]</td>
					<td>匹配一个数字: 0~9</td>
				</tr>
				<tr>
					<td>[abc]</td>
					<td>匹配一个字符: a,b或者c</td>
				</tr>
				<tr>
					<td>[^aeiou]</td>
					<td>匹配一个字符, 除了aeiou</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="title">转义字符</div>
	<div class="content closed">
		<p>如果你想查找元字符本身, 以及重复描述符?, *和+, 需要使用转义字符!</p>
		<table class="table table-bordered table-sm w-25">
			<thead>
				<tr>
					<th>字符</th>
					<th>转义字符</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>.</td>
					<td>\.</td>
				</tr>
				<tr>
					<td>?</td>
					<td>\?</td>
				</tr>
				<tr>
					<td>*</td>
					<td>\*</td>
				</tr>
				<tr>
					<td>+</td>
					<td>\+</td>
				</tr>
				<tr>
					<td>\</td>
					<td>\\</td>
				</tr>
				<tr>
					<td>|</td>
					<td>\|</td>
				</tr>
				<tr>
					<td>(</td>
					<td>\(</td>
				</tr>
				<tr>
					<td>)</td>
					<td>\)</td>
				</tr>
				<tr>
					<td>[</td>
					<td>\[</td>
				</tr>
				<tr>
					<td>]</td>
					<td>\]</td>
				</tr>
				<tr>
					<td>{</td>
					<td>\{</td>
				</tr>
				<tr>
					<td>}</td>
					<td>\}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="title">分支匹配</div>
	<div class="content closed">
		<table class="table table-border table-sm w-25">
			<tbody>
				<tr>
					<td>|</td>
					<td>正则或</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="title">子表达式</div>
	<div class="content closed">
		<p>使用括号表示子表达式, 例如: (表达式1)(表达式2)</p>
	</div>

	<div class="title">分组访问</div>
	<div class="content closed">
		<div class="list list-number">
			<div class="title">使用数组下标访问</div>
			<div class="content open">
				<p>在 ((\d+)([a-z]))\s+ 这个正则表达式里总共包含了四个分组，按照默认的从左到右的匹配方式:</p>
				<pre class="prettyprint linenums">
<code>
Groups[0]    代表了匹配项本身，也就是整个整个表达式 ((\d+)([a-z]))\s+
Groups[1]    代表了子表达式项 ((\d+)([a-z]))
Groups[2]    代表了子表达式项 (\d+)
Groups[3]    代表了子表达式项 ([a-z])
</code>
				</pre>
			</div>

			<div class="title">命名分组</div>
			<div class="content open">
				<p>利用 (?&lt;xxx>子表达式) 定义分组别名，这样就可以利用 Groups["xxx"] 进行访问分组/子表达式内容.</p>
				<pre class="prettyprint linenums">
<code>
// 解析弹幕群组编号
var regex = new Regex(@"gid@=(?&lt;gid>\d+)");
</code>
				</pre>
				<p>命名分组之后, 可以在表达式中使用 (\k&lt;xxx>) 引用该组.</p>
				<pre class="prettyprint linenums">
<code>
// Define a regular expression for repeated words.
Regex rx = new Regex(@"\b(?&lt;word>\w+)\s+(\k&lt;word>)\b",
    RegexOptions.Compiled | RegexOptions.IgnoreCase);
</code>
				</pre>
			</div>
		</div>	
	</div>

	<div class="title">获取所有的匹配</div>
	<div class="content closed">
		<pre class="prettyprint linenums">
<code>
var matches = regex.Matches(input);
</code>
		</pre>	
		<p>等同于下面的代码</p>
		<pre class="prettyprint linenums">
<code>
Match match = regex.Match(input);
while (match.Success) {
      // Handle match here...

      match = match.NextMatch();
}  
</code>
		</pre>
	</div>
</div>

<hr>
<p>
	参考<br>
	<a href="https://msdn.microsoft.com/zh-cn/library/az24scfc(v=vs.110).aspx">快速参考</a><br>
	<a href="https://msdn.microsoft.com/zh-cn/library/20bw873z(v=vs.110).aspx">字符类</a>
</p>
{include file="template/footer" /}