{include file="template/header" title="C# 定时器" /}

<div class="list list-number">
	<div class="title">System.Windows.Forms.Timer</div>
	<div class="content open">
		<p>
			当定时器触发时，Windows把一个定时器消息插入到线程消息队列中, 调用线程执行一个消息泵提取消息，然后发送到回调方法中。而这些都是单线程进行了，所以使用这个控件不宜执行计算受限或IO受限的代码，因为这样容易导致界面假死，而应该使用多线程调用的Timer。<br>
			另外要注意的是这个控件时间精度不高，精度限定为 55 毫秒
		</p>
		<div class="list list-none">
			<div class="title text-lighter">代码范例 ...</div>
			<div class="content closed ml-0">
				<pre class="prettyprint linenums">
<code>
public partial class Form1 : Form
{
    public Form1()
    {
        InitializeComponent();
    }
    int num = 0;
    
    private void Form_Timer_Tick(object sender, EventArgs e)
    {
        label1.Text = (++num).ToString();
        Thread.Sleep(3000);
    }
    private void button1_Click(object sender, EventArgs e)
    {
        Form_Timer.Start();
    }
    private void button2_Click(object sender, EventArgs e)
    {
        Form_Timer.Stop();
    }
} 
</code>
				</pre>
			</div>
		</div>
	</div>

	<div class="title">System.Timers.Timer</div>
	<div class="content open">
		<p>System.Threading.Timer 是一个简单的轻量计时器，它使用回调方法并由线程池线程提供服务。不建议将其用于 Windows 窗体，因为其回调不在用户界面线程上进行</p>
		<div class="list list-none">
			<div class="title text-lighter">代码范例 ...</div>
			<div class="content closed ml-0">
				<pre class="prettyprint linenums">
<code>
public partial class Form1 : Form
{
    public Form1()
    {
        InitializeComponent();
    }
    int num = 0;
    DateTime time1 = new DateTime();
    DateTime time2 = new DateTime();
    //定义Timer
    System.Timers.Timer Timers_Timer = new System.Timers.Timer();
    
    private void button1_Click(object sender, EventArgs e)
    {
        //手动设置Timer，开始执行
        Timers_Timer.Interval = 20;
        Timers_Timer.Enabled = true;
        Timers_Timer.Elapsed += new System.Timers.ElapsedEventHandler(Timers_Timer_Elapsed);
        time1 = DateTime.Now;
    }
    void Timers_Timer_Elapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        label1.Text = Convert.ToString((++num)); //显示到lable
       Thread.Sleep(3000);
    }
    private void button2_Click(object sender, EventArgs e)
    {
        //停止执行
        Timers_Timer.Enabled = false;
        time2 = DateTime.Now;
        MessageBox.Show(Convert.ToString(time2-time1));
    }
} 
</code>
				</pre>
			</div>
		</div>
	</div>

	<div class="title">System.Threading.Timer</div>
	<div class="content open">
		<p> 用Threading.Timer时的方法，和前面就不太相同了，所以的参数全部在构造函数中进行了设置，而且可以设置启动时间。而且没有提供start和stop方法来控制计时器。而且是以一种回调方法的方式实现，而不是通过事件来实现的.</p>
		<div class="list list-none">
			<div class="title text-lighter">代码范例 ...</div>
			<div class="content closed ml-0">
				<pre class="prettyprint linenums">
<code>
public partial class Form1 : Form
{
    public Form1()
    {
        InitializeComponent();
    }
    int num = 0;
    DateTime time1 = new DateTime();
    DateTime time2 = new DateTime();
    System.Threading.Timer Thread_Time;
    
    private void button1_Click(object sender, EventArgs e)
    {
        //启动
        Thread_Time = new System.Threading.Timer(Thread_Timer_Method,null,0,20);
        time1 = DateTime.Now;
    }
    void Thread_Timer_Method(object o)
    {
        label1.Text = Convert.ToString((++num));
        System.Threading.Thread.Sleep(3000);
    }
    private void button2_Click(object sender, EventArgs e)
    {
        //停止
        Thread_Time.Dispose();
        time2 = DateTime.Now;
        MessageBox.Show(Convert.ToString(time2-time1));
    }
} 
</code>
				</pre>
			</div>
		</div>
	</div>
</div>

<hr>
<p>
	参考: <br>
	<a href="https://blog.csdn.net/cc_net/article/details/3461549">.NET中的三种Timer的区别和用法</a>
</p>

{include file="template/footer" /}