{include file="template/header" title="C# XML编程" /}

<div class="list list-number">
    <div class="title">XML DOM(XML Document Object Model)</div>
    <div class="content open">
		<div class="list list-number">
			<div class="title">XmlNodeType</div>
			<div class="content open">
				Element & EndElement<br>
				Attribute<br>
				CDATA<br>
				Comment<br>
				Document<br>
				DocumentType<br>
				Enity<br>
				EndEntity<br>
				EnityReference<br>
				None<br>
				Notation<br>
				ProcessingInstruction<br>
				SignificantWhitespace<br>
				Text<br>
				XmlDeclaration<br>
			</div>

			<div class="title">XXX</div>
			<div class="content open">

			</div>
		</div> 
    </div>

    <div class="title">XXX</div>
    <div class="content open">

    </div>
</div>

{include file="template/footer" /}