{include file="template/header" title="软件设计 设计模式" /}

<div class="list list-number">
    <div class="title">常用设计模式</div>
    <div class="content open">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 text-strong">创建型: </div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-builder')}">建造者模式</a></div>
            </div>
            <div class="row">
                <div class="col-1 text-strong">结构型: </div>
                <div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-flyweight')}">享元模式</a></div>
            </div>
        </div>
    </div>
</div>

{include file="template/footer" /}