{include file="template/header" title="软件设计 设计模式" /}

<div class="list list-number">
    <div class="title">常用设计模式</div>
    <div class="content open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-1 text-strong">创建型: </div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-simple_factory')}">简单工厂</a></div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-factory_method')}">工厂方法</a></div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-abstract_factory')}">抽象工厂</a></div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-prototype')}">原型模式</a></div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-singleton')}">单例模式</a></div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-builder')}">建造者模式</a></div>
			</div>
			<div class="row">
				<div class="col-1 text-strong">结构型: </div>
				<div class="col-1"><a href="{:url('software/software_design/index', 'template=software_design-design_pattern-bridge')}">桥接模式</a></div>
				<div class="col-1">外观模式</div>
				<div class="col-1">适配器模式</div>
				<div class="col-1">享元模式</div>
				<div class="col-1">组合模式</div>
				<div class="col-1">装饰模式</div>
				<div class="col-1">代理模式</div>
			</div>
			<div class="row">
				<div class="col-1 text-strong">行为型: </div>
				<div class="col-1">观察者模式</div>
				<div class="col-1">模板方法</div>
				<div class="col-1">命令模式</div>
				<div class="col-1">状态模式</div>
				<div class="col-1">职责链模式</div>
			</div>
			<div class="row">
				<div class="col-1 text-strong">其他类型: </div>
				<div class="col-1">策略模式</div>
				<div class="col-1">备忘录模式</div>
				<div class="col-1">迭代器模式</div>
				<div class="col-1">访问者模式</div>
				<div class="col-1">中介者模式</div>
				<div class="col-1">解释器模式</div>
			</div>				
		</div>
    </div>

    <div class="title">XXX</div>
    <div class="content open">

    </div>
</div>

{include file="template/footer" /}