{include file="template/header" title="设计模式 桥接模式" /}

<p class="text-strong">桥接模式(Bridge), 将抽象部分与它的实现部分分离, 使它们都可以独立地变化.</p>
<p>由于实现的方式有多种, 桥接模式的核心意图就是把这些实现独立出来, 让它们各自地变化. 这就使得每种实现的变化不会影响其他实现, 从而达到应对变化的目的.</p>
<img src="__ROOT__/static/image/design_pattern/bridge.png">
<img src="__ROOT__/static/image/design_pattern/bridge_phone.png">
<p>桥接模式所说的"将抽象部分与它的实现部分分离", 说白了, 就是实现系统可能有多角度分类, 每一种分类都有可能变化, 那么就把这种多角度分离出来让它们独立变化, 减少它们之间的耦合. 也就是说, 在发现我们需要多角度去分类实现对象, 而只用继承会造成大量的类的增加, 不能满足开放-封闭原则时, 就应该考虑使用桥接模式了.</p>

<div class="list list-square">
    <div class="title">范例 - 桥接模式</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
using System;
using System.Collections.Generic;
using System.Text;

namespace 桥接模式
{
    class Program
    {
        static void Main(string[] args)
        {
            Abstraction ab = new RefinedAbstraction();

            ab.SetImplementor(new ConcreteImplementorA());
            ab.Operation();

            ab.SetImplementor(new ConcreteImplementorB());
            ab.Operation();

            Console.Read();
        }
    }

    abstract class Implementor
    {
        public abstract void Operation();
    }

    class ConcreteImplementorA : Implementor
    {
        public override void Operation()
        {
            Console.WriteLine("具體實現A的方法執行");
        }
    }

    class ConcreteImplementorB : Implementor
    {
        public override void Operation()
        {
            Console.WriteLine("具體實現B的方法執行");
        }
    }

    class Abstraction
    {
        protected Implementor implementor;

        public void SetImplementor(Implementor implementor)
        {
            this.implementor = implementor;
        }

        public virtual void Operation()
        {
            implementor.Operation();
        }
    }

    class RefinedAbstraction : Abstraction
    {
        public override void Operation()
        {
            this.implementor.Operation();
        }
    }
}
</code>
		</pre>
    </div>

    <div class="title">范例 - 桥接模式 - 手机</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
using System;
using System.Collections.Generic;
using System.Text;

namespace 桥接模式应用___手机
{
    class Program
    {
        static void Main(string[] args)
        {
            HandsetBrand ab;
            ab = new HandsetBrandN();

            ab.SetHandsetSoft(new HandsetGame());
            ab.Run();

            ab.SetHandsetSoft(new HandsetAddressList());
            ab.Run();

            ab = new HandsetBrandM();

            ab.SetHandsetSoft(new HandsetGame());
            ab.Run();

            ab.SetHandsetSoft(new HandsetAddressList());
            ab.Run();

            Console.Read();
        }
    }

    abstract class HandsetSoft
    {
        public abstract void Run();
    }

    class HandsetGame : HandsetSoft
    {
        public override void Run()
        {
            Console.WriteLine("運行手機遊戲");
        }
    }

    class HandsetAddressList : HandsetSoft
    {
        public override void Run()
        {
            Console.WriteLine("運行手機通訊錄");
        }
    }

    abstract class HandsetBrand
    {
        protected HandsetSoft soft;

        public void SetHandsetSoft(HandsetSoft soft)
        {
            this.soft = soft;
        }

        public abstract void Run();
    }

    class HandsetBrandN : HandsetBrand
    {
        public override void Run()
        {
            soft.Run();
        }
    }

    class HandsetBrandM : HandsetBrand
    {
        public override void Run()
        {
            soft.Run();
        }
    }
}
</code>
		</pre>
    </div>
</div>

{include file="template/footer" /}