{include file="template/header" title="设计模式 外观模式" /}
<p class="text-strong">外观模式(Facade), 为子系统中的一组接口提供一个一致的界面, 此模式定义了一个高层接口, 这个接口使得这一子系统更加容易使用.</p>
<img src="__ROOT__/static/image/design_pattern/facade.png"/>
<p>对于面向对象有一定基础的朋友, 即使没有听过说外观模式, 也完全有可能在很多时候使用它, 因为它完美地体现了依赖倒转原则和迪米特法则的思想, 所以是非常常用的模式之一.</p>

<p>那外观模式在什么时候使用最好呢? 这要分三个阶段来说:</p>

<p>首先, 在设计初期阶段, 应该要有意识的将不同的两个层分离, 比如经典的三层结构, 就需要考虑在数据访问层和业务逻辑层, 业务逻辑层和表示层的层与层之间建立外观Facade, 这样可以为复杂的子系统提供一个简单的接口, 使得耦合大大降低.</p>

<p>其次, 在开发阶段, 子系统往往因为不断的重构演化而变得越来越复杂, 大多数的模式使用时也都会产生很多很小的类, 这本是好事, 但也给外部调用它们的用户程序带来了使用上的困难, 增加外观可以提供一个简单的接口, 减少他们之间的依赖.</p>

<p>第三, 在维护一个遗留的大型系统时, 可能这个系统已经非常难以维护和扩展了, 但因为它包含非常重要的功能, 新的需求开发必须要依赖于它. 此时用外观模式Facade也是非常合适的. 你可以为新系统开发一个外观Facade类, 来提供设计粗糙或高度复杂的遗留代码的比较清晰简单的接口, 让新系统与Facade对象交互, Facade与遗留代码交互所有复杂的工作.</p>

<div class="list list-square">
    <div class="title">外观模式</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
using System;
using System.Collections.Generic;
using System.Text;

namespace 外观模式
{
    class Program
    {
        static void Main(string[] args)
        {
            Facade facade = new Facade();
            facade.MethodA();
            facade.MethodB();
            Console.Read();
        }
    }

    class Facade
    {
        SubSystemOne one;
        SubSystemTwo two;
        SubSystemThree three;
        SubSystemFour four;
        
        public Facade()
        {
            one = new SubSystemOne();
            two = new SubSystemTwo();
            three = new SubSystemThree();
            four = new SubSystemFour();
        }

        public void MethodA()
        {
            Console.WriteLine("\n方法組A() ----");
            one.MethodOne();
            two.MethodTwo();
            three.MethodThree();
            four.MethodFour();
        }

        public void MethodB()
        {
            Console.WriteLine("\n方法組B() ----");
            two.MethodTwo();
            three.MethodThree();
        }
    }

    class SubSystemOne
    {
        public void MethodOne()
        {
            Console.WriteLine("子系統方法1");
        }
    }

    class SubSystemTwo
    {
        public void MethodTwo()
        {
            Console.WriteLine("子系統方法2");
        }
    }

    class SubSystemThree
    {
        public void MethodThree()
        {
            Console.WriteLine("子系統方法3");
        }
    }

    class SubSystemFour
    {
        public void MethodFour()
        {
            Console.WriteLine("子系統方法4");
        }
    }
}
</code>
		</pre>
    </div>

    <div class="title">外观模式 - 炒股票</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
using System;
using System.Collections.Generic;
using System.Text;

namespace 外观模式___炒股票
{
    class Program
    {
        static void Main(string[] args)
        {
            Fund jijin = new Fund();
            jijin.BuyFund();
            jijin.SellFund();
            Console.Read();
        }
    }

    // 基金
    class Fund
    {
        Stock1 gu1;
        Stock2 gu2;
        Stock3 gu3;
        NationalDebt1 nd1;
        Realty1 rt1;
        
        public Fund()
        {
            gu1 = new Stock1();
            gu2 = new Stock2();
            gu3 = new Stock3();
            nd1 = new NationalDebt1();
            rt1 = new Realty1();
        }
        
        public void BuyFund()
        {
            gu1.Buy();
            gu2.Buy();
            gu3.Buy();
            nd1.Buy();
            rt1.Buy();
        }
        
        public void SellFund()
        {
            gu1.Sell();
            gu2.Sell();
            gu3.Sell();
            nd1.Sell();
            rt1.Sell();
        }
    }
    
    // 股票1
    class Stock1
    {
        // 賣股票
        public void Sell()
        {
            Console.WriteLine("股票1賣出");
        }
        
        // 買股票
        public void Buy()
        {
            Console.WriteLine("股票1買入");
        }
    }

    // 股票2
    class Stock2
    {
        // 賣股票
        public void Sell()
        {
            Console.WriteLine("股票2賣出");
        }
        
        // 買股票
        public void Buy()
        {
            Console.WriteLine("股票2買入");
        }
    }

    // 股票3
    class Stock3
    {
        // 賣股票
        public void Sell()
        {
            Console.WriteLine("股票3賣出");
        }
        
        // 買股票
        public void Buy()
        {
            Console.WriteLine("股票3買入");
        }
    }

    // 國債1
    class NationalDebt1
    {
        // 賣國債
        public void Sell()
        {
            Console.WriteLine("國債1賣出");
        }

        // 買國債
        public void Buy()
        {
            Console.WriteLine("國債1買入");
        }
    }

    // 房地產
    class Realty1
    {
        // 賣房地產
        public void Sell()
        {
            Console.WriteLine("房地產1賣出");
        }
        
        // 買房地產
        public void Buy()
        {
            Console.WriteLine("房地產2買入");
        }
    }
}
</code>
		</pre>
    </div>
</div>

{include file="template/footer" /}