{include file="template/header" title="JS 代码高亮" /}

<div class="list list-number">
    <div class="title">谷歌Prettify</div>
    <div class="content closed">
		<xmp>
<html>
	<head>
		<title>test prettify</title>		
		<link href="prettify.css" rel="stylesheet">
		<script src="prettify.js" type="text/javascript"></script>		
	</head>
	<body onload="prettyPrint()">
	<![CDATA[<]]>
		<pre class="prettyprint linenums">
			int i = 1;
			&lt;head>
				&lt;title>test prettify&lt;/title>					
			&lt;/head>
		</pre>
	<body>
</html>
		</xmp>
    </div>

    <div class="title">XXX</div>
    <div class="content closed">

    </div>
</div>

{include file="template/footer" /}