{include file="template/header" title="JS DOM操作" /}

<div class="list list-number">
    <div class="title">添加事件处理</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
<a href="http://www.jsworkshop.com/" onMouseOver="window.alert('You moved over the link.');">
    Click here
</a>
</code>
		</pre>
		<p>注: If your onClick event handler returns the false value, the link will not be followed.</p>
		<pre class="prettyprint linenums">
<code>
function mousealert() {
    alert (“You clicked the mouse!”);
}
document.onMouseMove = MoveHere;
</code>
		</pre>
		<p>注: For simple event handlers, you can use two statements if you separate them with a semicolon. However, in most cases it’s easier to use a function to perform the statements.</p>
    </div>
</div>


<hr>
<p>
	参考资料:<br>
	<a href="https://blog.csdn.net/isxixi/article/details/78736683">原生js操作dom的笔记整理</a><br>
</p>
{include file="template/footer" /}