{include file="template/header" title="JS 图形编程" /}

<pre class="prettyprint linenums">
<code>
&lt;canvas id="lookwathIdrew" with="600" height="200">
    您的浏览器不支持canvas!
&lt;/canvas>
</code>
</pre>

<div class="list list-number">
    <div class="title">画布(canvas)介绍</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">画布颜色</div>
			<div class="content open">
				<p>画布是透明的. "画笔"默认颜色是黑色.</p>
			</div>

			<div class="title">画布宽度 & 高度</div>
			<div class="content open">
				<p>
					默认的, 画布元素是300像素宽, 150像素高. 如果未在canvas标记中指定width和height属性, 就会得到这个大小的画布. 如果接下来在CSS中指定了一个大小, 比如600px x 200px, 那么原来的300 x 150的画布就会扩展到这个大小, 画布中绘制的所有内容也会随之扩展. 这就像为一个图像指定新的宽度和高度时, 如果比原图像的实际宽度和高度更大或更小时, 就会将图像拉伸或缩小. 不过, 如果使用元素的width和height属性, 会把画布的大小设置得比300 x 150更大(或更小), 但画布上的所有内容仍然会正常绘制. 所以我们建议还是在标记属性中指定宽度和高度, 而不要在CSS中设置这些属性, 除非你本来就打算缩放画布.
				</p>
			</div>

			<div class="title">画布上下文</div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
var canvas = document.getElementById("lookwathIdrew");
var content = canvas.getContent("2d");
</code>
				</pre>
			</div>

			<div class="title">判断浏览器是否支持<canvas></div>
			<div class="content open">
				<pre class="prettyprint linenums">
<code>
var canvas = document.getElementById("tshirtCanvas");
if (canvas.getContext) {
    // you have canvas
} else {
    // sorry no canvas API support
}
</code>
				</pre>
				<p>如果你只想检查是否支持画布, 而无需标记中有一个画布, 那么:</p>
				<pre class="prettyprint linenums">
<code>
function canvasSupport() {
    return !!document.createElement('canvas').getContext;
}
</code>
				</pre>
			</div>
		</div>
    </div>

    <div class="title">画矩形</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
context.fillType = "lightblue";    // 指定填充色
context.fillRect(10, 10, 100, 100);    // 参数分别是: x, y, width, height, 但是是像素
context.strokeRect(10, 10, 100, 100);    // 画矩形轮廓
</code>
		</pre>
    </div>

	<div class="title">画三角形</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
context.beginPath();    // 开始绘制path
context.moveTo(100, 150);    // 把"铅笔"移动到开始位置(100, 150)
context.lineTo(250, 75);    // 画一条线到(250, 75)
context.lineTo(125, 30);    // 画一条线到(125, 30)
context.closePath();    // 最后画一条线到开始位置
context.lineWidth = 5;    // 设置线宽
context.stroke();   // 用线描路径
context.fillStyle = "red";    // 设置笔的颜色为红色 
context.fill();    // 用红色填充三角形
</code>
		</pre>
    </div>

	<div class="title">画圆(弧)</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
context.beginPath();
context.arc(150, 150, 50, 0, 2 *Math.PI, true);
context.fillStyle = "lightblue";
context.fill();
</code>
		</pre>
    </div>

	<div class="title">写字</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
// 设置对齐, 可设置: left, right, center, start & end
context.textAlign = "left"; 
// 设置字体
context.font = "2em Lucida Grande";
// 设置颜色
context.fillStyle = "red";
// 设置基线, 可设置: alphabetic, bottom, middle & top
context.textBaseline = "middle";
// 填充or笔划
context.fillText("Dog", x, y, max_width);
context.strokeText("Dog", x, y, max_width);
</code>
		</pre>
    </div>

	<div class="title">贴图</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
var twitterBird = new Image();
twitterBird.src = "twitterBird.png";

// 图像加载完成了, 可以贴图了!
twitterBird.onload = function() {
    context.drawImage(twitterBird, x, y, witdh, height);
}
</code>
		</pre>
    </div>
</div>

{include file="template/footer" /}