{include file="template/header" title="JS H-ui" /}

<div class="list list-number">
    <div class="title">字体图标</div>
    <div class="content closed">
		<p>Iconfont, 显示为图标, 但是使用时又不像是图片</p>
    </div>

    <div class="title">CSS动画</div>
    <div class="content closed">
		<p>使用CSS做的动画, 只要class用了对应的类名就有效果</p>
    </div>

	<div class="title">按钮组</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
&lt;div class="cl mt-20">
    &lt;div class="btn-group l">
        &lt;span class="btn btn-primary" title="源代码">&lt;i class="Hui-iconfont">&#xe6ee;&lt;/i>&lt;/span>
    &lt;/div>

    &lt;div class="btn-group l ml-5">
        &lt;span class="btn btn-primary" title="左对齐">&lt;i class="Hui-iconfont">&#xe710;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="居中对齐">&lt;i class="Hui-iconfont">&#xe70e;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="右对齐">&lt;i class="Hui-iconfont">&#xe711;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="两头对齐">&lt;i class="Hui-iconfont">&#xe70f;&lt;/i>&lt;/span>
    &lt;/div>

    &lt;div class="btn-group l ml-5">
        &lt;span class="btn btn-primary" title="字体">&lt;i class="Hui-iconfont">&#xe6ec;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="加粗">&lt;i class="Hui-iconfont">&#xe6e7;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="倾斜">&lt;i class="Hui-iconfont">&#xe6e9;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="下划线">&lt;i class="Hui-iconfont">&#xe6fe;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="行高">&lt;i class="Hui-iconfont">&#xe6fc;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="行宽">&lt;i class="Hui-iconfont">&#xe6fd;&lt;/i>&lt;/span>
    &lt;/div>

    &lt;div class="btn-group l ml-5">
        &lt;span class="btn btn-primary" title="链接">&lt;i class="Hui-iconfont">&#xe6f1;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="有序列表">&lt;i class="Hui-iconfont">&#xe6f3;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="无序列表">&lt;i class="Hui-iconfont">&#xe6f5;&lt;/i>&lt;/span>
    &lt;/div>

    &lt;div class="btn-group l ml-5">
        &lt;span class="btn btn-primary" title="剪切">&lt;i class="Hui-iconfont">&#xe6ef;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="复制">&lt;i class="Hui-iconfont">&#xe6ea;&lt;/i>&lt;/span>
        &lt;span class="btn btn-primary" title="粘贴">&lt;i class="Hui-iconfont">&#xe6eb;&lt;/i>&lt;/span>
    &lt;/div>
&lt;/div>
</code>
		</pre>
    </div>

	<div class="title">目录结构</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
Copyright：h-ui.net	Last Modify：guojunhui	2017.01.01
===================================================================
static/	                                     资源
├── h-ui/				H-ui特有资源
│    ├── css/				样式
│    │    ├── H-ui.reset.css			CSS Reset
│    │    ├── H-ui.css				H-ui.css
│    │    ├── H-ui.min.css			H-ui.css(min版)
│    │    ├── H-ui.ie.css			IE 下兼容css
│    ├── images/			图片资源 
│    ├── js/
│    │    ├── H-ui.js				H-ui核心脚本
│    │    ├── H-ui.min.js			H-ui核心脚本(min版)

Lib/	                                    第三方插件
├── jquery				jQuery类库（v1.9.1）
├── Hui-iconfont			阿里图标字体库（H-ui定制）
├── jquery.SuperSlide			幻灯片组件
├── Validform				表单验证插件
├── jquery.validation			表单验证插件
├── My97DatePicker			日期插件
├── datatables				表格插件
├── nprogress				进度条插件
├── layer				layer弹出层插件
├── laypage				laypage 翻页插件
├── html5shiv.js			html5插件，让低版本IE支持html5元素
├── DD_belatedPNG_0.0.8a-min.js		解决IE6png透明
├── swfobject.js			Flash插件
├── expressInstall.swf  		检查flash插件
├── respond.min.js			让IE兼容media
</code>
		</pre>

		<div class="list list-none">
			<div class="title">让IE低版本浏览器兼容html5元素</div>
			<div class="content closed">
				<p>H-ui将全部采用HTML5的元素, 所以为了更好的兼容IE低版本浏览器, 请在&lt;head>区优先引用html5shi.js. ( 这里用到了条件注释判断浏览器技术 )</p>
				<pre class="prettyprint linenums">
<code>
&lt;!--[if lt IE 9]> 
&lt;script type="text/javascript" src="Lib/html5.js">&lt;/script>
&lt;script type="text/javascript" src="Lib/respond.min.js">&lt;/script>
&lt;![endif]-->
</code>
				</pre>
			</div>

			<div class="title">解决IE6png透明问题</div>
			<div class="content closed">
				<pre class="prettyprint linenums">
<code>
&lt;!--[if IE 6]>
&lt;script type="text/javascript" src="Lib/DD_belatedPNG_0.0.8a-min.js" >&lt;/script>
&lt;script>DD_belatedPNG.fix('.pngfix,.icon');&lt;/script>
&lt;![endif]-->
</code>
				</pre>
			</div>

			<div class="title">jquery.min.js</div>
			<div class="content closed">
				<p>H-ui的脚本全部基于基于jquery, 必须引用jquery.min.js.</p>
			</div>

			<div class="title">H-ui.reset.css</div>
			<div class="content closed">
				<p>
					就是我们常用的CSS Reset, 用来把浏览器提供的默认样式覆盖掉. 因为浏览器的默认样式往往会给我们带来麻烦, 影响开发效率. 所以解决的方法就是一开始就将浏览器的默认样式全部去掉, 更准确说就是重新定义标签样式.
				</p>
				<p>注意: 如果你直接调用了H-ui.css文件就不要调用H-ui.reset.css文件, 避免代码重复.</p>

			</div>

			<div class="title">H-ui.css & h-ui.min.css</div>
			<div class="content closed">
				<p>H-ui的基础样式, 也是核心样式, 框架章节重要讲解的内容.</p>
				<p>注意: h-ui.min.css是H-ui.css的压缩版本, 只用引用一个, 请勿全部引用. 建议项目发布时引用h-ui.min.css.</p>
			</div>
		</div>	
    </div>

	<div class="title">Html书写规范</div>
    <div class="content closed">
		<pre class="prettyprint linenums">
<code>
&lt;!DOCTYPE HTML>  // 使用html5文档声明
&lt;html>
&lt;head>
    &lt;meta charset="utf-8">    // 文档编码, 文件编码保持一致, 推荐使用UTF-8编码
    &lt;meta name="renderer" content="webkit|ie-comp|ie-stand">
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    &lt;meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    &lt;title>网站标题，控制在25个字、50个字节以内. "二级栏目 - 一级栏目 - 网站名称"&lt;/title>
    &lt;meta name="keywords" content="关键词,针对SEO. 5个左右,单个8汉字以内">
    &lt;meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">

    &lt;link rel="Bookmark" href="favicon.ico">
    &lt;link rel="Shortcut Icon" href="favicon.ico"/>

    &lt;!--[if lt IE 9]>
    &lt;script type="text/javascript" src="Lib/html5.js">&lt;/script>
    &lt;script type="text/javascript" src="Lib/respond.min.js">&lt;/script>
    &lt;![endif]-->

    &lt;link href="h-ui/css/H-ui.css" rel="stylesheet" type="text/css"/>    // 非特殊情况, CSS采用外链, 加在&lt;head>之间
    &lt;link href="lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>
    &lt;link href="h-ui/css/style.css" rel="stylesheet" type="text/css"/>&lt;!--自己的样式-->

    &lt;!--[if IE 6]>
    &lt;script type="text/javascript" src="Lib/DD_belatedPNG_0.0.8a-min.js">&lt;/script>
    &lt;script>DD_belatedPNG.fix('.pngfix,.icon');&lt;/script>
    &lt;![endif]-->
&lt;/head>
&lt;body>
&lt;header>网站头部&lt;/header>
&lt;div>内容部分&lt;/div>
&lt;footer>页脚&lt;/footer>

&lt;script type="text/javascript" src="lib/jquery.min.js">&lt;/script>    // 非特殊情况, js文件放在页面底部&lt;/body>之前
&lt;script type="text/javascript" src="h-ui/js/h-ui.js">&lt;/script>
&lt;/body>
&lt;/html>
</code>
		</pre>
    </div>

	<div class="title">CSS写作规范</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">编码</div>
			<div class="content closed">
				<p>统一使用UTF-8编码, 用@charset "utf-8"指定页面编码.</p>
			</div>

			<div class="title">全局字体设置</div>
			<div class="content closed">
				<p>
					windows 7系统：微软雅黑 Arial;<br>
					windows XP及以下：新宋体，宋体，Arial;<br>
					MAC默认字体：Helvetica Neue和Helvetica Hiragino Sans GB.<br>
					font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma,arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";<br>
					注意: 中文字体使用编码转换，常用中文字体CSS编码如下<br>
					微软雅黑   \5FAE\8F6F\96C5\9ED1  或 Microsoft YaHei<br>
					黑体       \9ED1\4F53<br>
					新宋体     \65b0\5b8b\4f53<br>
					宋体       \5b8b\4f53
				</p>
			</div>

			<div class="title">颜色设置</div>
			<div class="content closed">
				<a href="http://www.h-ui.net/websafecolors.shtml">推荐使用216web安全色</a>
			</div>

			<div class="title">属性的书写顺序</div>
			<div class="content closed">
				<p>按照元素模型由外及内，由整体到细节书写，大致分为五组：</p>
				<table class="table table-bordered table-sm">
					<tbody>
						<tr>
							<td>位置</td>
							<td>position, left, right, float</td>
						</tr>
						<tr>
							<td>盒模型属性</td>
							<td>display, margin, padding, width, height</td>
						</tr>
						<tr>
							<td>边框与背景</td>
							<td>border, background</td>
						</tr>
						<tr>
							<td>段落&文本</td>
							<td>line-height, text-indent, font, color, text-decoration ...</td>
						</tr>
						<tr>
							<td>其他属性</td>
							<td>overflow, cursor, visibility ...</td>
						</tr>
					</tbody>
				</table>
				<p>注意: 针对特殊浏览器的属性，应写在标准属性之前，例如：</p>
				<pre class="prettyprint linenums">
<code>
-webkit-box-shadow: ...;
-moz-box-shadow: ...;
box-shaow: ...;
</code>
				</pre>
			</div>

			<div class="title">其他</div>
			<div class="content closed">
				<p>
					带有前缀的属性，单独一行，通过缩进，让每个属性的值垂直对齐，方便编辑维护。<br>
					谨慎添加新的选择符规则，尤其不可滥用id，尽可能继承和复用已有样式<br>
					选择符、属性、值均用小写（格式的颜色值除外），缩写的选择符名称须说明缩写前的全称，例如 .cl -> Clearfix<br>
					避免使用各种CSS Hack，如需对 IE 进行特殊定义，请参阅下节“关于 CSS Hack 的说明”<br>
					勿使用冗余低效的 CSS 写法，例如：ul li a span{... }<br>
					慎用 !important<br>
					建议使用具有语义化的classname或id，请参阅下节“css命名规范”。<br>
					避免使用兼容性不好的使用滤镜 <br>
					开发过程中的未定事项，须用 [!] 标出，以便于后续讨论整理。<br>
					上下模块间距: 上下模块之间的间距统一使用下一个模块的margin-top来实现，好处是：如果没有下一个模块也不会多出一段空隙。<br>
					hover，selected，disabled，current等具有特定意义的请勿直接占用。<br>
					:link :visited :hover :active书写顺序 L-V-H-A，速记：LoVe（喜欢）HAte（讨厌）。<br>
					不要使用 @import
				</p>
			</div>
		</div>
    </div>
</div>

{include file="template/footer" /}