{include file="template/header" title="杂七杂八 效率" /}

<div class="list list-number">
    <div class="title">软件推荐</div>
    <div class="content closed">
		<p>画图: https://www.processon.com</p>
    </div>

    <div class="title">VIM</div>
    <div class="content closed">
		<div class="list list-number">
			<div class="title">各种模式</div>
			<div class="content closed">
				<div class="list list-number">
					<div class="title">正常模式</div>
					<div class="content open">
						<p>
							正常模式一般用于浏览文件，也包括一些复制、粘贴、删除等操作。这时击键时，一般的键/键组合会被当成功能键，而不会键入对应的字符。<br>
							启动vim后默认位于正常模式。不论位于什么模式，按下(Esc)键(有时需要按两下）都会进入正常模式.
						</p>
					</div>

					<div class="title">正常模式 ==> 插入模式</div>
					<div class="content open">
						<p>
							在正常模式中按下i, I, a, A, o, O等键，会进入插入模式。<br>
							插入模式中，击键时会写入相应的字符。
						</p>
						<p>
							i(I): 在光标左侧(行首)输入正文<br>
							a(A): 在光标右侧(行尾)输入正文<br>
							o(O): 在光标所在行下一行(上一行)添加新行
						</p>
					</div>

					<div class="title">正常模式 ==> 命令模式</div>
					<div class="content open">
						<p>
							在正常模式中，<br>
							1) 按下：（冒号）键，会进入命令模式.<br>
							2) 按下.符号, 会重复执行上一次的命令.
						</p>
					</div>

					<div class="title">正常模式 ==> 可视模式</div>
					<div class="content open">
						<p>
							在正常模式按下v, V, (Ctrl) + v，可以进入可视模式。<br>
							可视模式中的操作有点像拿鼠标进行操作，选择文本的时候有一种鼠标选择的即视感，有时候会很方便。
						</p>
					</div>
				</div>
			</div>

			<div class="title">常用操作</div>
			<div class="content open">
				<div class="list list-number">
					<div class="title">光标操作</div>
					<div class="content closed">
						<div class="list list-number">
							<div class="title">简单方向移动</div>
							<div class="content open">
								<p>
									h: 左移<br>
									l: 右移<br>
									j: 下移<br>
									k: 上移
								</p>
								<p class="text-remark">前面都可以加数字, 代表执行操作的次数.</p>
							</div>

							<div class="title">行移动</div>
							<div class="content open">
								<p>
									gg: 移动到文件头<br>
									G: 移动到文件尾<br>
									nG: 移动到第n行<br>
									H: 移动到当前窗口第一行(head)<br>
									M: 移动到当前窗口中间行(middle)<br>
									L: 移动到当前窗口最后一行(last)
								</p>
								<p>
									0: 移动到行首<br>
									$: 移动到行尾
								</p>
								<p>
									ctrl + b: 向上翻页(b为backward)<br>
									ctrl + f: 向下翻页(f为forward)
								</p>
							</div>

							<div class="title">单词移动</div>
							<div class="content open">
								<p>
									w: 移动到下一个单词的首字母<br>
									b: 移动到前一个单词的首字母<br>
									e: 移动到下一个单词的尾字母
								</p>
								<p class="text-remark">前面可以加数字, 代表执行操作的次数</p>
							</div>

							<div class="title">标记移动</div>
							<div class="content open">
								<p>
									ma: 为当前行设置一个标记, 名字为a. 标记名可以为a~z, A~Z<br>
									'a: 返回到标记名为a的那一行<br>	
									:delmarks a: 删除标记a<br>
									:marks: 列出所有的标记
								</p>
							</div>

							<div class="title">句子</div>
							<div class="content open">
								<p>
									): 下一句<br>
									(: 上一句
								</p>
								<p class="text-remark">前面可以加数字, 代表执行操作的次数</p>
							</div>

							<div class="title">光标跳转</div>
							<div class="content open">
								<p>
									ctrl + o: 返回上一次光标的位置<br>
									ctrl + i: 同上相反
								</p>
							</div>
						</div>
					</div>

					<div class="title">查找</div>
					<div class="content open">
						tbd...
					</div>
				</div>
			</div>

			<div class="title">配置</div>
			<div class="content open">

			</div>

			<div class="title">插件</div>
			<div class="content open">

			</div>

			<br>

			<div class="title">窗口控制: 最大化, 最小化</div>
			<div class="content closed">
				<p>
					最大化命令 :simalt ~x<br>
					恢复命令 :simalt ~r<br>
					最小化命令 :simalt ~n<br>
				</p>
			</div>

			<div class="title">自动切换输入法</div>
			<div class="content closed">
				<p>
					在 Windows 下，用 AutoHotkey 的脚本来处理。<br>

					按 ESC 时，将输入法切换为为美式键盘。<br>

					脚本如下（保存为 vim.ahk）<br>

					~esc::<br>

					Send, {ESC}<br>

					; 下方代码可只保留一个<br>
					SwitchIME(0x04090409) ; 英语(美国) 美式键盘<br>
					SwitchIME(0x08040804) ; 中文(中国) 简体中文-美式键盘<br>
					return<br>

					SwitchIME(dwLayout){<br>
					HKL:=DllCall("LoadKeyboardLayout", Str, dwLayout, UInt, 1)<br>
					ControlGetFocus,ctl,A<br>
					SendMessage,0x50,0,HKL,%ctl%,A<br>
					}<br>
					发布于 2018-0<br>
				</p>
			</div>

			<div class="title">删除</div>
			<div class="content closed">
				<p>
					删除光标前按键 d0 <br>
					删除光标后按键 D <br> 
				</p>
			</div>
		</div>
    </div>

    <div class="title">AHK</div>
    <div class="content closed">

    </div>
</div>

{include file="template/footer" /}