{include file="template/header" title="Java 日期" /}
<div class="list list-number">
    <div class="title">Date</div>
    <div class="content closed">
		<p>在JDK1.0中，Date类是唯一的一个代表时间的类，但是由于Date类不便于实现国际化，所以从JDK1.1版本开始，推荐使用Calendar类进行时间和日期处理。</p>
    </div>

    <div class="title">Calendar</div>
    <div class="content closed">
		<p>
			Calendar这个API的设计者打算要做全球化的考量. 基本的想法是当你要操作日期时, 你会要求一个Calendar, 然后Java虚拟机会赏你一个Calendar的子类实例( 实际上Calendar是个抽象的类, 所以你能用到的是它的具体子类).有意思的是, 你所取得的Calendar是符合所在地区(locale)特性的, 通常大部分的地区使用公历, 对你也有可能处于使用农历或其他特殊格式的情况, 此时你可以让Java函数库来处理这一类的日期.
		</p> 
		<p class="text-strong">范例</p>	
		<pre class="prettyprint linenums">
<code>
Calendar c = Calendar.getInstance(); // 大部分的Java版本都会默认返回一个java.util.GregorianCalendar实例
c.set(2004, 1, 7, 15, 40);    // 将时间设置为2004年1月7日15:40.

long day1 = c.getTimeInMillis();    // 将目前时间转换为以millisecond表示

day += 1000 * 60 * 60;
c.setTimeInMillis(day1);    // 将c的时间加上1个小时
System.out.println("new hour " + c.get(c.HOUR_OF_DAY);

c.add(c.DATE, 35);    // 加上35天, 所以c已经到了2月
System.out.println("add 35 days " + c.getTime());

c.roll(c.DATE, 35);    // 滚动35天, 注意: 只有日期字段会动, 月份不会动
System.out.println("add 35 days " + c.getTime());

c.set(c.Date, 1);    // 直接设定DATE的值
System.out.println("set to 1  " + c.getTime());
</code>
		</pre>	
    </div>
</div>

<hr>
<p>
	参考资料<br>
	<a href="https://docs.oracle.com/javase/10/docs/api/java/util/Date.html">Date API</a>
</p>
{include file="template/footer" /}