{include file="template/header" title="Java 浮点数" /}
<p align="left">Java种有两种类型的浮点数: float &amp; double, 表示不同范围的浮点数(浮点数有误差).</p>
<table border="1" width="80%" bordercolor="#C0C0C0">
	<tbody><tr>
			<td bgcolor="#66CCFF"><b>类型</b></td>
			<td bgcolor="#66CCFF"><b>占用字节</b></td>
			<td bgcolor="#66CCFF"><b>表数范围</b></td>
			<td bgcolor="#66CCFF"><b>字面值</b></td>
		</tr>
		<tr>
			<td>float</td>
			<td>4字节, 范围规模可变</td>
			<td>-3.403E38 ~ 3.403E38</td>
			<td>3.14F</td>
		</tr>
		<tr>
			<td>double</td>
			<td>8字节, 范围规模可变</td>
			<td>-1.798E308 ~ 1.798E308</td>
			<td>3.14 (不加好后缀, 默认是double型)</td>
		</tr>
	</tbody></table>



<p><font face="华文楷体">注: 浮点数是有误差的!</font></p>
<p><b>十进制 &amp; 科学技术</b></p>
<p>十进制形式, 例如: 3.14<br>
	科学计数法形式, 例如: 3.14e2</p>
<p><font face="华文楷体">注:&nbsp; Java浮点型常量默认为double型, 如要声明一个常量为float型, 
	则需在数字后面加上"F", 如: 3.14F.</font></p>
{include file="template/footer" /}