{include file="template/header" title="Java 整数" /}
<p>Java共有4种类型的整数: byte, short, int和long, 代表不同大小的整数. 4种类型的整数都是primitive类型.</p>
<table class="table table-bordered table-sm w-50">
    <tbody>
		<tr>
			<th>类型</th>
			<th>占用字节</th>
			<th>表示的数值范围</th>
			<th>字面值</th>
		</tr>
        <tr>
            <td>byte</td>
            <td>1</td>
			<td>-128 ~ 127</td>
			<td>123</td>
        </tr>
        <tr>
            <td>short</td>
            <td>2</td>
			<td>-65536 ~ 65535</td>
			<td>123</td>
        </tr>
        <tr>
            <td>int</td>
            <td>4</td>
			<td>-2<sup>31</sup> ~ 2<sup>31</sup>-1</td>
			<td>123(不加后缀, 默认是int类型)</td>
        </tr>
        <tr>
            <td>long</td>
            <td>8</td>
			<td>-2<sup>63</sup> ~ 2<sup>63</sup>-1</td>
			<td>123L</td>
        </tr>
    </tbody>
</table>
<p class="text-remark">备注: Java没有无符号的整数, 所有整数都是有符号的!</p>

<p class="text-strong">各种进制</p>
<table class="table table-bordered table-sm w-25">
	<tbody>
		<tr>
			<td>10进制</td>
			<td>123</td>
		</tr>
		<tr>
			<td>8进制</td>
			<td>0123(以数字0开头)</td>
		</tr>
		<tr>
			<td>16进制</td>
			<td>0x123</td>
		</tr>
	</tbody>
</table>	
{include file="template/footer" /}