{include file="template/header" title="Java 接口" /}
<p>Java只能单继承, 但是可以实现多个接口!</p>
<div class="list list-number">
    <div class="title">定义接口</div>
    <div class="content open">
		<p>Java中的接口是"抽象方法"和常量值的定义的集合!</p> 
		<pre class="prettyprint linenums">
<code>
interface Pet {
    // 常量
    [ public static final ] int id = 1;

    // 抽象方法
    [ public abstract ] void play( );
}
</code>
		</pre>
		<p>注意: []中的写和不写效果是一样的!</p>
    </div>

    <div class="title">实现接口</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
class Dog implements Pet {  // 可以实现多个接口
    ...
}
</code>
		</pre>
    </div>

    <div class="title">继承接口</div>
    <div class="content open">
		<pre class="prettyprint linenums">
<code>
interface A extends B {
   // 一个接口可以继承自另一个接口, 添加其他常量&方法
}
</code>
		</pre>
    </div>

    <div class="title">接口 vs 多态</div>
    <div class="content open">
		<p>接口也支持多态. 而且接口作为多态类型时, 对象可以是任何对象, 而类作为多态类型时, 对象必须是子类型!!!</p>
    </div>
</div>
{include file="template/footer" /}